<div class="dialoge_header">
    <div class="left_text">{{dataa.title |translate}}</div>
    <mat-icon class="close-icon" (click)="onClose()" color="warn">close</mat-icon>
</div>
<div class="dialoge_middle_container small_popup">
    <form focusInvalidInput [formGroup]="changeMemberForm">

        <app-dropdwon [jsonKey]="'name'" [arrayType]="'KEY_TYPE'" [form]="changeMemberForm" [key]="'assigned_member_id'"
            [optionArray]="dropdownService.getmemberdata"
            *ngIf="dropdownService.getmemberdata?.length && changeMemberForm" field="Assign Member"></app-dropdwon>
    </form>
</div>
<div class="dialoge_button_container">
    <button class="global_close_btn" (click)="onClose()" mat-stroked-button>{{"Close"|translate}}</button>
    <button type="submit" class="global_submit_btn" mat-flat-button (click)="assignLoan()">
        <mat-icon class="submitbtn_icon" *ngIf="!loading">check</mat-icon>
        <app-button-loader *ngIf="loading"></app-button-loader>
        <span>{{"Submit"|translate}}</span>
    </button>
</div>