<div class="dialoge_header">
    <div class="left_text">{{dataa.title}}</div>
    <mat-icon class="close-icon" [mat-dialog-close]="true" color="warn">close</mat-icon>
</div>
<div class="dialoge_middle_container full_height_cover">
    <form focusInvalidInput [formGroup]="receivedAmountForm">
        <div class="modal_insert small_popup">
            <div class="row">
                <div class="col-sm-12 col-lg-12 col-xs-12 ">
                    <app-input [disabled]="true" [isDateField]="false" label="Company Name" [(value)]="companyName"
                        [isRequired]="true" [className]="'bottom_error_msg'" [form]="receivedAmountForm"
                        [key]="'companyName'"></app-input>

                </div>
                <div class="col-sm-12 col-lg-12 col-xs-12">
                    <app-input [isDateField]="false" label="Received Amount" [(value)]="receivedAmount"
                        [isRequired]="true" [className]="'bottom_error_msg'" [form]="receivedAmountForm"
                        [key]="'receivedAmount'" [displayMsg]="'Amount is required'"></app-input>
                </div>
                <div class="col-sm-12 col-lg-12 col-xs-12">
                    <app-input [isDateField]="true" label="Received Date" [(value)]="receivedDate" [isRequired]="true"
                        [className]="'bottom_error_msg'" [form]="receivedAmountForm" [key]="'receivedDate'"
                        [displayMsg]="'Date is required'"></app-input>
                </div>
                <div class="col-sm-12 col-lg-12 col-xs-12">
                    <!-- <app-input [isDateField]="false" label="Amount Details" [(value)]="amountDetails"
                        [isRequired]="true" [className]="'bottom_error_msg'" [form]="receivedAmountForm"
                        [key]="'amountDetails'" [displayMsg]="'Amount details is required'"></app-input> -->
                    <mat-form-field class="global_textarea_block" appearance="outline">
                        <mat-label>Amount Details</mat-label>
                        <textarea matInput formControlName="amountDetails" name="amountDetails"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="dialoge_button_container">
    <button class="global_close_btn" [mat-dialog-close]="true" mat-stroked-button>Close</button>
    <button class="global_submit_btn" mat-flat-button (click)="submit()">
        <app-button-loader *ngIf="loading"></app-button-loader>
        <mat-icon *ngIf="!loading" class="submitbtn_icon">check</mat-icon>
        <span>Submit</span>
    </button>
</div>