<div class="card shadow dash-cardbox">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col col-sm-4 pl-1">
                <h3 class="mb-0">Apply new loan list</h3>
            </div>
            <!-- <div class="col text-right pr-1">
                <div class="listsearch-topblock search_withaddbtn">
                    <div class="search-box">
                        <input type="search" placeholder="Search" class="searchtxt long_search" />
                        <i class="mdi mdi-magnify"></i>
                    </div>
                    <div class="right_addbtn">
                        <button data-toggle="modal" data-target="#addmember_modal" type="button" class="btn btn-success btn-sm create_header_btn" mat-raised-button>
                            <i class="mdi mdi-account">
                            </i>
                            <span class="btn-txt button-text">Add Member</span>
                        </button>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <table class="table align-items-center table-flush mydata-table">
        <thead class="thead-light">
            <tr>
                <th class="col text-center">CNo.</th>
                <th class="col">Customer Name</th>
                <th class="col">Mobile</th>
                <th class="col">Apply Date</th>
                <th class="col">Apply By</th>
                <th class="col">Amount</th>
                <th class="col text-center">Status</th>
                <th class="col action_col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col text-center" data-name="CNo.">Rk-01</td>
                <td class="col" data-name="Customer">Bablu Mishra</td>
                <td class="col" data-name="Mobile">6263626505</td>
                <td class="col" data-name="Apply Date"><small>23-05-2021 10:30 am</small></td>
                <td class="col" data-name="Apply By">Self</td>
                <td class="col text-right" data-name="Amount"><i class="mdi mdi-currency-inr mr-1"></i>1500.00</td>
                <td class="col text-center" data-name="Status">
                    <div class="badge bg-warning text-white">Pending</div>
                </td>
                <td class="action_col" data-name="Action">
                    <div placement="bottom-right">
                        <button mat-icon-button class="matmenu_tablebtn" [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <div class="table_actionmenu">
                                <button mat-menu-item>
                                    <i class="mdi mdi-message mr-2"></i>
                                    <span>Action For Loan</span>
                                </button>
                                <button mat-menu-item>
                                    <i class="mdi mdi-eye mr-2"></i>
                                    <span>View Details</span>
                                </button>

                            </div>
                        </mat-menu>

                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="8" class="norecord_col">
                    <div class="no_found">
                        <h1 (click)="openDialog()"><i class="mdi mdi-alert-outline"></i></h1><b> No record found </b>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>