<div class="dialoge_header">
    <div class="left_text">{{dataa.title}}</div>
    <mat-icon class="close-icon" [mat-dialog-close]="true" color="warn">close</mat-icon>
</div>
<div class="dialoge_middle_container full_height_cover small_popup">
    <form focusInvalidInput [formGroup]="applyLoanForm">
        <div class="modal_insert">
            <app-input [isDateField]="false" [disabled]=true label="Customer Name" [(value)]="customername"
                [isRequired]="true" [className]="'bottom_error_msg'" [form]="applyLoanForm" [key]="'customername'"
                [displayMsg]="'Name is required'"></app-input>
            <app-input [isDateField]="false" [disabled]=true label="Loan Amount" [(value)]="loan_amount"
                [isRequired]="true" [className]="'bottom_error_msg'" [form]="applyLoanForm" [key]="'loan_amount'"
                [displayMsg]="'Loan amount is required'"></app-input>
            <app-textarea [disabled]="true" label="Details" [(value)]="detail" [isRequired]="true"
                [className]="'bottom_error_msg'" [form]="applyLoanForm" [key]="'detail'"
                [displayMsg]="'Loan Detail is required'"></app-textarea>
        </div>
    </form>
</div>
<div class="dialoge_button_container">
    <button class="global_close_btn" [mat-dialog-close]="true" mat-stroked-button>Close</button>
    <button type="submit" class="global_submit_btn" mat-flat-button (click)="customerLoanApply()">
        <mat-icon class="submitbtn_icon" *ngIf="!loading">check</mat-icon>
        <app-button-loader *ngIf="loading"></app-button-loader>
        <span *ngIf="!customer_id">Submit</span>
        <span *ngIf="customer_id">Apply New Loan</span>
    </button>
</div>