<div class="card shadow dash-cardbox">
    <div class="card-header">
        <div class="single_line_headwith_btn">
            <div class="title_left">{{"Loan List" | translate}}</div>
            <button class="btn global_submit_btn heading_btn" (click)="openDialogApplyLoan()" mat-raised-button>
                <i class="mdi mdi-currency-inr"></i>
                <span class="btn-txt">{{"Apply Loan" | translate}}</span>
            </button>
        </div>
    </div>
    <table class="table align-items-center table-flush mydata-table">
        <thead class="thead-light">
            <tr>
                <th class="col id_col">{{"Loan No."|translate}}</th>
                <th class="col">{{"Start/Apply Date"|translate}}</th>
                <th class="col">{{"Receiver"|translate}}</th>
                <th class="col amount_col">{{"Amount"|translate}}</th>
                <th class="col amount_col">{{"Balance"|translate}}</th>
                <th class="col status_col">{{"Status"|translate}}</th>
                <th class="col action_col">{{"Action"|translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="loader">
                <td class="norecord_col" colspan="7">
                    <app-page-loader></app-page-loader>
                </td>
            </tr>
            <tr *ngIf="loanList.length == 0 && !loader">
                <td class="norecord_col" colspan="7">
                    <app-no-record-found type="table" notext="You have not any loan"></app-no-record-found>
                </td>
            </tr>
            <ng-container *ngIf="loanList.length !== 0 && !loader">
                <tr *ngFor="let loan of loanList">
                    <td class="col" [attr.data-name]="'Loan No.' | translate">{{loan.loan_no}}</td>
                    <td class="col" [attr.data-name]="'Start / Apply Date' | translate"><small>{{loan.start_date}} To
                            {{loan.end_date}}</small></td>
                    <td class="col" [attr.data-name]="'Receiver' | translate" data-name="Receiver">{{loan.member?.name}}</td>
                    <td class="col" [attr.data-name]="'Amount' | translate" data-name="Amount"><i class="mdi mdi-currency-inr mr-1"></i>{{loan.loan_amount}}
                    </td>
                    <td class="col" [attr.data-name]="'Balance' | translate" data-name="Balance"><i
                            class="mdi mdi-currency-inr mr-1"></i>{{loan.remaining_amount}}</td>
                    <td class="col text-center" [attr.data-name]="'Status' | translate">
                        <div class="badge bg-success text-white">{{loan.loan_status}}</div>
                    </td>
                    <td class="action_col" [attr.data-name]="'Action' | translate">
                        <div placement="bottom-right">
                            <button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <div class="table_actionmenu">
                                    <button mat-menu-item (click)="openDialogInstallmentHistory(loan)">
                                        <i class="mdi mdi-history"></i> <span>
                                            {{"Loan History"|translate}}</span>
                                    </button>
                                    <button mat-menu-item (click)="openDialogDownloadReport(loan)">
                                        <i class="mdi mdi-chart-bar"></i> <span>
                                            {{"Downloan Report"|translate}}</span>
                                    </button>
                                    <button mat-menu-item (click)="openDialogViewDetail(loan)">
                                        <i class="mdi mdi-eye mr-2"></i> <span>{{"View Details"|translate}}</span>
                                    </button>
                                </div>
                            </mat-menu>

                        </div>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>