<div class="dialoge_header">
    <div class="left_text">{{dataa.title}}</div>
    <mat-icon class="close-icon" [mat-dialog-close]="true" color="warn">close</mat-icon>
</div>
<div class="dialoge_middle_container ">
    <table class="table table-bordered table-responsive bg-white more_table">
        <thead>
            <tr>
                <th>Start Date</th>
                <th>End Date </th>
                <th>Plan</th>
                <th>Amount</th>
                <th>Pending</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>11-Jun-2024</td>
                <td>11-Jun-2025</td>
                <td>Monthly</td>
                <td>1499.00</td>
                <td>0.00</td>
                <td><span class="badge bg-success text-white">Completed</span></td>
            </tr>
            <tr>
                <td>11-Jun-2024</td>
                <td>11-Jun-2025</td>
                <td>Monthly</td>
                <td>15000.00</td>
                <td>5000.00</td>
                <td><span class="badge bg-warning text-white">Running</span></td>
            </tr>
        </tbody>
    </table>
</div>