<div class="dialoge_header">
    <div class="left_text">{{dataa.title}}</div>
    <mat-icon class="close-icon" [mat-dialog-close]="true" color="warn">close</mat-icon>
</div>
<div class="dialoge_middle_container ">
    <table class="table table-bordered table-responsive popup_table bg-white more_table">
        <thead>
            <tr>
                <th>Start Date </th>
                <th>End Date </th>
                <th>Plan </th>
                <th>Amount </th>
                <th>Pending </th>
                <th>Status </th>

            </tr>

        </thead>
        <tbody>

            <tr>
                <td>RK-101</td>
                <td>RK-101</td>
                <td>{{loanDetails.member_fname}}</td>
                <td>{{loanDetails.member_fname}}</td>
                <td>{{loanDetails.member_fname}}</td>
                <td><span class="badge bg-success text-white">Active</span></td>
            </tr>

        </tbody>
    </table>
</div>