<div class="dialoge_header">
    <div class="left_text">{{dataa.title |translate}}</div>
    <mat-icon class="close-icon" [mat-dialog-close]="true" color="warn">close</mat-icon>
</div>
<div class="dialoge_middle_container view_details_small_popup full_height_coverwithout_bottom">
    <table class="table table-bordered table-responsive bg-white more_table">
        <tbody>
            <!-- <tr>
                <td><b>Member No. :</b></td>
                <td>RK-101</td>
            </tr> -->
            <tr>
                <td><b>{{"Profile"|translate}} :</b></td>
                <td>
                    <div class="list_image_block float-left" *ngIf="data.image == null ">
                        <img src="assets/imgs/default-pic.png">
                    </div>
                    <div class="list_image_block float-left" *ngIf="data.image != null ">
                        <img src="{{data.image}}">
                    </div>
                </td>
            </tr>
            <tr>
                <td><b>{{"Member Name"|translate}} :</b></td>
                <td>{{data.name}}</td>
            </tr>

            <tr>
                <td><b>{{"Mobile"|translate}} :</b></td>
                <td>{{data.mobile}}</td>
            </tr>
            <tr>
                <td><b>{{"Email"|translate}} :</b></td>
                <td>{{data.email}}</td>
            </tr>
            <tr>
                <td><b>{{"Aadhar No."|translate}} :</b></td>
                <td>{{data.aadhar_no}}</td>
            </tr>
            <tr>
                <td><b>{{"Join Date"|translate}} :</b></td>
                <td>{{data.join_date}}</td>
            </tr>
            <tr>
                <td><b>{{"Status"|translate}} :</b></td>
                <td>
                    <span class="badge bg-success text-white" *ngIf="data.status == 'active'">{{data.status}}</span>
                    <span class="badge bg-danger text-white " *ngIf="data.status == 'inactive'">{{data.status}}</span>

            </tr>
            <tr>
                <td><b>{{"Address"|translate}} :</b></td>
                <td>{{data.address}}</td>
            </tr>
        </tbody>
    </table>
</div>