<div class="entry_container">
    <div class="entry_head_details">
        <div class="entry_details">
            <div class="entry_img">
                <img src="../../../assets/imgs/default-pic.png" />
            </div>
            <ul class="user_info list-unstyled">
                <li>Pinku Kesharwani</li>
                <li>6263626505</li>
                <li><b><i class="mdi mdi-currency-inr"></i>1600</b></li>
            </ul>
        </div>
    </div>
    <div class="entry_listing">
        <div class="entry_action" *ngIf='userType == 2'>
            <div class="addrow">
                <form focusInvalidInput [formGroup]="receivedAmountForm">
                    <app-input [isDateField]="false" label="Amount" [(value)]="amount" [isRequired]="true"
                        [className]="'bottom_error_msg'" [form]="receivedAmountForm" [key]="'amount'"
                        [displayMsg]="'amount is required.'"></app-input>
                    <!-- <input type="text" matInput placeholder="Amount" value="200" class="form-control"> -->
                    <div class="button_block">
                        <button class="btn btn-danger global_submit_btn">
                            <i class="mdi mdi-minus mr-2"></i>Credit
                        </button>

                        <button mat-raised-button class="btn btn-success global_submit_btn" (click)="save()"><mat-icon
                                class="submitbtn_icon" *ngIf="!loading && collection_type == 'deposit'">check</mat-icon>
                            <app-button-loader *ngIf="loading"></app-button-loader>
                            <span>Debit</span>
                        </button>

                    </div>
                </form>
            </div>

        </div>
        <div class="entry_head">
            <div class="col date">Date</div>
            <div class="col balance">Balance</div>
            <div class="col amount">Amount</div>
        </div>
        <div class="entry_row_container">
            <div class="entry_row">
                <div class="col date">12-Mar-2021 <small>10:30:am</small></div>
                <div class="col balance">1500.00</div>
                <div class="col amount"><span class="color-green">500</span></div>
            </div>
            <div class="entry_row">
                <div class="col date">11-Mar-2021 <small>10:30:am</small></div>
                <div class="col balance">1000.00</div>
                <div class="col amount"><span class="color-red">300</span></div>
            </div>
            <div class="entry_row">
                <div class="col date">10-Mar-2021 <small>10:30:am</small></div>
                <div class="col balance">1300.00</div>
                <div class="col amount"><span class="color-green">200</span></div>
            </div>
            <div class="entry_row">
                <div class="col date">10-Mar-2021 <small>10:30:am</small></div>
                <div class="col balance">1300.00</div>
                <div class="col amount"><span class="color-green">200</span></div>
            </div>
            <div class="entry_row">
                <div class="col date">10-Mar-2021 <small>10:30:am</small></div>
                <div class="col balance">1300.00</div>
                <div class="col amount"><span class="color-green">200</span></div>
            </div>
            <div class="entry_row">
                <div class="col date">10-Mar-2021 <small>10:30:am</small></div>
                <div class="col balance">1300.00</div>
                <div class="col amount"><span class="color-green">200</span></div>
            </div>
            <div class="entry_row">
                <div class="col date">10-Mar-2021 <small>10:30:am</small></div>
                <div class="col balance">1300.00</div>
                <div class="col amount"><span class="color-green">200</span></div>
            </div>
        </div>
    </div>
</div>