<div class="entry_container">
    <div class="entry_head_details">
        <div class="entry_details" *ngIf='userType == 2'>
            <ng-container *ngIf="loanDataShare">
                <div class="entry_img">
                    <img *ngIf="loanDataShare?.customer?.image == null && 
                loanDataShare?.customer?.image == ''" src="../../../assets/imgs/default-pic.png" />
                    <img src="{{loanDataShare?.customer?.image}}" />
                </div>
                <ul class="user_info list-unstyled">
                    <li>{{loanDataShare?.customer?.name}}</li>
                    <li>{{loanDataShare?.customer?.mobile}}</li>
                    <li>{{loanDataShare?.loan_amount}}</li>
                    <li><b><i class="mdi mdi-currency-inr"></i>{{loanRemainingAmount}}</b></li>
                </ul>
            </ng-container>
            <ng-container *ngIf="depositDataSharre">
                <div class="entry_img">
                    <img *ngIf="depositDataSharre?.customer?.image == null && 
                                    depositDataSharre?.customer?.image == ''"
                        src="../../../assets/imgs/default-pic.png" />
                    <img src="{{depositDataSharre?.customer?.image}}" />
                </div>
                <ul class="user_info list-unstyled">
                    <li>{{depositDataSharre?.customer?.name}}</li>
                    <li>{{depositDataSharre?.customer?.mobile}}</li>
                    <li><b><i class="mdi mdi-currency-inr"></i>
                            <span>{{totalDepositAmount}}</span>
                        </b></li>
                    <li>
                        <button mat-raised-button class="btn btn-small"
                            (click)="openDialogRequestMoney(depositDataSharre)">
                            {{"Request Money"|translate}}
                        </button>
                    </li>
                </ul>
            </ng-container>
        </div>
        <div class="entry_details" *ngIf='userType == 3'>
            <ng-container *ngIf="loanDataShare && depositDataSharre == undefined">
                <div class="entry_img">
                    <img *ngIf="loanDataShare?.customer?.image == null && 
                            loanDataShare?.customer?.image == ''" src="../../../assets/imgs/default-pic.png" />
                    <img src="{{loanDataShare?.customer?.image}}" />
                </div>
                <ul class="user_info list-unstyled">
                    <li>{{loanDataShare?.customer?.name}}</li>
                    <li>{{loanDataShare?.customer?.mobile}}</li>
                    <li><b><i class="mdi mdi-currency-inr"></i>
                            {{totalDepositAmount}}
                        </b></li>
                    <li>
                        <button mat-raised-button class="btn btn-small" (click)="openDialogRequestMoney(loanDataShare)">
                            {{"Request Money"|translate}}
                        </button>
                    </li>
                </ul>
            </ng-container>
            <ng-container *ngIf="depositDataSharre">
                <div class="entry_img">
                    <img *ngIf="depositDataSharre?.customer?.image == null && 
                                                depositDataSharre?.customer?.image == ''"
                        src="../../../assets/imgs/default-pic.png" />
                    <img src="{{depositDataSharre?.customer?.image}}" />
                </div>
                <ul class="user_info list-unstyled" *ngIf='userType == 3 && depositDataSharre !=undefined'>
                    <li>{{depositDataSharre?.customer?.name}}</li>
                    <li>{{depositDataSharre?.customer?.mobile}}</li>
                    <li><b><i class="mdi mdi-currency-inr"></i> {{totalDepositAmount}}</b></li>
                    <li>
                        <button mat-raised-button class="btn btn-small"
                            (click)="openDialogRequestMoney(depositDataSharre)">
                            {{"Request Money"|translate}}
                        </button>
                    </li>
                </ul>
            </ng-container>
        </div>
    </div>
    <div class="entry_listing">
        <div class="entry_action" *ngIf='userType == 2'>
            <div class="addrow">
                <form focusInvalidInput [formGroup]="receivedAmountForm">

                    <app-input [isDateField]="true" label="Date" [(value)]="select_date" [isRequired]="true"
                        [className]="'bottom_error_msg'" [form]="receivedAmountForm" [key]="'select_date'"
                        [displayMsg]="'Date is required'"></app-input>

                    <app-input [isDateField]="false" label="Amount" [(value)]="amount" [isRequired]="true"
                        [className]="'bottom_error_msg'" [form]="receivedAmountForm" [key]="'amount'"
                        [displayMsg]="'Amount is required.'"></app-input>
                    <div class="button_block" [ngClass]="{'flex-right': checkType == 'loan'}">
                        <button *ngIf="checkType != 'loan'" mat-raised-button class="btn bg-secondary global_submit_btn"
                            (click)="debitAmount()">
                            <app-button-loader *ngIf="loadingMinus"></app-button-loader>
                            <i class="mdi mdi-minus mr-2" *ngIf="!loadingMinus"></i>
                            <span> {{"Debit"|translate}}</span>
                        </button>
                        <button mat-raised-button class="btn btn-danger global_submit_btn" (click)="creditAmount()">
                            <app-button-loader *ngIf="loadingPlus"></app-button-loader>
                            <i class="mdi mdi-plus mr-2" *ngIf="!loadingPlus"></i>
                            <span>{{"Credit"|translate }} </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <ng-container *ngIf="userType == 2 && depositDataSharre">
            <div class="entry_head">
                <div class="col date">{{"Date"|translate}}</div>
                <div class="col balance">{{"Balance"|translate}}</div>
                <div class="col amount">{{"Amount"|translate}}</div>
            </div>
            <div class="entry_row_container">
                <div *ngIf="loading">
                    <app-page-loader></app-page-loader>
                </div>
                <ng-container *ngIf="!loading">
                    <div class="entry_row" *ngFor="let item of  depositData">
                        <div class="col date">{{item.created_at}} </div>
                        <div class="col balance">{{item.balance}}</div>
                        <div class="col amount" *ngIf="item.action_type == 'credit'">
                            <span class="color-green">{{item.amount}}</span>
                        </div>
                        <div class="col amount" *ngIf="item.action_type == 'debit'">
                            <span class="color-red">{{item.amount}}</span>
                        </div>
                    </div>
                </ng-container>
                <div *ngIf="depositData?.length == 0 && !loading">
                    <app-no-record-found type="table" notext="No collection found"></app-no-record-found>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="userType == 2 && loanDataShare">
            <div class="entry_head">
                <div class="col date">{{"Date"|translate}}</div>
                <div class="col balance">{{"Balance"|translate}}</div>
                <div class="col amount">{{"Amount"|translate}}</div>
            </div>
            <div class="entry_row_container">
                <div *ngIf="loading">
                    <app-page-loader></app-page-loader>
                </div>
                <ng-container *ngIf="!loading">
                    <div class="entry_row" *ngFor="let item of  loanData">
                        <div class="col date">{{item.created_at}} </div>
                        <div class="col balance">{{item.balance}}</div>
                        <div class="col amount">
                            <span class="color-green">{{item.amount}}</span>
                        </div>
                    </div>
                    <div *ngIf="loanData?.length == 0 || loanData?.length == null">
                        <app-no-record-found type="table" notext="No collection found"></app-no-record-found>
                    </div>
                </ng-container>
            </div>
        </ng-container>

        <ng-container *ngIf="userType == 3">
            <div class="entry_head">
                <div class="col date">{{"Date"|translate}}</div>
                <div class="col balance">{{"Balance"|translate}}</div>
                <div class="col amount">{{"Amount"|translate}}</div>
            </div>
            <div class="entry_row_container">
                <div *ngIf="depositData?.length && !loading">
                    <div class="entry_row" *ngFor="let item of  depositData">
                        <div class="col date">{{item.created_at}} </div>
                        <div class="col balance">{{item.balance}}</div>
                        <div class="col amount" *ngIf="item.action_type == 'credit'"><span
                                class="color-green">{{item.amount}}</span>
                        </div>
                        <div class="col amount" *ngIf="item.action_type == 'debit'"><span
                                class="color-red">{{item.amount}}</span></div>
                    </div>
                </div>
                <div *ngIf="loading">
                    <app-page-loader></app-page-loader>
                </div>
                <div *ngIf="depositData?.length == 0 && !loading">
                    <app-no-record-found type="table" notext="No collection found"></app-no-record-found>
                </div>
            </div>
        </ng-container>


    </div>
</div>