<div class="entry_container">
    <div class="entry_head_details">
        <div class="entry_details" *ngIf='userType == 2'>
            <ng-container *ngIf="loanDataShare && depositDataSharre == undefined">
                <div class="entry_img">
                    <img *ngIf="loanDataShare?.customer?.image == null && 
                loanDataShare?.customer?.image == ''" src="../../../assets/imgs/default-pic.png" />
                    <img src="{{loanDataShare?.customer?.image}}" />
                </div>
                <ul class="user_info list-unstyled">
                    <li>{{loanDataShare?.customer?.name}}</li>
                    <li>{{loanDataShare?.customer?.mobile}}</li>
                    <li><b><i class="mdi mdi-currency-inr"></i>{{loanDataShare.remaining_amount}}</b></li>
                    <li>
                        <button mat-raised-button class="btn btn-small" (click)="openDialogRequestMoney(loanDataShare)">
                            Request Money
                        </button>
                    </li>
                </ul>
            </ng-container>
            <ng-container *ngIf="depositDataSharre">
                <div class="entry_img">
                    <img *ngIf="depositDataSharre?.customer?.image == null && 
                                    depositDataSharre?.customer?.image == ''"
                        src="../../../assets/imgs/default-pic.png" />
                    <img src="{{depositDataSharre?.customer?.image}}" />
                </div>
                <ul class="user_info list-unstyled" *ngIf='userType == 2 && depositDataSharre !=undefined'>
                    <li>{{depositDataSharre?.customer?.name}}</li>
                    <li>{{depositDataSharre?.customer?.mobile}}</li>
                    <li><b><i class="mdi mdi-currency-inr"></i>{{depositDataSharre.total_paid}}</b></li>
                    <li>
                        <button mat-raised-button class="btn btn-small"
                            (click)="openDialogRequestMoney(depositDataSharre)">
                            Request Money
                        </button>
                    </li>
                </ul>
            </ng-container>
        </div>

        <div class="entry_details" *ngIf='userType == 3'>
            <ng-container *ngIf="loanDataShare && depositDataSharre == undefined">
                <div class="entry_img">
                    <img *ngIf="loanDataShare?.customer?.image == null && 
                            loanDataShare?.customer?.image == ''" src="../../../assets/imgs/default-pic.png" />
                    <img src="{{loanDataShare?.customer?.image}}" />
                </div>
                <ul class="user_info list-unstyled">
                    <li>{{loanDataShare?.customer?.name}}</li>
                    <li>{{loanDataShare?.customer?.mobile}}</li>
                    <li><b><i class="mdi mdi-currency-inr"></i>{{loanDataShare.total_paid}}</b></li>
                    <li>
                        <button mat-raised-button class="btn btn-small" (click)="openDialogRequestMoney(loanDataShare)">
                            Request Money
                        </button>
                    </li>
                </ul>
            </ng-container>
            <ng-container *ngIf="depositDataSharre">
                <div class="entry_img">
                    <img *ngIf="depositDataSharre?.customer?.image == null && 
                                                depositDataSharre?.customer?.image == ''"
                        src="../../../assets/imgs/default-pic.png" />
                    <img src="{{depositDataSharre?.customer?.image}}" />
                </div>
                <ul class="user_info list-unstyled" *ngIf='userType == 3 && depositDataSharre !=undefined'>
                    <li>{{depositDataSharre?.customer?.name}}</li>
                    <li>{{depositDataSharre?.customer?.mobile}}</li>
                    <li><b><i class="mdi mdi-currency-inr"></i>{{depositDataSharre.total_paid}}</b></li>
                    <li>
                        <button mat-raised-button class="btn btn-small"
                            (click)="openDialogRequestMoney(depositDataSharre)">
                            Request Money
                        </button>
                    </li>
                </ul>
            </ng-container>
        </div>
    </div>


    <div class="entry_listing">
        <div class="entry_action" *ngIf='userType == 2'>
            <div class="addrow">
                <form focusInvalidInput [formGroup]="receivedAmountForm">
                    <app-input [isDateField]="false" label="Amount" [(value)]="amount" [isRequired]="true"
                        [className]="'bottom_error_msg'" [form]="receivedAmountForm" [key]="'amount'"
                        [displayMsg]="'Amount is required.'"></app-input>
                    <div class="button_block">
                        <button *ngIf="collection_type != 'loan'" mat-raised-button
                            class="btn bg-secondary global_submit_btn" (click)="debitAmount()">
                            <i class="mdi mdi-minus mr-2"></i><span>Debit</span>
                        </button>
                        <button mat-raised-button class="btn btn-danger global_submit_btn" (click)="creditAmount()">
                            <i class="mdi mdi-plus mr-2"></i>Credit
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <ng-container *ngIf="userType == 3">
            <div class="entry_head">
                <div class="col date">Date</div>
                <div class="col balance">Balance</div>
                <div class="col amount">Amount</div>
            </div>
            <div class="entry_row_container">
                <div class="entry_row" *ngFor="let item of  depositData">
                    <div class="col date">{{item.created_at}} </div>
                    <div class="col balance">{{item.balance}}</div>
                    <div class="col amount" *ngIf="item.action_type == 'credit'"><span
                            class="color-green">{{item.amount}}</span>
                    </div>
                    <div class="col amount"><span class="color-red"
                            *ngIf="item.action_type == 'debit'">{{item.amount}}</span></div>
                </div>
                <div *ngIf="loading">
                    <app-page-loader></app-page-loader>
                </div>
                <div *ngIf="depositData?.length == 0 && !loading">
                    <app-no-record-found type="table" notext="No collection found"></app-no-record-found>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="userType == 2">
            <div class="entry_head">
                <div class="col date">Date</div>
                <div class="col balance">Balance</div>
                <div class="col amount">Amount</div>
            </div>
            <div class="entry_row_container">
                <div class="entry_row" *ngFor="let item of  depositData">
                    <div class="col date">{{item.created_at}} </div>
                    <div class="col balance">{{item.balance}}</div>
                    <div class="col amount" *ngIf="item.action_type == 'credit'"><span
                            class="color-green">{{item.amount}}</span>
                    </div>
                    <div class="col amount"><span class="color-red"
                            *ngIf="item.action_type == 'debit'">{{item.amount}}</span>
                    </div>
                </div>
                <div *ngIf="loading">
                    <app-page-loader></app-page-loader>
                </div>
                <div *ngIf="depositData?.length == 0 && !loading">
                    <app-no-record-found type="table" notext="No collection found"></app-no-record-found>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="userType == 2 && loanData?.length ==0">
            <div class="entry_head">
                <div class="col date">Date</div>
                <div class="col balance">Balance</div>
                <div class="col amount">Amount</div>
            </div>
            <div class="entry_row_container">
                <div class="entry_row" *ngFor="let item of  loanData">
                    <div class="col date">{{item.created_at}} </div>
                    <div class="col balance">{{item.balance}}</div>
                    <div class="col amount"><span class="color-green">{{item.amount}}</span>
                    </div>

                </div>
                <div *ngIf="loading">
                    <app-page-loader></app-page-loader>
                </div>
                <div *ngIf="loanData?.length == 0 && !loading">
                    <app-no-record-found type="table" notext="No collection found"></app-no-record-found>
                </div>
            </div>
        </ng-container>
    </div>
</div>