.head_details {
    display: flex;
    align-items: center;
    font-size: 12px;
    .total_block {
        padding: 5px 10px;
        color: #ffffff;
        border-radius: 3px;
        margin: 0px 5px;
        box-shadow: var(--app-brand-card-shadow);
        span {
            margin-right: 10px;
            font-weight: 600;
        }
    }
}