<div class="list-containner">
    <div class="row">
        <div class="col-xl-12 mb-xl-0">
            <div class="card shadow dash-cardbox">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col col-sm-3 pl-1">
                            <h3 class="mb-0">Deposit List</h3>
                        </div>
                        <div class="col p-0 head_details" *ngIf="filteredDataarray.length != 0">
                            <div class="total_block bg-warning mr-2" (click)="openDialogCollectionHistory()"><span>Daily
                                    Amount</span><b>{{depositDetail?.last_date_total_credit}}</b>
                            </div>
                            <div class="total_block bg-primary mr-2" (click)="openDialogChangeStatus('data')">
                                <span>Total Amount</span><b>{{depositDetail?.total_paid_amount}}</b>
                            </div>
                            <div class="total_block bg-success" (click)="openDialogChangeMember()"><span>Total
                                    Customer</span><b>{{depositDetail?.total_cusotomer}}</b></div>
                        </div>
                        <div class="listsearchwith_ddl_topblock">
                            <mat-form-field class="global_dropdown global_ddl_m_p_0" appearance="outline">
                                <mat-label>Filter By Status</mat-label>
                                <mat-icon class="arrow_icon">keyboard_arrow_down</mat-icon>
                                <mat-select [formControl]="selectedStatus" (selectionChange)="onStatusChange($event)">
                                    <mat-option [value]="'active'">Active</mat-option>
                                    <mat-option [value]="'inactive'">Inactive</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div class="search-box">
                                <input type="text" placeholder="Search" (keyup)="searchTable($event)"
                                    class="searchtxt" />
                                <i class="mdi mdi-magnify"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <table class="table align-items-center table-flush mydata-table">
                    <thead class="thead-light">
                        <tr>
                            <th class="col sorting_apply id_col">
                                <span>Deposit No.</span>
                                <div class="sorting_arrow">
                                    <mat-icon (click)="sortTableData('deposit_no');">{{ isAsc ?
                                        'north' : 'south'
                                        }}</mat-icon>
                                </div>
                            </th>
                            <th class="col profile_col">Profile</th>
                            <th class="col sorting_apply">
                                <span>Name</span>
                                <div class="sorting_arrow">
                                    <mat-icon (click)="sortTableData('name');">{{ isAsc ?
                                        'north' : 'south'
                                        }}</mat-icon>
                                </div>
                            </th>
                            <th class="col">Assign Member</th>
                            <th class="col mobile_col">Mobile</th>
                            <th class="col amount_col">Available Amt</th>
                            <th class="col status_col sorting_apply">
                                <span>Status</span>
                                <div class="sorting_arrow">
                                    <mat-icon (click)="sortTableData('status');">{{ isAsc ?
                                        'north' : 'south'
                                        }}</mat-icon>
                                </div>

                            </th>
                            <th class="col action_col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="loader">
                            <td colspan="8">
                                <app-page-loader></app-page-loader>
                            </td>
                        </tr>
                        <tr *ngIf="filteredDataarray.length == 0 && !loader">
                            <td colspan="8">
                                <app-no-record-found type="table"
                                    notext="You have not added any deposit account."></app-no-record-found>
                            </td>
                        </tr>
                        <ng-container *ngIf="filteredDataarray.length != 0 && !loader">
                            <tr class="received_row" *ngFor="let item of filteredDataarray">
                                <td class="col">{{item.deposit_no}}</td>
                                <td class="col" data-name="Profile">
                                    <div class="list_image_block" *ngIf="item.image == null">
                                        <img src="assets/imgs/default-pic.png" />
                                    </div>
                                    <div class="list_image_block" *ngIf="item.image != null">
                                        <img onerror="this.src='assets/imgs/default-pic.png';" src="{{item.image}}" />
                                    </div>
                                </td>
                                <td class="col" data-name="Name">{{item.customer?.name}}</td>
                                <td class="col" data-name="Assign ">{{item.member?.name}}</td>
                                <td class="col" data-name="Mobile">{{item.customer?.mobile}}</td>
                                <td class="col text-right" data-name="Available Amt">{{item.remaining_amount}}</td>
                                <td class="col text-center" data-name="Status">
                                    <span class="badge bg-success text-white"
                                        *ngIf="item.status == 'active'">{{item.status}}</span>
                                    <span class="badge bg-danger text-white "
                                        *ngIf="item.status == 'inactive'">{{item.status}}</span>
                                </td>
                                <td class="action_col" data-name="Action">
                                    <div placement="bottom-right">
                                        <button mat-icon-button [matMenuTriggerFor]="menu"
                                            aria-label="Example icon-button with a menu">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                        <mat-menu #menu="matMenu">
                                            <div class="table_actionmenu">
                                                <button mat-menu-item (click)="openDialogCollectionHistory(item)">
                                                    <i class="mdi mdi-history mr-2"></i> <span>
                                                        Collection History</span>
                                                </button>
                                                <!-- <button mat-menu-item (click)="openDialogAssignMember()">
                                                    <i class="mdi mdi-account-check-outline mr-2"></i> <span>
                                                        Assign Member</span>
                                                </button> -->
                                                <button mat-menu-item (click)="openDialogChangeMember(item)">
                                                    <i class="mdi mdi-account-switch-outline mr-2"></i> <span>
                                                        Change Member</span>
                                                </button>
                                                <button mat-menu-item (click)="openDialogViewDetail(item)">
                                                    <i class="mdi mdi-eye mr-2"></i> <span>View Details</span>
                                                </button>

                                                <button mat-menu-item (click)="openDialogChangeStatus(item)">
                                                    <i class="mdi mdi-account-off-outline mr-2"></i>
                                                    <span>Change Status</span>
                                                </button>
                                            </div>
                                        </mat-menu>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>