<div class="list-containner">
    <div class="row">
        <div class="col-xl-12 mb-xl-0">
            <div class="card shadow dash-cardbox">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col col-sm-3 pl-1">
                            <h3 class="mb-0">Collection List</h3>
                        </div>
                        <div class="col p-0 head_details">
                            <div class="total_block bg-primary mr-2"><span>Available Amount</span><b>5,30,100.00</b>
                            </div>
                            <div class="total_block bg-success"><span>Total Customer</span><b>150</b></div>
                        </div>
                        <div class="col text-right pr-1">
                            <div class="listsearch-topblock mr-0">
                                <div class="search-box">
                                    <input type="search" placeholder="Search" class="searchtxt" />
                                    <i class="mdi mdi-magnify"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table align-items-center table-flush mydata-table">
                    <thead class="thead-light">
                        <tr>
                            <th class="col">Customer No.</th>
                            <th class="col text-center">Image</th>
                            <th class="col">Name</th>
                            <th class="col">Mobile</th>
                            <th class="col">Assign</th>
                            <th class="col">Available Amt</th>
                            <th class="col text-center">Status</th>
                            <th class="col action_col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col">RK-Cus101</td>
                            <td class="col">
                                <div class="list_image_block">
                                    <img src="assets/imgs/default-pic.png" />
                                </div>
                            </td>
                            <td class="col">Sandeep Patel</td>
                            <td class="col">6263626505</td>
                            <td class="col">Roshan</td>
                            <td class="col text-right">12,000.00</td>
                            <td class="col text-center"><span class="badge bg-success text-white">Active</span></td>
                            <td class="action_col">
                                <div placement="bottom-right">
                                    <button mat-icon-button [matMenuTriggerFor]="menu"
                                        aria-label="Example icon-button with a menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <div class="table_actionmenu">
                                            <button mat-menu-item (click)="openDialog()">
                                                <i class="mdi mdi-history mr-2"></i>
                                                <span>Collection History</span>
                                            </button>
                                            <button mat-menu-item (click)="openDialog2()">
                                                <i class="mdi mdi-account-check-outline mr-2"></i>
                                                <span>Assign Member</span>
                                            </button>
                                            <button mat-menu-item (click)="openDialog3()">
                                                <i class="mdi mdi-account-switch-outline mr-2"></i>
                                                <span>Change Member</span>
                                            </button>
                                            <button mat-menu-item (click)="openDialog4()">
                                                <i class="mdi mdi-eye mr-2"></i>
                                                <span>View Details</span>
                                            </button>
                                            <button mat-menu-item (click)="openDialog5()">
                                                <i class="mdi mdi-account-off-outline mr-2"></i>
                                                <span>Change Status</span>
                                            </button>
                                        </div>
                                    </mat-menu>
                                </div>


                            </td>
                        </tr>
                        <tr>
                            <td colspan="8" class="norecord_col">
                                <div class="no_found">
                                    <h1><i class="mdi mdi-alert-outline"></i></h1><b> No record found </b>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>