<div class="list-containner">
    <form focusInvalidInput [formGroup]="editForm">
        <div class="card shadow dash-cardbox radius_none_bottom">
            <div class="card_inner_block">
                <div class="profile_with_block">
                    <div class="image_upload">
                        <app-fileupload class="fileupload_image" [imageSize]="'120'" [uploadType]="'profile'"
                            formControlName="profile" name="profile"
                            (fileChange)="profileChange($event)"></app-fileupload>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <app-input [disabled]="true" [isDateField]="false" label="Company Name"
                                [(value)]="companyName" [isRequired]="true" [className]="'bottom_error_msg'"
                                [form]="editForm" [key]="'companyName'"
                                [displayMsg]="'Company name is required'"></app-input>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <app-input [isDateField]="false" label="Owner Name" [(value)]="ownerName"
                                [isRequired]="true" [className]="'bottom_error_msg'" [form]="editForm"
                                [key]="'ownerName'" [displayMsg]="'Owner name is required'"></app-input>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <app-input [disabled]='true' [isDateField]="false" label="Mobile" [(value)]="mobile"
                                [isRequired]="true" [className]="'bottom_error_msg'" [form]="editForm" [key]="'mobile'"
                                [displayMsg]="'Mobile is required'"></app-input>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <app-input [isDateField]="false" label="Primary Color" [(value)]="primaryColor"
                                [isRequired]="true" [className]="'bottom_error_msg'" [form]="editForm"
                                [key]="'primaryColor'" [displayMsg]="'Primary color is required'"></app-input>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <app-input [isDateField]="false" label="Secondary Color" [(value)]="secondaryColor"
                                [isRequired]="true" [className]="'bottom_error_msg'" [form]="editForm"
                                [key]="'secondaryColor'" [displayMsg]="'Secondary color is required'"></app-input>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <app-input [isDateField]="false" [disabled]='true' label="Company Login Id" [(value)]="companyLoginId"
                                [isRequired]="true" [className]="'bottom_error_msg'" [form]="editForm"
                                [key]="'companyLoginId'" [displayMsg]="'Login id is required'"></app-input>
                        </div>
                        <div class="col-sm-12">
                            <app-input [isDateField]="false" label="Address" [(value)]="address" [isRequired]="true"
                                [className]="'bottom_error_msg'" [form]="editForm" [key]="'address'"
                                [displayMsg]="'Address is required'"></app-input>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="file_upload_block global_textbox_block">
                                <label class="m-0">Company Main Logo</label>
                                <app-fileupload class="fileupload" formControlName="main_logo" name="main_logo"
                                    (fileChange)="mainlogoChange($event)"></app-fileupload>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="file_upload_block global_textbox_block">
                                <label class="m-0">Company Sidebar Logo</label>
                                <app-fileupload class="fileupload" formControlName="sidebar_logo" name="sidebar_logo"
                                    (fileChange)="sidebarChange($event)"></app-fileupload>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="file_upload_block global_textbox_block">
                                <label class="m-0">Company Favicon Icon</label>
                                <app-fileupload class="fileupload" formControlName="favicon_icon" name="favicon_icon"
                                    (fileChange)="feviconChange($event)"></app-fileupload>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dialoge_button_container page_button">
            <button type="submit" class="global_submit_btn" mat-flat-button (click)="updateDetails()">
                <mat-icon class="submitbtn_icon" *ngIf="!loading">check</mat-icon>
                <app-button-loader *ngIf="loading"></app-button-loader>
                <span>Update</span>
            </button>
        </div>
    </form>
</div>