<div class="list-containner profile_edit_container" *ngIf="user_type == 1">
    <form focusInvalidInput [formGroup]="editForm">
        <div class="card shadow dash-cardbox radius_none_bottom">
            <div class="card_inner_block">
                <div class="profile_with_block">
                    <div class="image_upload">
                        <app-fileupload [form]="editForm" class="fileupload_image"
                            [accept]="'image/png, image/gif, image/jpeg'" [imageUrl]="editForm.value['owner_image']"
                            [imageSize]="'120'" [uploadType]="'profile'" formControlName="owner_image"
                            [formcontrolname]="'owner_image'" name="owner_image"
                            (fileChange)="profileChange($event)"></app-fileupload>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <app-input [disabled]="true" [isDateField]="false" label="Company Name"
                                [(value)]="company_name" [isRequired]="true" [className]="'bottom_error_msg'"
                                [form]="editForm" [key]="'company_name'"
                                [displayMsg]="'Company name is required'"></app-input>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <app-input [isDateField]="false" label="Owner Name" [(value)]="owner_name"
                                [isRequired]="true" [className]="'bottom_error_msg'" [form]="editForm"
                                [key]="'owner_name'" [displayMsg]="'Owner name is required'"></app-input>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <app-input [disabled]='true' [isDateField]="false" label="Mobile" [(value)]="mobile"
                                [isRequired]="true" [className]="'bottom_error_msg'" [form]="editForm" [key]="'mobile'"
                                [displayMsg]="'Mobile is required'"></app-input>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <app-input [isDateField]="false" label="Primary Color" [(value)]="primary_color"
                                [isRequired]="true" [className]="'bottom_error_msg'" [form]="editForm"
                                [key]="'primary_color'" [displayMsg]="'Primary color is required'"></app-input>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <app-input [isDateField]="false" label="Secondary Color" [(value)]="secondary_color"
                                [isRequired]="true" [className]="'bottom_error_msg'" [form]="editForm"
                                [key]="'secondary_color'" [displayMsg]="'Secondary color is required'"></app-input>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <app-input [isDateField]="false" [disabled]='true' label="Prefix" [(value)]="prefix"
                                [className]="'bottom_error_msg'" [form]="editForm" [key]="'prefix'"></app-input>
                        </div>
                        <div class="col-sm-12">
                            <app-input [isDateField]="false" label="Address" [(value)]="address" [isRequired]="true"
                                [className]="'bottom_error_msg'" [form]="editForm" [key]="'address'"
                                [displayMsg]="'Address is required'"></app-input>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="file_upload_block global_textbox_block">
                                <label class="m-0">Company Main Logo</label>
                                <app-fileupload [form]="editForm" class="fileupload_image_fullwidth"
                                    [accept]="'image/png, image/gif, image/jpeg'" [formcontrolname]="'main_logo'"
                                    [imageUrl]="editForm.value['main_logo']" [uploadType]="'fullwidth'"
                                    [imageCaption]="''" [form]="editForm" formControlName="main_logo" name="main_logo"
                                    (fileChange)="mainlogoChange($event)"></app-fileupload>
                                <!-- <app-fileupload class="fileupload" formControlName="main_logo" name="main_logo"
                                    (fileChange)="mainlogoChange($event)"></app-fileupload> -->
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="file_upload_block global_textbox_block">
                                <label class="m-0">Company Sidebar Logo</label>
                                <app-fileupload [form]="editForm" class="fileupload_image_fullwidth"
                                    [accept]="'image/png, image/gif, image/jpeg'" [formcontrolname]="'sidebar_logo'"
                                    [imageUrl]="editForm.value['sidebar_logo']" [uploadType]="'fullwidth'"
                                    [imageCaption]="''" [form]="editForm" formControlName="sidebar_logo"
                                    name="sidebar_logo" (fileChange)="sidebarChange($event)"></app-fileupload>
                                <!-- <app-fileupload class="fileupload" formControlName="sidebar_logo" name="sidebar_logo"
                                    (fileChange)="sidebarChange($event)"></app-fileupload> -->
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="file_upload_block global_textbox_block">
                                <label class="m-0">Company Favicon Icon</label>
                                <app-fileupload [form]="editForm" class="fileupload_image_fullwidth"
                                    [accept]="'image/png, image/gif, image/jpeg'" [formcontrolname]="'favicon_icon'"
                                    [imageUrl]="editForm.value['favicon_icon']" [uploadType]="'fullwidth'"
                                    [imageCaption]="''" [form]="editForm" formControlName="favicon_icon"
                                    name="favicon_icon" (fileChange)="feviconChange($event)"></app-fileupload>
                                <!-- <app-fileupload class="fileupload" formControlName="favicon_icon" name="favicon_icon"
                                    (fileChange)="feviconChange($event)"></app-fileupload> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dialoge_button_container page_button">
            <button type="submit" class="global_submit_btn" mat-flat-button (click)="updateDetails()">
                <mat-icon class="submitbtn_icon" *ngIf="!loading">check</mat-icon>
                <app-button-loader *ngIf="loading"></app-button-loader>
                <span>Update</span>
            </button>
        </div>
    </form>
</div>

<div class="list-containner profile_edit_container" *ngIf="user_type == 0">
    <form focusInvalidInput [formGroup]="editForm">
        <div class="card shadow dash-cardbox radius_none_bottom">
            <div class="card_inner_block">
                <div class="profile_with_block">
                    <div class="image_upload">
                        <!-- <app-fileupload [form]="editForm" class="fileupload_image"
                            [accept]="'image/png, image/gif, image/jpeg'" [imageUrl]="editForm.value['owner_image']"
                            [imageSize]="'120'" [uploadType]="'profile'" formControlName="owner_image"
                            [formcontrolname]="'owner_image'" name="owner_image"
                            (fileChange)="profileChange($event)"></app-fileupload> -->
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <app-input [disabled]="true" [isDateField]="false" label="Name" [(value)]="name"
                                [isRequired]="true" [className]="'bottom_error_msg'" [form]="editForm" [key]="'name'"
                                [displayMsg]="'Name is required'"></app-input>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <app-input [disabled]="false" [isDateField]="false" label="Email" [(value)]="email"
                                [isRequired]="true" [className]="'bottom_error_msg'" [form]="editForm" [key]="'email'"
                                [displayMsg]="'Email is required'"></app-input>
                        </div>

                        <div class="col-sm-4 col-xs-12">
                            <app-input [disabled]='true' [isDateField]="false" label="Mobile" [(value)]="mobile"
                                [isRequired]="true" [className]="'bottom_error_msg'" [form]="editForm" [key]="'mobile'"
                                [displayMsg]="'Mobile is required'"></app-input>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <app-input [disabled]='true' [isDateField]="false" label="Status" [(value)]="status"
                                [isRequired]="true" [className]="'bottom_error_msg'" [form]="editForm"
                                [key]="'status'"></app-input>
                        </div>




                    </div>
                </div>
            </div>
        </div>
        <div class="dialoge_button_container page_button">
            <button type="submit" class="global_submit_btn" mat-flat-button (click)="updateDetails()">
                <mat-icon class="submitbtn_icon" *ngIf="!loading">check</mat-icon>
                <app-button-loader *ngIf="loading"></app-button-loader>
                <span>Update</span>
            </button>
        </div>
    </form>
</div>