<div class="dialoge_header">
    <div class="left_text">{{dataa.title |translate}}</div>
    <mat-icon class="close-icon" (click)="onClose()" color="warn">close</mat-icon>
</div>
<div class="dialoge_middle_container small_popup">
    <form focusInvalidInput [formGroup]="receivedAmountForm">
        <div class="global_form_row">
            <app-input [disabled]="true" [isDateField]="false" label="Amount" [(value)]="amount" [isRequired]="true"
                [className]="'bottom_error_msg'" [displayMsg]="'Amount is required'" [form]="receivedAmountForm"
                [key]="'amount'"></app-input>
        </div>
        <div class="global_form_row">
            <mat-form-field class="global_textarea_block" appearance="outline">
                <mat-label>Money Received Details</mat-label>
                <textarea matInput placeholder="Enter Details" formControlName="details" name="details"></textarea>
            </mat-form-field>
        </div>
    </form>
</div>
<div class="dialoge_button_container">
    <button class="global_close_btn" (click)="onClose()" mat-stroked-button>{{"Close"|translate}}</button>
    <button class="global_submit_btn" mat-flat-button (click)="submitStatus()">
        <app-button-loader *ngIf="loading"></app-button-loader>
        <mat-icon *ngIf="!loading" class="submitbtn_icon">check</mat-icon>
        <span>{{"Submit"|translate}}</span>
    </button>
</div>