<div class="dialoge_header">
    <div class="left_text">{{dataa.title}}</div>
    <div class="right_actions">
        <div class="upload_btn" (click)="downloadExcel()">            
            <i class="mdi mdi-cloud-download-outline"></i>
        </div>
        <div class="upload_btn">
            <form focusInvalidInput [formGroup]="customerImportForm">
           <i class="mdi mdi-cloud-upload-outline"></i>
           <app-fileupload accept="'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel'" formControlName="customer" name="customer" class="fileupload_transparent"
           (change)="handleFileInput($event)"></app-fileupload>
           </form>
        </div>
        <mat-icon class="close-icon" [mat-dialog-close]="true" color="warn">close</mat-icon>
    </div>
</div>
<div class="dialoge_middle_container internal_height_cover">
    <div class="no_found_center" *ngIf="!data.length">
        <app-no-record-found type="page" notext="No Import Customers avialable"></app-no-record-found>
    </div>
    <table class="table table-bordered table-responsive popup_table bg-white more_table" *ngIf="data.length">
        <thead>
            <tr>
                <th *ngFor="let key of (data[0] | keys)">{{ key }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data">
                <td *ngFor="let key of (item | keys)" contenteditable='true'>{{ item[key] }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="dialoge_button_container">
    <button class="global_close_btn" [mat-dialog-close]="true" mat-stroked-button>Close</button>
    <button class="global_submit_btn" *ngIf="data.length" mat-flat-button (click)="submit()">Submit</button>
</div>


<!-- <input <mat-form-field class="example-full-width" appearance="outline"> (change)="handleFileInput($event)" />

    <app-fileupload class="fileupload" (fileChange)="onFileChange($event)"></app-fileupload> -->