<mat-form-field class="global_textbox_block" appearance="outline">
    <mat-label>{{ label }}</mat-label>

    <input matInput [type]="isDateField ? 'date' : 'text'" [disabled]="disabled" [required]="isRequired"
        [formControl]="control" [matDatepicker]="picker">

    <ng-container *ngIf="isDateField">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </ng-container>

    <div *ngIf="control?.invalid && control?.touched" class="{{ className }}">
        <span *ngIf="control.errors?.['required']">{{ displayMsg }}<br></span>
        <span *ngIf="control.errors?.['minlength']">Minimum length is {{
            control.errors?.['minlength'].required
            }} characters<br></span>
        <span *ngIf="control?.errors?.['maxlength']">Maximum length is {{
            control.errors?.['maxlength'].required
            }} characters<br></span>
        <span *ngIf="control?.errors?.['pattern']">Invalid format<br></span>
    </div>
</mat-form-field>