<div class="card shadow dash-cardbox">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col col-sm-4 pl-1">
                <h3 class="mb-0">Upcoming Expiered Company List</h3>
            </div>
            <div class="col text-right pr-1 datewith_search_block">
                <div class="listsearch-topblock search_withaddbtn">
                    <div class="search-box">
                        <input type="search" placeholder="Search" class="searchtxt" />
                        <i class="mdi mdi-magnify"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table align-items-center table-flush mydata-table">
        <thead class="thead-light">
            <tr>
                <th class="col">Name</th>
                <th class="col text-center">Logo</th>
                <th class="col">Owner Name</th>
                <th class="col">Mobile</th>
                <th class="col">Start Date</th>
                <th class="col">End Date</th>
                <th class="col">Plan</th>
                <th class="col">Amount</th>
                <th class="col">Pending</th>
                <th class="col text-center">Status</th>
                <th class="col action_col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr class="received_row">
                <td class="col" data-name="Name">RK Group</td>
                <td class="col" data-name="Logo">
                    <div class="list_image_block">
                        <img src="assets/imgs/rk-group-logo.png" />
                    </div>
                </td>
                <td class="col" data-name="Owner Name">Roshan Kanojiya</td>
                <td class="col" data-name="Mobile">6263626505</td>
                <td class="col" data-name="Start Date">12-02-2022</td>
                <td class="col" data-name="End Date">11-02-2023</td>
                <td class="col" data-name="Plan">Monthly</td>
                <td class="col text-right" data-name="Amount">1999.00</td>
                <td class="col text-right" data-name="Pending">1999.00</td>
                <td class="col text-center" data-name="Status"><span class="badge bg-success text-white">Active</span>
                </td>
                <td class="action_col" data-name="Action">

                    <div placement="bottom-right">

                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>

                        <mat-menu #menu="matMenu">
                            <div class="table_actionmenu">
                                <button mat-menu-item (click)="openDialog()">
                                    <i class="mdi mdi-history mr-2"></i>
                                    <span>Company History</span>
                                </button>


                                <button mat-menu-item (click)="openDialog2()">

                                    <i class="mdi mdi-eye mr-2"></i> <span>View Details</span>
                                </button>

                                <button mat-menu-item (click)="openDialog7('1ms', '5ms')">
                                    <i class="mdi mdi-account-off-outline mr-2"></i>
                                    <span>Status</span>
                                </button>
                            </div>
                        </mat-menu>

                    </div>



                </td>
            </tr>

            <tr>
                <td colspan="11" class="norecord_col">
                    <div class="no_found">
                        <h1><i class="mdi mdi-alert-outline"></i></h1><b> No record found </b>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>