<div class="dialoge_header">
    <div class="left_text">{{dataa.title}}</div>
    <mat-icon class="close-icon" [mat-dialog-close]="true" color="warn">close</mat-icon>
</div>
<div class="dialoge_middle_container full_height_cover">
    <form focusInvalidInput [formGroup]="fixedDepositForm">
        <div class="modal_insert">
            <div class="row">
                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <mat-form-field class="global_textbox_block" appearance="outline">
                        <mat-label>Fixed Deposite Name</mat-label>
                        <input matInput required formControlName="fixed_deposit_name" name="fixed_deposit_name">
                        <app-input-field-validation [className]="'bottom_error_msg'" [form]="fixedDepositForm"
                            [key]="'fixed_deposit_name'" [displayMsg]="'Fixed deposit name is required'">
                        </app-input-field-validation>
                    </mat-form-field>
                </div>
                <div class="col-sm-6 col-lg-4 col-xs-12">
                    <mat-form-field class="global_textbox_block" appearance="outline">
                        <mat-label>Start Date</mat-label>
                        <input type="date" matInput required formControlName="start_date" name="start_date" />
                        <app-input-field-validation [className]="'bottom_error_msg'" [form]="fixedDepositForm"
                            [key]="'start_date'" [displayMsg]="'Start date is required'">
                        </app-input-field-validation>
                    </mat-form-field>
                </div>
                <div class="col-sm-6 col-lg-4 col-xs-12">
                    <mat-form-field class="global_textbox_block" appearance="outline">
                        <mat-label>End Date</mat-label>
                        <input type="date" matInput required formControlName="end_date" name="end_date" />
                        <app-input-field-validation [className]="'bottom_error_msg'" [form]="fixedDepositForm"
                            [key]="'end_date'" [displayMsg]="'End date is required'">
                        </app-input-field-validation>
                    </mat-form-field>
                </div>
                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <mat-form-field class="global_textbox_block" appearance="outline">
                        <mat-label>Customer Name</mat-label>
                        <input matInput required formControlName="customer_name" name="customer_name" />
                        <app-input-field-validation [className]="'bottom_error_msg'" [form]="fixedDepositForm"
                            [key]="'customer_name'" [displayMsg]="'Name is required'">
                        </app-input-field-validation>
                    </mat-form-field>
                </div>
                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <mat-form-field class="global_textbox_block" appearance="outline">
                        <mat-label>Customer Mobile</mat-label>
                        <input matInput required formControlName="moblie" name="moblie" />
                        <app-input-field-validation [className]="'bottom_error_msg'" [form]="fixedDepositForm"
                            [key]="'moblie'" [displayMsg]="'Mobile is required'">
                        </app-input-field-validation>
                    </mat-form-field>
                </div>
                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <mat-form-field class="global_textbox_block" appearance="outline">
                        <mat-label>Customer Email</mat-label>
                        <input matInput required formControlName="email" name="email" />
                        <app-input-field-validation [className]="'bottom_error_msg'" [form]="fixedDepositForm"
                            [key]="'email'" [displayMsg]="'Email is required'">
                        </app-input-field-validation>
                    </mat-form-field>
                </div>
                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <mat-form-field class="global_textbox_block" appearance="outline">
                        <mat-label>Start Amount</mat-label>
                        <input matInput required formControlName="start_amount" name="start_amount" />
                        <app-input-field-validation [className]="'bottom_error_msg'" [form]="fixedDepositForm"
                            [key]="'start_amount'" [displayMsg]="'Start amount is required'">
                        </app-input-field-validation>
                    </mat-form-field>
                </div>
                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <mat-form-field class="global_textbox_block" appearance="outline">
                        <mat-label>End Amount</mat-label>
                        <input matInput required formControlName="end_amount" name="end_amount" />
                        <app-input-field-validation [className]="'bottom_error_msg'" [form]="fixedDepositForm"
                            [key]="'end_amount'" [displayMsg]="'End amount is required'">
                        </app-input-field-validation>
                    </mat-form-field>
                </div>
                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <mat-form-field class="global_dropdown" appearance="outline">
                        <mat-label>Status</mat-label>
                        <mat-icon class="arrow_icon">keyboard_arrow_down</mat-icon>
                        <mat-select formControlName="status" name="status">
                            <mat-option value="Active">Active</mat-option>
                            <mat-option value="Inactive">Inactive</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <mat-form-field class="global_textbox_block" appearance="outline">
                        <mat-label>Aadhar No.</mat-label>
                        <input matInput formControlName="adhar_number" name="adhar_number" />
                    </mat-form-field>
                </div>

                <div class="col-sm-6 col-lg-4 col-xs-12">
                    <mat-form-field class="global_textbox_block" appearance="outline">
                        <mat-label>Address</mat-label>
                        <textarea matInput formControlName="address" name="address"></textarea>
                    </mat-form-field>
                </div>
                <div class="col-sm-6 col-lg-4 col-xs-12">
                    <mat-form-field class="global_textbox_block" appearance="outline">
                        <mat-label>Details</mat-label>
                        <textarea matInput formControlName="details" name="details"></textarea>
                    </mat-form-field>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12">
                    <label class="m-0">Adhar Front</label>
                    <app-fileupload class="fileupload" (fileChange)="onFileChange($event)"></app-fileupload>

                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12">
                    <label class="m-0">Adhar Back</label>
                    <app-fileupload class="fileupload" (fileChange)="onFileChange2($event)"></app-fileupload>

                </div>
            </div>
        </div>

    </form>
</div>
<div class="dialoge_button_container">
    <button class="global_close_btn" [mat-dialog-close]="true" mat-stroked-button>Close</button>
    <button class="global_submit_btn" mat-flat-button (click)="update()">Submit</button>
</div>