<div class="list-containner">
    <div class="row">
        <div class="col-xl-12 mb-xl-0">
            <div class="card shadow dash-cardbox">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col col-sm-4 pl-1">
                            <h3 class="mb-0">Loan List</h3>
                        </div>

                        <div class="col text-right pr-1 datewith_search_block">
                            <div class="listsearch-topblock search_withaddbtn">
                                <div class="search-box">
                                    <input type="search" placeholder="Search" class="searchtxt" />
                                    <i class="mdi mdi-magnify"></i>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <app-global-datatable [actions]="actions" [data]="loanData" [columns]="columns"
                    (actionTriggered)="onAction($event)"></app-global-datatable>

            </div>
        </div>
    </div>

</div>