<div class="dialoge_header">
    <div class="left_text" *ngIf="!customer_Id">{{dataa.title}}</div>
    <div class="left_text" *ngIf="customer_Id">{{dataa.title}}</div>
    <mat-icon class="close-icon" [mat-dialog-close]="true" color="warn">close</mat-icon>
</div>
<div class="dialoge_middle_container full_height_cover">
    <form focusInvalidInput [formGroup]="customerForm">
        <div class="modal_insert">
            <div class="row">
                <!-- <div class="col-sm-4 col-lg-4 col-xs-12">

                    <app-input [isDateField]="false" label="Customer No." [(value)]="customerNo" [isRequired]="true"
                        [className]="'bottom_error_msg'" [form]="customerForm" [key]="'customerNo'"
                        [displayMsg]="'Customer number is required'"></app-input>


                </div> -->
                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <app-input [isDateField]="false" label="Name" [(value)]="customerName" [isRequired]="true"
                        [className]="'bottom_error_msg'" [form]="customerForm" [key]="'customerName'"
                        [displayMsg]="'Name is required'"></app-input>


                </div>
                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <app-input [isDateField]="false" label="Mobile" [(value)]="mobile" [isRequired]="true"
                        [className]="'bottom_error_msg'" [form]="customerForm" [key]="'mobile'"
                        [displayMsg]="'Mobile is required'"></app-input>

                </div>
                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <app-input [isDateField]="false" label="Email" [(value)]="email" [isRequired]="true"
                        [className]="'bottom_error_msg'" [form]="customerForm" [key]="'email'"
                        [displayMsg]="'Email is required'"></app-input>


                </div>
                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <app-input [isDateField]="false" label="Aadhar No." [(value)]="adharNumber" [isRequired]="true"
                        [className]="'bottom_error_msg'" [form]="customerForm" [key]="'adharNumber'"
                        [displayMsg]="'Aadhar number is required'"></app-input>


                </div>
                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <app-input [isDateField]="true" label="Join Date" [(value)]="joinDate" [isRequired]="true"
                        [className]="'bottom_error_msg'" [form]="customerForm" [key]="'joinDate'"
                        [displayMsg]="'Join date is required'"></app-input>


                </div>
                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <app-input [isDateField]="false" label="Customer Login Id" [(value)]="memberLoingId"
                        [isRequired]="true" [className]="'bottom_error_msg'" [form]="customerForm"
                        [key]="'memberLoingId'" [displayMsg]="'Login Id is required'"></app-input>


                </div>
                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <app-input [isDateField]="false" label="Password" [(value)]="password" [isRequired]="true"
                        [className]="'bottom_error_msg'" [form]="customerForm" [key]="'password'"
                        [displayMsg]="'Password is required'"></app-input>


                </div>
                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <app-dropdwon key="status" field="Status" formControlName="status" name="status"></app-dropdwon>
                </div>
                <div class="col-sm-12">
                    <app-input [isDateField]="false" label="Address" [(value)]="address" [isRequired]="true"
                        [className]="'bottom_error_msg'" [form]="customerForm" [key]="'address'"
                        [displayMsg]="'Address is required'"></app-input>


                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12">
                    <div class="file_upload_block global_textbox_block">
                        <label class="m-0">Customer Image</label>
                        <app-fileupload class="fileupload" (fileChange)="onFileChange($event)"></app-fileupload>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
<div class="dialoge_button_container">
    <button class="global_close_btn" [mat-dialog-close]="true" mat-stroked-button>Close</button>
    <button class="global_submit_btn" mat-flat-button (click)="save()" *ngIf="!customer_Id">
        <app-button-loader *ngIf="loading"></app-button-loader>
        <mat-icon *ngIf="!loading" class="submitbtn_icon">check</mat-icon>
        <span>Submit</span>
    </button>
    <button class="global_submit_btn" mat-flat-button (click)="update()" *ngIf="customer_Id">Update</button>
</div>