<div class="dialoge_header">
    <div class="left_text">{{dataa.title |translate}}</div>
    <!-- <div class="left_text" *ngIf="customer_id">{{dataa.title |translate}}</div> -->
    <mat-icon class="close-icon" (click)="onClose()" color="warn">close</mat-icon>
</div>
<div class="dialoge_middle_container full_height_cover">
    <form focusInvalidInput [formGroup]="customerForm">
        <div class="modal_insert">
            <div class="profile_with_block">
                <div class="image_upload">
                    <app-fileupload [form]="customerForm" class="fileupload_image"
                        [accept]="'image/png, image/gif, image/jpeg'" [imageUrl]="customerForm.value['image']"
                        [imageSize]="'120'" [uploadType]="'profile'" [formcontrolname]="'image'" formControlName="image"
                        name="image" (fileChange)="onFileChange($event)"></app-fileupload>
                    <!-- <app-fileupload class="fileupload_image" [accept]="'image/png, image/gif, image/jpeg'"
                        [uploadType]="'profile'" (fileChange)="onFileChange($event)"></app-fileupload> -->

                </div>
                <div class="row">
                    <!-- <div class="col-sm-4 col-lg-4 col-xs-12">
                    <app-input [isDateField]="false" label="Customer No." [(value)]="customerNo" [isRequired]="true"
                        [className]="'bottom_error_msg'" [form]="customerForm" [key]="'customerNo'"
                        [displayMsg]="'Customer number is required'"></app-input>
                </div> -->
                    <div class="col-sm-4 col-lg-4 col-xs-12">
                        <app-input [isDateField]="false" label="Name" [(value)]="name" [isRequired]="true"
                            [className]="'bottom_error_msg'" [form]="customerForm" [key]="'name'"
                            [displayMsg]="'Name is required'"></app-input>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-xs-12">
                        <app-input [isDateField]="false" label="Mobile" [(value)]="mobile" [isRequired]="true"
                            [className]="'bottom_error_msg'" [form]="customerForm" [key]="'mobile'"
                            [displayMsg]="'Mobile is required'"></app-input>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-xs-12">
                        <app-input [isDateField]="false" label="Email" [(value)]="email" [isRequired]="true"
                            [className]="'bottom_error_msg'" [form]="customerForm" [key]="'email'"
                            [displayMsg]="'Email is required'"></app-input>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-xs-12">
                        <app-input [isDateField]="false" label="Aadhar No." [(value)]="aadhar_no" [isRequired]="true"
                            [className]="'bottom_error_msg'" [form]="customerForm" [key]="'aadhar_no'"
                            [displayMsg]="'Aadhar number is required'"></app-input>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-xs-12">
                        <app-input [isDateField]="true" label="Join Date" [(value)]="join_date" [isRequired]="true"
                            [className]="'bottom_error_msg'" [form]="customerForm" [key]="'join_date'"
                            [displayMsg]="'Join date is required'"></app-input>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-xs-12">
                        <app-input [isDateField]="false" label="Customer Login Id" [(value)]="customer_login_id"
                            [className]="'bottom_error_msg'" [form]="customerForm" [key]="'customer_login_id'"
                            [displayMsg]="'Login Id is required'"></app-input>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-xs-12" *ngIf="!customer_id">
                        <app-input [disabled]=true [isDateField]="false" label="Password" [(value)]="password"
                            [className]="'bottom_error_msg'" [form]="customerForm" [key]="'password'"
                            [displayMsg]="'Password is required'"></app-input>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-xs-12" *ngIf="user_type == 1">
                        <app-input *ngIf="customer_id" [isDateField]="false" label="Password" [(value)]="password"
                            [className]="'bottom_error_msg'" [form]="customerForm" [key]="'password'"
                            [displayMsg]="'Password is required'"></app-input>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-xs-12">
                        <!-- <app-dropdwon key="status" field="Status" formControlName="status" name="status"></app-dropdwon> -->
                        <app-dropdwon [optionArray]="dropdownService.status" *ngIf="customerForm" [form]="customerForm"
                            [key]="'status'" field="Status"></app-dropdwon>
                    </div>
                    <div class="col-sm-12">
                        <app-input [isDateField]="false" label="Address" [(value)]="address" [isRequired]="true"
                            [className]="'bottom_error_msg'" [form]="customerForm" [key]="'address'"
                            [displayMsg]="'Address is required'"></app-input>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
<div class="dialoge_button_container">
    <button class="global_close_btn" (click)="onClose()" mat-stroked-button>Close</button>
    <button type="submit" class="global_submit_btn" mat-flat-button (click)="saveCustomerData()">
        <mat-icon class="submitbtn_icon" *ngIf="!loading">check</mat-icon>
        <app-button-loader *ngIf="loading"></app-button-loader>
        <span *ngIf="!customer_id">Submit</span>
        <span *ngIf="customer_id">Update</span>
    </button>
</div>