<div class="dialoge_header">
    <div class="left_text">{{dataa.title |translate}}</div>
    <mat-icon class="close-icon" [mat-dialog-close]="true" color="warn">close</mat-icon>
</div>
<div class="dialoge_middle_container table_details_scroll full_height_coverwithout_bottom">
    <!-- <p>{{memberData | json}}</p> -->
    <table class="table table-responsive more_table mb-20">
        <tbody>
            <tr>
                <td><b>{{"Member Name"|translate}} :</b></td>
                <td>{{memberData.member.name}}</td>
            </tr>
            <tr>
                <td><b>{{"Collect Date"|translate}} :</b></td>
                <td>{{memberData.collect_date}}</td>
            </tr>
            <tr>
                <td><b>{{"Customer Meet"|translate}} :</b></td>
                <td>{{memberData.customer_count}}</td>
            </tr>
            <tr>
                <td><b>{{"Collect Balance"|translate}} :</b></td>
                <td>{{memberData.balance}}</td>
            </tr>
            <tr>
                <td><b>{{"Company Paid Amount"|translate}} :</b></td>
                <td>{{memberData.paid_amount}}</td>
            </tr>
            <tr>
                <td><b>{{"Remaining Amount"|translate}} :</b></td>
                <td>{{memberData.remaining_amount}}</td>
            </tr>
            <tr>
                <td><b>{{"Previous Balance"|translate}} :</b></td>
                <td>{{memberData.previous_balance}}</td>
            </tr>
            <tr>
                <td><b>{{"Receive Status"|translate}} :</b></td>
                <td>
                    <span class="badge bg-warning text-white"
                        *ngIf="memberData.payment_status == 'working'">{{memberData.payment_status}}</span>
                    <span class="badge bg-danger text-white "
                        *ngIf="memberData.payment_status == 'unpaid'">{{memberData.payment_status}}</span>
                    <span class="badge bg-success text-white "
                        *ngIf="memberData.payment_status == 'paid'">{{memberData.payment_status}}</span>
                </td>
            </tr>
            <tr>
                <td><b>{{"Details"|translate}} :</b></td>
                <td>{{memberData.details}}</td>
            </tr>
        </tbody>
    </table>
    <table class="table mydata-table table-responsive more_table">
        <thead>
            <tr>
                <th>{{"Customer Name"|translate}}</th>
                <th>{{"Amount By"|translate}}</th>
                <th>{{"Amount Type"|translate}}</th>
                <th class="date_time_col">{{"Date Time"|translate}}</th>
                <th>{{"Amount"|translate}}</th>
                <th class="action_col pr-0">{{"Details"|translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="loader">
                <td class="norecord_col" colspan="6">
                    <app-page-loader></app-page-loader>
                </td>
            </tr>
            <tr *ngIf="memberLatestData?.length == 0 && !loader">
                <td class="norecord_col" colspan="6">
                    <app-no-record-found type="table" notext="No customer collection found."></app-no-record-found>
                </td>
            </tr>
            <ng-container *ngIf="memberLatestData?.length != 0 && !loader">
                <tr *ngFor="let item of memberLatestData; let i=index;">
                    <td [attr.data-name]="'Customer Name' | translate" *ngIf="item.amount_by != 'advance'">
                        {{item.customer?.name}}</td>
                    <td [attr.data-name]="'Amount By' | translate" *ngIf="item.amount_by == 'advance'">Company Advance
                    </td>
                    <td [attr.data-name]="'Amount By' | translate" class="capatalise_col">{{item.amount_by}}</td>
                    <td [attr.data-name]="'Amount Type' | translate">{{item.amount_type}}</td>
                    <td [attr.data-name]="'Date Time' | translate"><small>{{item.created_at}}</small></td>
                    <td [attr.data-name]="'Amount' | translate" class="text-right"
                        [ngClass]="{'color-green': item.amount_type == 'credit', 'color-red': item.amount_type == 'debit'}">
                        {{item.amount}}</td>
                    <td [attr.data-name]="'Details' | translate" class="action_col">
                        <button mat-icon-button [matMenuTriggerFor]="menu" class="btn bg-primary single_btn">
                            <i class="mdi mdi-eye"></i>
                        </button>
                        <mat-menu #menu="matMenu">
                            <div class="menu_popup">
                                <span *ngIf="item?.details !== null">{{item.details}}</span>
                                <span *ngIf="item?.details == null">
                                    No Details Availble for this actions
                                </span>
                            </div>
                        </mat-menu>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>