<div class="dialoge_header">
    <div class="left_text">{{dataa.title}}</div>
    <mat-icon class="close-icon" [mat-dialog-close]="true" color="warn">close</mat-icon>
</div>
<div class="dialoge_middle_container full_height_cover">
    <div class="row">
        <table class="table table-bordered table-responsive popup_table bg-white more_table">
            <thead>
                <tr>
                    <th>Loan Id</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Days</th>
                    <th>Amount</th>
                    <th>Pending</th>
                    <th>Assign Member</th>
                    <th>Status</th>
                    <th class="text-center">Downloads</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col" data-name="Loan Id">Loan 101</td>
                    <td class="col" data-name="Start Date">15-12-2024</td>
                    <td class="col" data-name="End Date">15-12-2024</td>
                    <td class="col" data-name="Days">60 Days</td>
                    <td class="text-right col" data-name="Amount">12000</td>
                    <td class="text-right col" data-name="Pending">7000</td>
                    <td class="text-right col" data-name="Assign Member">Bhaijan</td>
                    <td class="text-center col" data-name="Status">
                        <span class="badge bg-warning text-white">Running</span>
                    </td>
                    <td class="text-center col" data-name="Remove"><span class="btn btn-sm btn-primary btn_download"><i
                                class="mdi mdi-download"></i></span></td>
                </tr>
                <tr>
                    <td class="col" data-name="Loan Id">Loan 101</td>
                    <td class="col" data-name="Start Date">15-12-2024</td>
                    <td class="col" data-name="End Date">15-12-2024</td>
                    <td class="col" data-name="Days">60 Days</td>
                    <td class="text-right col" data-name="Amount">12000</td>
                    <td class="text-right col" data-name="Pending">7000</td>
                    <td class="text-right col" data-name="Assign Member">Bhaijan</td>
                    <td class="text-center" data-name="Status">
                        <span class="badge bg-success text-white">Completed</span>
                    </td>
                    <td class="text-center"><span class="btn btn-sm btn-primary btn_download"><i
                                class="mdi mdi-download"></i></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>