<div class="card shadow dash-cardbox">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col col-sm-3 pl-1">
                <h3 class="mb-0">{{"Collection List"|translate}}</h3>
            </div>
            <div class="col p-0 head_details">
                <div class="total_block bg-success mr-2"><span>{{"Collect
                        Amount"|translate}}</span><b><span appDigits>{{collect_amount}}</span></b>
                </div>
                <div class="total_block bg-warning mr-2"><span>{{"Attend
                        Customer"|translate}}</span><b>{{attended_customer}}</b>
                </div>
                <!-- <div class="total_block bg-primary"><span>Total Customer</span><b>{{total_customer}}</b></div> -->
            </div>
        </div>
    </div>
    <table class="table align-items-center table-flush mydata-table">
        <thead class="thead-light">
            <tr>
                <th class="col">{{"Customer Name"|translate}}</th>
                <th class="col">{{"Mobile"|translate}}</th>
                <th class="col">{{"Amount"|translate}}</th>
                <th class="col">{{"Date & Time"|translate}}</th>
                <th class="col status_col">{{"Type"|translate}}</th>
                <th class="col status_col">{{"Action"|translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="loader">
                <td class="norecord_col" colspan="6">
                    <app-page-loader></app-page-loader>
                </td>
            </tr>
            <tr *ngIf="collectionData?.length == 0 && !loader">
                <td class="norecord_col" colspan="6">
                    <app-no-record-found type="table" notext="No collection found"></app-no-record-found>
                </td>
            </tr>
            <tr *ngFor="let item of collectionData">
                <td class="col" data-name="Customer Name">{{item?.customer_name}}</td>
                <td class="col" data-name="Mobile">{{item?.customer_mobile}}</td>
                <td class="col" data-name="Amount"><i class="mdi mdi-currency-inr mr-1"></i>
                    <span appDigits>{{item?.amount}}</span>
                </td>
                <td class="col" data-name="Last Received">{{item?.receive_date}} {{item?.receive_time}}</td>
                <td class="col text-center capatalise_col" data-name="Type">{{item?.collection_type}}</td>
                <td class="col text-center" data-name="Received Type">
                    <div class="badge text-white capatalise_col"
                        [ngClass]="{'bg-danger': item?.received_type == 'debit', 'bg-success': item?.received_type == 'credit'}">
                        {{item?.received_type}}</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>