<div class="card shadow dash-cardbox">
    <table class="table align-items-center table-flush mydata-table">
        <thead class="thead-light">
            <tr>
                <th class="col">Customer Name</th>
                <th class="col">Mobile</th>
                <!-- <th class="col">Balance</th> -->
                 <th class="col">Amount</th>
                <th class="col">Last Received</th>
                <th class="col status_col">Status</th>
                <th class="col action_col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr class="received_row">
                <td class="col" data-name="Customer">Bablu Mishra</td>
                <td class="col" data-name="Mobile">6263626505</td>
                <td class="col" data-name="Balance"><i class="mdi mdi-currency-inr mr-1"></i>1500.00</td>
                <td class="col" data-name="Last Received"><small>23-05-2021 10:30 am</small></td>
                <td class="col text-center" data-name="Status">
                    <div class="badge bg-success text-white">Received</div>
                </td>
                <td class="col text-center" data-name="Action">
                    <button disabled="disabled" mat-raised-button routerLink="/paid_data_entry"
                        class="btn btn-warning btn-sm">Receive</button>
                </td>
            </tr>
            <tr>
                <td class="col">Bablu Mishra</td>
                <td class="col">6263626505</td>
                <td class="col"><i class="mdi mdi-currency-inr mr-1"></i>1500.00</td>
                <td class="col"><small>23-05-2021 10:30 am</small></td>
                <td class="col text-center">
                    <div class="badge bg-warning text-white">Pending</div>
                </td>
                <td class="col text-center"><button routerLink="/paid_data_entry"
                        class="btn btn-warning btn-sm">Receive</button></td>
            </tr>
            <tr>
                <td class="col">Bablu Mishra</td>
                <td class="col">6263626505</td>
                <td class="col"><i class="mdi mdi-currency-inr mr-1"></i>1500.00</td>
                <td class="col"><small>23-05-2021 10:30 am</small></td>
                <td class="col text-center">
                    <div class="badge bg-warning text-white">Pending</div>
                </td>
                <td class="col text-center"><button routerLink="/paid_data_entry"
                        class="btn btn-warning btn-sm">Receive</button></td>
            </tr>
            <tr>
                <td colspan="6" class="norecord_col">
                    <div class="no_found">
                        <h1><i class="mdi mdi-alert-outline"></i></h1><b> No record found </b>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>