<div class="list-containner">
    <div class="row">
        <div class="col-xl-12 mb-xl-0">
            <div class="card shadow dash-cardbox">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col col-sm-4 pl-1">
                            <h3 class="mb-0">{{"VC List"|translate}}</h3>
                        </div>
                        <div class="col text-right pr-1 datewith_search_block">
                            <div class="listsearchwith_ddl_topblock search_withaddbtn">
                                <mat-form-field class="global_dropdown global_ddl_m_p_0" appearance="outline">
                                    <mat-label>Filter By Status</mat-label>
                                    <mat-icon class="arrow_icon">keyboard_arrow_down</mat-icon>
                                    <mat-select [formControl]="selectedStatus"
                                        (selectionChange)="onStatusChange($event)">
                                        <mat-option [value]="'active'">Active</mat-option>
                                        <mat-option [value]="'inactive'">Inactive</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div class="search-box">
                                    <input type="text" placeholder="Search" (keyup)="searchTable($event)"
                                        class="searchtxt" />
                                    <i class="mdi mdi-magnify"></i>
                                </div>
                                <div class="right_addbtn">
                                    <button (click)="openDialogEditDetails(null, true)"
                                        class="btn btn-success btn-sm create_header_btn" mat-raised-button>
                                        <i class="mdi mdi-account-plus-outline"></i>
                                        <span class="btn-txt button-text">{{"Add"|translate}}</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="head_details">
                        <div class="total_block bg-primary mr-2">
                            <span>{{"Total VC"|translate}}</span><b>1000</b>
                        </div>
                        <div class="total_block bg-success"><span>{{"Total Customer"|translate}}</span><b>1000</b></div>
                        <div class="total_block bg-warning mr-2" (click)="instalmentAmount('item')"><span>Pending
                                Amount</span><b>100000</b>
                        </div>
                        <div class="total_block bg-danger mr-2" (click)="receivedAmount('item')"><span>Pending
                                Customer</span><b>20</b>
                        </div>
                    </div>
                </div>
                <table class="table align-items-center table-flush mydata-table">
                    <thead class="thead-light">
                        <tr>
                            <th class="col s_no">{{"S.No."|translate}}</th>
                            <th class="col sorting_apply name_col">
                                <span>{{"VC Name"|translate}}</span>
                                <div class="sorting_arrow">
                                    <mat-icon (click)="sortTableData('name');">{{ isAsc ?
                                        'north' : 'south'
                                        }}</mat-icon>
                                </div>
                            </th>
                            <th class="col sorting_apply type_col">
                                <span>{{"Type"|translate}}</span>
                                <div class="sorting_arrow">
                                    <mat-icon (click)="sortTableData('type');">{{ isAsc ?
                                        'north' : 'south'
                                        }}</mat-icon>
                                </div>
                            </th>
                            <th class="col sorting_apply endamt_col text-center">
                                <span>{{"End Amount"|translate}}</span>
                                <div class="sorting_arrow">
                                    <mat-icon (click)="sortTableData('end_amount');">{{ isAsc ?
                                        'north' : 'south'
                                        }}</mat-icon>
                                </div>
                            </th>
                            <th class="col sorting_apply date_col">
                                <span>{{"Start Date"|translate}}</span>
                                <div class="sorting_arrow">
                                    <mat-icon (click)="sortTableData('total_customer');">{{ isAsc ?
                                        'north' : 'south'
                                        }}</mat-icon>
                                </div>
                            </th>
                            <th class="col sorting_apply instalment_col text-center">
                                <span>{{"Instalment"|translate}}</span>
                                <div class="sorting_arrow">
                                    <mat-icon (click)="sortTableData('instalment');">{{ isAsc ?
                                        'north' : 'south'
                                        }}</mat-icon>
                                </div>
                            </th>
                            <!-- <th class="col sorting_apply total_col text-center">
                                <span>{{"Total"|translate}}</span>
                                <div class="sorting_arrow">
                                    <mat-icon (click)="sortTableData('total_customer');">{{ isAsc ?
                                        'north' : 'south'
                                        }}</mat-icon>
                                </div>
                            </th> -->
                            <th class="col paid_col sorting_apply text-center">
                                <span>{{"Paid"|translate}}</span>
                                <div class="sorting_arrow">
                                    <mat-icon (click)="sortTableData('paid_customer');">{{ isAsc ?
                                        'north' : 'south'
                                        }}</mat-icon>
                                </div>
                            </th>
                            <th class="col sorting_apply pending_col text-center">
                                <span>{{"Pending"|translate}}</span>
                                <div class="sorting_arrow">
                                    <mat-icon (click)="sortTableData('pending_customer');">{{ isAsc ?
                                        'north' : 'south'
                                        }}</mat-icon>
                                </div>
                            </th>
                            <th class="col action_col">{{"Action"|translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="loader">
                            <td class="norecord_col" colspan="9">
                                <app-page-loader></app-page-loader>
                            </td>
                        </tr>
                        <tr *ngIf="filteredDataarray?.length == 0 && loader">
                            <td class="norecord_col" colspan="9">
                                <app-no-record-found type="table" notext="No vc available."></app-no-record-found>
                            </td>
                        </tr>
                        <tr class="received_row">
                            <td class="col s_no" data-name="S.No.">1</td>
                            <td class="col" data-name="Vc Name">1.5 Lakh VC</td>
                            <td class="col" data-name="Type">Fixed</td>
                            <td class="col text-right" data-name="End Amount">150000.00</td>
                            <td class="col text-center" data-name="Start Date">09-15-2025</td>
                            <td class="col text-rigth" data-name="Instalment">10000.00</td>
                            <td class="col text-center link_color" data-name="Paid"
                                (click)="viewDetails('item', 'paid')">05</td>
                            <td class="col text-center link_color" data-name="Pending"
                                (click)="viewDetails('item', 'pending')">10</td>
                            <td class="col action_col" data-name="Action">
                                <div placement="bottom-right">
                                    <button mat-icon-button [matMenuTriggerFor]="menu"
                                        aria-label="Example icon-button with a menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <div class="table_actionmenu">
                                            <button mat-menu-item (click)="openDialogViewDetail('item')">
                                                <i class="mdi mdi-eye mr-2"></i>
                                                <span>{{"View Details"|translate}}</span>
                                            </button>
                                            <button mat-menu-item (click)="instalmentAmount('item')">
                                                <i class="mdi mdi-currency-inr mr-2"></i>
                                                <span>Add Installment</span>
                                            </button>
                                            <button mat-menu-item (click)="receivedAmount('item')">
                                                <i class="mdi mdi-currency-inr mr-2"></i>
                                                <span>Received Amount</span>
                                            </button>
                                            <button mat-menu-item (click)="openDialogEditDetails('item', false)">
                                                <i class="mdi mdi-pencil mr-2"></i>
                                                <span>Edit Details</span>
                                            </button>
                                        </div>
                                    </mat-menu>
                                </div>
                            </td>
                        </tr>
                        <ng-container *ngIf="filteredDataarray?.length != 0 && !loader">
                            <ng-container *ngFor="let item of filteredDataarray; let i=index;">
                                <tr class="received_row">
                                    <td class="col s_no" data-name="S.No.">{{i+1}}</td>
                                    <td class="col" data-name="Vc Name"></td>
                                    <td class="col" data-name="Type"></td>
                                    <td class="col" data-name="End Amount">{{item.active}}</td>
                                    <td class="col text-center" data-name="Start Date">{{item.inactive}}</td>
                                    <td class="col text-center" data-name="Instalment">{{item.date}}</td>
                                    <td class="col text-center" data-name="Total">{{item.date}}</td>
                                    <td class="col text-center" data-name="Paid">{{item.date}}</td>
                                    <td class="col text-center" data-name="Pending">{{item.date}}</td>
                                    <td class="col action_col" data-name="Action">
                                        <div placement="bottom-right">
                                            <button mat-icon-button [matMenuTriggerFor]="menu"
                                                aria-label="Example icon-button with a menu">
                                                <mat-icon>more_vert</mat-icon>
                                            </button>
                                            <mat-menu #menu="matMenu">
                                                <div class="table_actionmenu">
                                                    <button mat-menu-item (click)="openDialogViewDetail(item)">
                                                        <i class="mdi mdi-eye mr-2"></i> <span>{{"View
                                                            Details"|translate}}</span>
                                                    </button>
                                                    <button mat-menu-item (click)="openDialogChangeMember(item)">
                                                        <i class="mdi mdi-account-check-outline mr-2"></i>
                                                        <span>Change Member</span>
                                                    </button>
                                                    <button mat-menu-item (click)="openDialogReceivedAmount(item)">
                                                        <i class="mdi mdi-currency-inr mr-2"></i>
                                                        <span>Received Amount</span>
                                                    </button>
                                                    <button mat-menu-item (click)="openDialogEditDetails(item)">
                                                        <i class="mdi mdi-edit mr-2"></i>
                                                        <span>Edit Details</span>
                                                    </button>
                                                </div>
                                            </mat-menu>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>