<div class="dialoge_header">
    <div class="left_text">{{dataa.title}}</div>
    <mat-icon class="close-icon" [mat-dialog-close]="true" color="warn">close</mat-icon>
</div>
<div class="dialoge_middle_container">
    <table class="table table-bordered table-responsive bg-white more_table long_details_table">
        <tbody>
            <tr>
                <td><b>Company Name:</b></td>
                <td>RK-101</td>
            </tr>
            <!-- <tr>
                <td><b>Profile Image :</b></td>
                <td>
                    <div class="list_image_block float-left">
                        <img src="assets/imgs/default-pic.png">
                    </div>
                </td>
            </tr> -->

            <tr>
                <td><b>Mobile :</b></td>
                <td>{{companyDetails.member_mobile}}</td>
            </tr>
            <tr>
                <td><b>End Date :</b></td>
                <td>{{companyDetails.member_mobile}}</td>
            </tr>
            <tr>
                <td><b>Current Plan :</b></td>
                <td>{{companyDetails.member_mobile}}</td>
            </tr>
            <tr>
                <td><b>Pending Amount :</b></td>
                <td>{{companyDetails.member_mobile}}</td>
            </tr>
            <tr>
                <td><b>Login Id :</b></td>
                <td>{{companyDetails.member_mobile}}</td>
            </tr>
            <tr>
                <td><b>Address :</b></td>
                <td>{{companyDetails.member_mobile}}</td>
            </tr>
            <tr>
                <td><b>Owner Name :</b></td>
                <td>626362650548</td>
            </tr>
            <tr>
                <td><b>Start Date :</b></td>
                <td>626362650548</td>
            </tr>
            <tr>
                <td><b>Aadhar No. :</b></td>
                <td>626362650548</td>
            </tr>
            <tr>
                <td><b>Total Amount :</b></td>
                <td>626362650548</td>
            </tr>

            <tr>
                <td><b>Status :</b></td>
                <td><span class="badge bg-success text-white">Active</span></td>
            </tr>
            <tr>
                <td><b>Password :</b></td>
                <td>Home no. 72, bajrang nagar jabalpur </td>
            </tr>
            <tr>
                <td><b>Details :</b></td>
                <td>626362650548</td>
            </tr>
            <tr>
                <td><b>Company Logo :</b></td>
                <td>
                    <div class="list_image_block float-left">
                        <img src="assets/imgs/default-pic.png">
                    </div>
                </td>
            </tr>

            <tr>
                <td><b>Company Sidebar Logo :</b></td>
                <td>
                    <div class="list_image_block float-left">
                        <img src="assets/imgs/default-pic.png">
                    </div>
                </td>
            </tr>
            <tr>
                <td><b>Company Fevicon Icon :</b></td>
                <td>
                    <div class="list_image_block float-left">
                        <img src="assets/imgs/default-pic.png">
                    </div>
                </td>
            </tr>
            <tr>
                <td><b>Company Owner Profile :</b></td>
                <td>
                    <div class="list_image_block float-left">
                        <img src="assets/imgs/default-pic.png">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>