<div class="dialoge_header">
    <div class="left_text">{{dataa.title |translate}}</div>
    <mat-icon class="close-icon" [mat-dialog-close]="true" color="warn">close</mat-icon>
</div>
<div class="dialoge_middle_container">
    <table class="table table-bordered table-responsive bg-white more_table long_details_table">
        <tbody>
            <tr>
                <td><b>{{"Company Name"|translate}}:</b></td>
                <td>{{data.company_name}}</td>
            </tr>
            <!-- <tr>
                <td><b>Profile Image :</b></td>
                <td>
                    <div class="list_image_block float-left">
                        <img src="assets/imgs/default-pic.png">
                    </div>
                </td>
            </tr> -->
            <tr>
                <td><b>{{"Owner Name"|translate}} :</b></td>
                <td>{{data.owner_name}}</td>
            </tr>
            <tr>
                <td><b>{{"Mobile"|translate}} :</b></td>
                <td>{{data.mobile}}</td>
            </tr>
            <tr>
                <td><b>{{"Start Date"|translate}} :</b></td>
                <td>{{data.start_date}}</td>
            </tr>
            <tr>
                <td><b>{{"End Date"|translate}} :</b></td>
                <td>{{data.end_date}}</td>
            </tr>
            <tr>
                <td><b>{{"Current Plan"|translate}} :</b></td>
                <td>{{data.plan}}</td>
            </tr>
            <tr>
                <td><b>{{"Total Amount"|translate}} :</b></td>
                <td>{{data.total_paid_amount}}</td>
            </tr>
            <tr>
                <td><b>{{"Advance Amount"|translate}} :</b></td>
                <td>{{data.advance_amount}}</td>
            </tr>
            <tr>
                <td><b>{{"Pending Amount"|translate}} :</b></td>
                <td>{{data.remaining_amount}}</td>
            </tr>
            <tr>
                <td><b>{{"Login Id"|translate}} :</b></td>
                <td>{{data.member_mobile}}</td>
            </tr>
            <tr>
                <td><b>{{"Status"|translate}} :</b></td>
                <td>
                    <ng-container *ngIf="data.status == 'inactive'">
                        <span class="badge bg-danger text-white">Inactive</span>
                    </ng-container>
                    <ng-container *ngIf="data.status == 'active'">
                        <span class="badge bg-success text-white">Active</span>
                    </ng-container>
                </td>
            </tr>
            <tr>
                <td><b>{{"Aadhar No."|translate}} :</b></td>
                <td>{{data.aadhar_no}}</td>
            </tr>
            <tr>
                <td><b>{{"Address"|translate}} :</b></td>
                <td>{{data.address}}</td>
            </tr>
            <tr>
                <td><b>{{"Details"|translate}} :</b></td>
                <td>{{data.details}}</td>
            </tr>
            <tr>
                <td><b>{{"Company Logo"|translate}} :</b></td>
                <td>
                    <div class="list_image_block float-left" *ngIf="data.main_logo != null">
                        <img src="{{data.main_logo}}">
                    </div>
                    <div class="list_image_block float-left" *ngIf="data.main_logo == null">
                        <img src="assets/imgs/default-pic.png">
                    </div>
                </td>
            </tr>
            <tr>
                <td><b>{{"Company Sidebar Logo"|translate}} :</b></td>
                <td>
                    <div class="list_image_block float-left" *ngIf="data.sidebar_logo != null">
                        <img src="{{data.sidebar_logo}}">
                    </div>
                    <div class="list_image_block float-left" *ngIf="data.sidebar_logo == null">
                        <img src="assets/imgs/default-pic.png">
                    </div>
                </td>
            </tr>
            <tr>
                <td><b>{{"Company Fevicon Icon"|translate}} :</b></td>
                <td>
                    <div class="list_image_block float-left" *ngIf="data.favicon_icon != null">
                        <img src="{{data.favicon_icon}}">
                    </div>
                    <div class="list_image_block float-left" *ngIf="data.favicon_icon == null">
                        <img src="assets/imgs/default-pic.png">
                    </div>
                </td>
            </tr>
            <tr>
                <td><b>{{"Company Owner Profile"|translate}} :</b></td>
                <td>
                    <div class="list_image_block float-left" *ngIf="data.owner_image != null">
                        <img src="{{data.owner_image}}">
                    </div>
                    <div class="list_image_block float-left" *ngIf="data.owner_image == null">
                        <img src="assets/imgs/default-pic.png">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>