<div class="dialoge_header">
    <div class="left_text">{{dataa.title}}</div>
    <mat-icon class="close-icon" [mat-dialog-close]="true" color="warn">close</mat-icon>
</div>
<div class="dialoge_middle_container">
    <table class="table table-bordered table-responsive bg-white more_table">
        <tbody>

            <tr>
                <td><b>Customer No.:</b></td>
                <td>RK-101</td>
            </tr>
            <tr>
                <td><b>Profile Image :</b></td>
                <td>
                    <div class="list_image_block float-left">
                        <img src="assets/imgs/default-pic.png">
                    </div>
                </td>
            </tr>
            <tr>
                <td><b>Customer Name :</b></td>
                <td>{{companyDetails.member_fname}}</td>
            </tr>

            <tr>
                <td><b>Mobile :</b></td>
                <td>{{companyDetails.member_mobile}}</td>
            </tr>

            <tr>
                <td><b>Aadhar No. :</b></td>
                <td>626362650548</td>
            </tr>
            <tr>
                <td><b>Assign Member :</b></td>
                <td>12</td>
            </tr>

            <tr>
                <td><b>Available Amount :</b></td>
                <td>12</td>
            </tr>

            <tr>
                <td><b>Status :</b></td>
                <td><span class="badge bg-success text-white">Active</span></td>
            </tr>
            <tr>
                <td><b>Address :</b></td>
                <td>Home no. 72, bajrang nagar jabalpur </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="dialoge_button_container">
    <button class="global_close_btn" [mat-dialog-close]="true" mat-stroked-button>Close</button>
</div>



<!-- <h2 mat-dialog-title>{{dataa.title}}</h2>
<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
<table mat-table [dataSource]="transactions" class="mat-elevation-z8">
    <ng-container matColumnDef="item">
        <td mat-cell *matCellDef="let transaction"> {{transaction.item}} </td>
    </ng-container>
    <ng-container matColumnDef="cost">
        <td mat-cell *matCellDef="let transaction"> {{transaction.cost | currency}} </td>
    </ng-container>
    <ng-container matColumnDef="item2">
        <td mat-cell *matCellDef="let transaction"> {{transaction.item2 }} </td>
    </ng-container>
    <ng-container matColumnDef="cost2">
        <td mat-cell *matCellDef="let transaction"> {{transaction.cost2 | currency}} </td>
    </ng-container>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<table mat-table [dataSource]="transactions" class="mat-elevation-z8">
    <ng-container matColumnDef="item">
        <td mat-cell *matCellDef="let transaction2"> {{transaction2.item}} </td>
    </ng-container>
    <ng-container matColumnDef="cost">
        <td mat-cell *matCellDef="let transaction2"> {{transaction2.cost | currency}} </td>
    </ng-container>
    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
</table> -->