<table #dataTable class="table align-items-center table-flush mydata-table">
    <thead class="thead-light">
        <tr>
            <th *ngFor="let column of columns">{{ column.name | titlecase }}</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of data">
            <ng-container *ngFor="let column of columns">
                <!-- <td>{{ row[column.prop] }}</td> -->
                <td [attr.data-name]="column.name | titlecase">
                    <ng-container *ngIf="column.prop === 'main_logo'">
                        <img *ngIf="row[column.prop]" [src]="row[column.prop]" alt="Logo"
                            style="width: 50px; height: 50px;" />
                        <img *ngIf="!row[column.prop]" [src]="'./assets/imgs/rk-group-logo2.png'" alt="Logo"
                            style="width: 50px; height: 50px;" />
                        <!-- <span *ngIf="!row[column.prop]">No Image</span> -->
                    </ng-container>
                    <ng-container *ngIf="column.prop === 'plans'">
                        <!-- Assuming plans is an array, render it accordingly -->
                        <div *ngFor="let plan of row[column.prop]">
                            {{ plan.plan }}
                        </div>
                    </ng-container>
                    <ng-container *ngIf="column.prop !== 'plans'">
                        {{ row[column.prop] }}
                    </ng-container>
                </td>
            </ng-container>
            <td [attr.data-name]="'Actions'">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <div class="table_actionmenu">
                        <button *ngFor="let action of actions" mat-menu-item
                            (click)="onAction({ action: action.action, row })">
                            <i [class]="action.icon + ' mr-2'"></i>
                            <span>{{ action.label }}</span>
                        </button>
                    </div>
                </mat-menu>
            </td>
        </tr>
    </tbody>
</table>