<div class="dialoge_header">
    <div class="left_text">{{dataa.title |translate}}</div>
    <mat-icon class="close-icon" (click)="onClose()" color="warn">close</mat-icon>
</div>
<div class="dialoge_middle_container view_details_small_popup">
    <table class="table table-bordered table-responsive bg-white more_table">
        <tbody>
            <tr>
                <td><b>{{"Customer Name"|translate}} :</b></td>
                <td>{{data?.customer?.name}}</td>
            </tr>
            <tr>
                <td><b>{{"Loan No."|translate}}:</b></td>
                <td>{{data?.loan_no}}</td>
            </tr>
            <tr>
                <td><b>{{"Loan Amount"|translate}}:</b></td>
                <td><span appDigits>{{data?.loan_amount}}</span></td>
            </tr>
            <tr>
                <td><b>{{"Pending Amount"|translate}} :</b></td>
                <td><span appDigits>{{data?.remaining_amount}}</span></td>
            </tr>
            <tr>
                <td><b>{{"Assign Member"|translate}} :</b></td>
                <td>{{data?.member.name}}</td>
            </tr>
        </tbody>
    </table>
    <form focusInvalidInput form="changeLoanStatusForm" class="main_form">
        <app-dropdwon [optionArray]="dropdownService.loanliststatus" *ngIf="changeLoanStatusForm" field="Loan Status"
            [form]="changeLoanStatusForm" [key]="'loan_status'"></app-dropdwon>
        <app-textarea [disabled]="true" label="Reason" [(value)]="loanreason" [isRequired]="false"
            [className]="'bottom_error_msg'" [form]="changeLoanStatusForm" [key]="'loanreason'"></app-textarea>
    </form>
</div>
<div class="dialoge_button_container">
    <button class="global_close_btn" (click)="onClose()" mat-stroked-button>Close</button>
    <button class="global_submit_btn" mat-flat-button (click)="updateLoanStatus()">
        <mat-icon class="submitbtn_icon" *ngIf="!loading">check</mat-icon>
        <app-button-loader *ngIf="loading"></app-button-loader>
        <span>Submit</span>
    </button>
</div>