<div class="dialoge_header">
    <div class="left_text" *ngIf="!offer_id">{{dataa.title |translate}}</div>
    <div class="left_text" *ngIf="offer_id">{{dataa.title |translate}}</div>
    <mat-icon class="close-icon" (click)="onClose()" color="warn">close</mat-icon>
</div>
<div class="dialoge_middle_container full_height_cover">
    <form focusInvalidInput [formGroup]="offerForm">
        <div class="modal_insert">
            <div class="row">
                <div class="col-sm-12 col-lg-12 col-xs-12">
                    <app-fileupload [form]="offerForm" class="fileupload_image_fullwidth"
                        [accept]="'image/png, image/gif, image/jpeg'" [imageUrl]="offerForm.value['image']"
                        [uploadType]="'fullwidth'" [imageCaption]="'Upload images for this Offer/Scheme'"
                        formControlName="image" name="image" [formcontrolname]="'image'"
                        (fileChange)="onFileChange($event)"></app-fileupload>
                </div>
                <div class="col-sm-12 col-lg-12 col-xs-12">
                    <mat-form-field class="global_textbox_block" appearance="outline">
                        <mat-label>Offer Name</mat-label>
                        <input matInput required formControlName="name" name="name">
                        <app-input-field-validation [className]="'bottom_error_msg'" [form]="offerForm" [key]="'name'"
                            [displayMsg]="'Offer name is required'">
                        </app-input-field-validation>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <app-dropdwon [optionArray]="dropdownService.offerType" *ngIf="offerForm" [form]="offerForm"
                        [key]="'type'" field="Type"></app-dropdwon>
                </div>
                <div class="col-sm-4">
                    <app-dropdwon [optionArray]="dropdownService.status" *ngIf="offerForm" [form]="offerForm"
                        [key]="'status'" field="Status"></app-dropdwon>
                </div>
                <div class="col-sm-4">
                    <div class="checkbox_block">
                        <mat-checkbox class="mat_checkbox" formControlName="default_offer" name="default_offer"> Set
                            Default</mat-checkbox>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-12 col-xs-12">
                    <mat-form-field class="global_textarea_block" appearance="outline">
                        <mat-label>Details</mat-label>
                        <textarea matInput formControlName="details" name="details"></textarea>
                        <!-- <input matInput required formControlName="detail" name="detail"> -->
                        <app-input-field-validation [className]="'bottom_error_msg'" [form]="offerForm"
                            [key]="'details'" [displayMsg]="'Detail is required'">
                        </app-input-field-validation>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="dialoge_button_container">
    <button class="global_close_btn" (click)="onClose()" mat-stroked-button>{{"Close"|translate}}</button>
    <button type="submit" class="global_submit_btn" mat-flat-button (click)="saveDetails()">
        <mat-icon class="submitbtn_icon" *ngIf="!loading">check</mat-icon>
        <app-button-loader *ngIf="loading"></app-button-loader>
        <span *ngIf="!offer_id">{{"Submit"|translate}}</span>
        <span *ngIf="offer_id">{{"Update"|translate}}</span>
    </button>
</div>