<div class="dialoge_header">
    <div class="left_text">{{dataa.title |translate}}</div>
    <mat-icon class="close-icon" [mat-dialog-close]="true" color="warn">close</mat-icon>
</div>
<div class="dialoge_middle_container view_details_small_popup table_details_scroll">
    <!-- <p>{{data | json}}</p> -->
    <table class="table table-responsive more_table">
        <thead>
            <tr>
                <th class="text-center s_no"><b>{{"S.No."|translate}}</b></th>
                <th><b>{{"Date"|translate}} </b></th>
                <th><b>{{"Receiver"|translate}} </b></th>
                <th><b>{{"Type"|translate}} </b></th>
                <th><b>{{"Amount"|translate}} </b></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="loader">
                <td class="norecord_col" colspan="5">
                    <app-page-loader></app-page-loader>
                </td>
            </tr>
            <tr *ngIf="data.deposit_history?.length == 0 && !loader">
                <td class="norecord_col" colspan="5">
                    <app-no-record-found type="table"
                        notext="No loan/deposit history found for this customer."></app-no-record-found>
                </td>
            </tr>
            <ng-container *ngIf="data.deposit_history != 0 && !loader">
                <tr class="received_row" *ngFor="let innerdata of data.deposit_history;let i = index">
                    <td class="col text-center">{{i+1}}</td>
                    <td class="col">{{innerdata?.action_date}}</td>
                    <td class="col">{{innerdata?.recieved_member?.name}}</td>
                    <td class="col">{{innerdata?.action_type}}</td>
                    <td class="col text-right"
                        [ngClass]="{'color-green': innerdata?.action_type == 'credit', 'color-red': innerdata?.action_type == 'debit'}">
                        {{innerdata?.amount}}</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>