.customer_data_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px;
    width: 100%;
    .image_block {
        margin-right: 10px;
        padding: 2px;
        box-shadow: var(--app-brand-shadow);
        display: flex;
        img {
            width: 50px;
        }
    }
    .other_details {
        display: flex;
        align-items: center;
        line-height: 18px;
        white-space: nowrap;
        margin: 0px 10px;
    }
}