<h2 mat-dialog-title>{{dataa.title}}</h2>
<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
<form focusInvalidInput [formGroup]="providerLoanForm">
    <mat-dialog-content class="mat-typography">
        <mat-dialog-content>
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Customer Name</mat-label>
                            <input matInput formControlName="name" name="name">
                            <app-input-field-validation [className]="'bottom_error_msg'" [form]="providerLoanForm"
                                [key]="'name'" [displayMsg]="'Name is required'">
                            </app-input-field-validation>
                        </mat-form-field>

                    </td>
                    <td>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Loan Amount</mat-label>
                            <input matInput formControlName="loan_amount" name="loan_amount">
                        </mat-form-field>
                    </td>

                </tr>
                <tr>

                    <td>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Installment Amount</mat-label>
                            <input matInput formControlName="installment_amount" name="installment_amount">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>No. Of Days</mat-label>
                            <input matInput formControlName="num_of_days" name="num_of_days">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>

                    <td>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Start Date</mat-label>
                            <input matInput formControlName="start_date" name="start_date">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>End date</mat-label>
                            <input matInput formControlName="end_date" name="end_date">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>

                    <td>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Assign Member</mat-label>
                            <input matInput formControlName="assign_member" name="assign_member">
                        </mat-form-field>
                    </td>

                </tr>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Loan Details</mat-label>
                            <input matInput formControlName="loan_details" name="loan_details">
                        </mat-form-field>
                    </td>
                </tr>


            </table>
        </mat-dialog-content>



    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button (click)="update()">Submit</button>
    </mat-dialog-actions>
</form>