.example-full-width {
    width: 100%;
}
.file_upload_header {
    font-size: 12px;
    color: #666666;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .add_more_btnblock {
        cursor: pointer;
        display: flex;
        align-items: center;
        color: var(--theme-primary-color);
        opacity: .8;
        transition: .5s all;
        mat-icon {
            height: 20px;
            font-size: 20px;
        }
    }
}
.file_upload_block {
    margin: 5px 0px;
    background: #ffffff;
    padding: 10px;
}
.file_upload_row {
    display: flex;
    align-items: center;
    mat-icon {
        color: #dd0000;
        margin-left: 15px;
        transition: .5s all;
        opacity: .8;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
    }
}
.uploaded_images_container {
    display: flex;
    flex-flow: wrap;
    justify-content: start;
    width: 101%;
    .upload_image_block {
        width: 24%;
        margin: 5px 1% 5px 0px;
        padding: 5px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}