<div class="list-containner">
    <div class="card shadow dash-cardbox">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col col-sm-4 pl-1">
                    <h3 class="mb-0">Customer List</h3>
                </div>
                <div class="col text-right pr-1 optionwith_search_block">
                    <div class="listsearch-topblock search_withaddbtn">
                        <div class="search-box">
                            <input type="text" placeholder="Search" (keyup)="searchTable($event)" class="searchtxt" />
                            <i class="mdi mdi-magnify"></i>
                        </div>
                        <div class="right_addbtn multibtn_right_addbtn">
                            <button data-toggle="modal" (click)="openDialogAddCustomer()"
                                data-target="#actionCustomer_modal" class="btn btn-success btn-sm create_header_btn"
                                mat-raised-button>
                                <i class="mdi mdi-account-plus-outline"></i>
                                <span class="btn-txt button-text">Add</span>
                            </button>
                            <button *ngIf="user_type == 1" data-toggle="modal" (click)="openDialogImport()"
                                data-target="#actionCustomer_modal"
                                class="btn btn-success btn-sm create_header_btn res_display_none" mat-raised-button>
                                <i class="mdi mdi-import"></i>
                                <span class="btn-txt button-text">Import</span>
                            </button>
                            <!-- <button data-toggle="modal" (click)="openDialogDownload()"
                                data-target="#actionCustomer_modal" class="btn btn-success btn-sm create_header_btn"
                                mat-raised-button>
                                <i class="mdi mdi-cloud-download-outline"></i>
                                <span class="btn-txt button-text">Download</span>
                            </button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table align-items-center table-flush mydata-table">
            <thead class="thead-light">
                <tr>
                    <th class="col sorting_apply id_col">
                        <span>Customer No.</span>
                        <div class="sorting_arrow">
                            <mat-icon (click)="sortTableData('customer_no');">{{ isAsc ?
                                'north' : 'south'
                                }}</mat-icon>
                        </div>
                    </th>
                    <th class="col profile_col">Profile</th>
                    <th class="col sorting_apply">
                        <span>Name</span>
                        <div class="sorting_arrow">
                            <mat-icon (click)="sortTableData('name');">{{ isAsc ?
                                'north' : 'south'
                                }}</mat-icon>
                        </div>
                    </th>
                    <th class="col" class="col sorting_apply">
                        <span>Email</span>
                        <div class="sorting_arrow">
                            <mat-icon (click)="sortTableData('email');">{{ isAsc ?
                                'north' : 'south'
                                }}</mat-icon>
                        </div>
                    </th>
                    <th class="col mobile_col sorting_apply text-center">
                        <span>Loans</span>
                        <div class="sorting_arrow">
                            <mat-icon (click)="sortTableData('loan_count');">{{ isAsc ?
                                'north' : 'south'
                                }}</mat-icon>
                        </div>
                    </th>
                    <th class="col mobile_col sorting_apply text-center">
                        <span>Deposit</span>
                        <div class="sorting_arrow">
                            <mat-icon (click)="sortTableData('deposit_count');">{{ isAsc ?
                                'north' : 'south'
                                }}</mat-icon>
                        </div>
                    </th>
                    <th class="col mobile_col">Mobile</th>
                    <th class="col sorting_apply date_col">
                        <span>Join Date</span>
                        <div class="sorting_arrow">
                            <mat-icon (click)="sortTableData('join_date');">{{ isAsc ?
                                'north' : 'south'
                                }}</mat-icon>
                        </div>
                    </th>
                    <th class="col status_col sorting_apply">
                        <span>Status</span>
                        <div class="sorting_arrow">
                            <mat-icon (click)="sortTableData('status');">{{ isAsc ?
                                'north' : 'south'
                                }}</mat-icon>
                        </div>
                    </th>
                    <th class="col action_col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="loader">
                    <td colspan="10">
                        <app-page-loader></app-page-loader>
                    </td>
                </tr>
                <tr *ngIf="filteredDataarray.length == 0 && !loader">
                    <td colspan="10">
                        <app-no-record-found type="table" notext="No customer found"></app-no-record-found>
                    </td>
                </tr>
                <ng-container *ngIf="filteredDataarray.length != 0 && !loader">
                    <tr class="received_row" *ngFor="let item of filteredDataarray">
                        <td class="col" data-name="Customer No."> {{item.customer_no}}</td>
                        <td class="col" data-name="Profile">
                            <div class="list_image_block" *ngIf="item.image == null">
                                <img src="assets/imgs/default-pic.png" />
                            </div>
                            <div class="list_image_block" *ngIf="item.image != null">
                                <img onerror="this.src='assets/imgs/default-pic.png';" src="{{item.image}}" />
                            </div>
                        </td>
                        <td class="col" data-name="Name">{{item.name}}</td>
                        <td class="col" data-name="Email">{{item.email}}</td>
                        <td class="col text-center" data-name="Total Loans">{{item.loan_count}}</td>
                        <td class="col text-center" data-name="Total Deposit">{{item.deposit_count}}</td>
                        <td class="col" data-name="Mobile">{{item.mobile}}</td>
                        <td class="col" data-name="Join Date">{{item.join_date}}</td>
                        <!-- <td class="col" data-name="End Date">{{item.loan_amount}}</td>
                        <td class="col" data-name="End Date">{{item.pending_amount}}</td> -->
                        <td class="col text-center" data-name="Status">
                            <span class="badge bg-success text-white"
                                *ngIf="item.status == 'active'">{{item.status}}</span>
                            <span class="badge bg-danger text-white "
                                *ngIf="item.status == 'inactive'">{{item.status}}</span>
                        </td>
                        <td class="action_col" data-name="Action">
                            <div placement="bottom-right">
                                <button mat-icon-button [matMenuTriggerFor]="menu"
                                    aria-label="Example icon-button with a menu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <div class="table_actionmenu">
                                        <button mat-menu-item (click)="openDialogLoanHistory(item)">
                                            <i class="mdi mdi-history"></i> <span>
                                                Loan History</span>
                                        </button>
                                        <button *ngIf="user_type == 1" mat-menu-item
                                            (click)="openDialogProvideLoan(item)">
                                            <i class="mdi mdi-currency-inr"></i> <span>
                                                Provide Loan</span>
                                        </button>
                                        <button *ngIf="user_type == 1" mat-menu-item
                                            (click)="openDialogNewDeposit(item)">
                                            <i class="mdi mdi-card-account-details-star-outline"></i> <span>
                                                New Deposit</span>
                                        </button>
                                        <button *ngIf="user_type == 2" mat-menu-item
                                            (click)="openDialogApplyLoan(item)">
                                            <i class="mdi mdi-cash-100"></i> <span>
                                                Apply Loan</span>
                                        </button>
                                        <button mat-menu-item (click)="openDialogViewDetail(item)">
                                            <i class="mdi mdi-eye mr-2"></i> <span>View Details</span>
                                        </button>
                                        <button mat-menu-item (click)="openDialogEditCustomer(item)">
                                            <i class="mdi mdi-pencil mr-2"></i> <span>Edit Customer</span>
                                        </button>
                                        <button *ngIf="user_type == 1" mat-menu-item
                                            (click)="openDialogChangeStatus(item)">
                                            <i class="mdi mdi-account-off-outline mr-2"></i>
                                            <span>Status</span>
                                        </button>
                                    </div>
                                </mat-menu>
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>