<div class="dialoge_header">
    <div class="left_text">{{dataa.title}}</div>
    <mat-icon class="close-icon" [mat-dialog-close]="true" color="warn">close</mat-icon>
</div>
<div class="dialoge_middle_container">
    <table class="table table-bordered table-responsive bg-white more_table">
        <tbody>
            <tr>
                <td><b>Loan No. :</b></td>
                <td>Start#10000</td>
            </tr>
            <tr>
                <td><b>Start/Apply Date :</b></td>
                <td>12-Mar-2022 To 11-Jun-2022</td>
            </tr>
            <tr>
                <td><b>Apply Amount :</b></td>
                <td><i class="mdi mdi-currency-inr mr-1"></i>10,000.00</td>
            </tr>
            <tr>
                <td><b>Balance :</b></td>
                <td><i class="mdi mdi-currency-inr mr-1"></i>0.00</td>
            </tr>
            <tr>
                <td><b>Receiver :</b></td>
                <td>Not Assigned</td>
            </tr>
            <tr>
                <td><b>Status :</b></td>
                <td>
                    <div class="badge bg-warning text-white">Pending</div>
                </td>
            </tr>
            <tr>
                <td><b>Loan Details :</b></td>
                <td>Want to loan 10000 for the bussiness purpose</td>
            </tr>
            <tr>
                <td><b>Reply For Loan :</b></td>
                <td>Your loan approved.... will creadit amount in your bank account or casn in
                    12-Mar-2022</td>
            </tr>
        </tbody>
    </table>
</div>