<div class="dialoge_header">
    <div class="left_text">{{dataa.title}}</div>
    <mat-icon class="close-icon" [mat-dialog-close]="true" color="warn">close</mat-icon>
</div>
<div class="dialoge_middle_container">
    <table class="table table-bordered table-responsive bg-white more_table">
        <tbody>
            <tr>
                <td><b>Loan No. :</b></td>
                <td>{{data.loan_no}}</td>
            </tr>
            <tr>
                <td><b>Start/Apply Date :</b></td>
                <td>{{data.start_date}} To {{data.end_date}}</td>
            </tr>
            <tr>
                <td><b>Apply Amount :</b></td>
                <td><i class="mdi mdi-currency-inr mr-1"></i>{{data.loan_amount}}</td>
            </tr>
            <tr>
                <td><b>Balance :</b></td>
                <td><i class="mdi mdi-currency-inr mr-1"></i>{{data.remaining_amount}}</td>
            </tr>
            <tr>
                <td><b>Instalment :</b></td>
                <td><i class="mdi mdi-currency-inr mr-1"></i>{{data.installment_amount}}</td>
            </tr>
            <tr>
                <td><b>Receiver :</b></td>
                <td>{{data.member?.name}}</td>
            </tr>
            <tr>
                <td><b>Status :</b></td>
                <td>
                    <div class="badge bg-success text-white">{{data.loan_status}}</div>
                </td>
            </tr>
            <tr>
                <td><b>Loan Details :</b></td>
                <td>{{data.details}}</td>
            </tr>
            <tr *ngIf="data.loan_status_message != null">
                <td><b>Reply For Loan :</b></td>
                <td>{{data.loan_status_message}}</td>
            </tr>
        </tbody>
    </table>
</div>