@media (min-width: 320px) and (max-width: 992px) {
    .paragraph p{
        line-height: 22px;
    }
    main {
        position: relative;
        overflow-x: hidden;
    }
    .fixed-header {
        height: auto;
        position: fixed;
    }
    .com-msg-box{
        min-height: 100px;
    }
    .service_imgbg{
        margin: 0px 0px 100px 0px;
    }
    .padding-around{
        min-height: 60px;
    }
    .membership-section{
        padding: 30px 0px 0px 0px;
    }
    .tit-txtblock{
        position: relative;
        top: -5px;
        left: 0px;
        width: 100%;
        padding-bottom: 5px;
        min-height: 160px;
    }
    .tit-imgblock{
        width: 100%;
    }
    .tit-block{
        margin-bottom: 25px;
    }
    .flip-right .tit-imgblock{
        width: 100%;
    }
    .flip-right .tit-txtblock {
        left: 0px;
    }
    .form-signup .modal-body {
        padding: 10px 15px !important;
    }
    .padding-120 {
        padding: 40px 0px;
    }

}

@media (min-width: 320px) and (max-width: 767px) {
    .tit-txtblock{
        min-height: 100px;
    }
    .main-header{
        height: auto;
    }
    .sidebar-class.right {
        width: 100%;
    }
    .fixed-imgbox{
        display: block;
        margin-left: 0px;
    }
    .top-menu-ul li{
        display: none;
    }
    .border-bg-top{
        display: none;
    }
    .main-header:after{
        height: 58px;
    }
    .ts-top-bar{
        display: none;
    }
    .ts-header{
        display: none;
    }
    .banner-section{
        min-height: calc(100vh - 60px);
        background-position: right;
        top: -5px;
    }
    .banner-text {
        position: absolute;
        top: 30px;
        left: 2% !important;
        width: 96% !important;
    }
    .bannermain-text {
        font-size: 36px;
    }
    .main-headline span {
        font-size: 36px;
    }
    .main-headline {
        font-size: 24px;
    }
    .banner-btn{
        width: 96%;
        left: 2%;
        bottom: 50px;
        top: initial;
    }
    .ban-left-icon{
        font-size: 46px;
    }
    .about_image{
        margin-bottom: 20px;
    }
    .about-section{
        padding-bottom: 15px;
    }
    .chairman-said-section{
        padding: 20px 0px;
    }
    .gallery-section{
        padding: 20px 0px;
    }
    .left-subs{
        width: 100%;
        padding: 50px 15px;
    }
    .substext-inner h3{
        font-size: 24px;
    }
    .right-subs{
        padding: 50px 15px;
        width: 100%;
        clip-path: none;
    }
    .substext-inner h3 b{
        margin-left: 10px;
    }
    .substext-inner h3:before{
        width: 115px;
    }
    .padding-around{
        padding: 10px;
    }
    .subscribe-section{
        display: inline-block;
    }
    .titbits-section{
        padding: 25px 0px;
    }
    .contact-section{
        padding: 25px 0px;
    }
    .footerlink-section{
        display: inline-block;
    }
    .footer-left-subs{
        padding: 15px;
        width: 100%;
    }
    .footer-right-subs iframe{
        width: 100%;
        height: auto;
    }
    .footer-right-subs{
        width: 100%;
    }
    .footer-section{
        padding: 20px 0px 10px 0px;
        margin-top: -10px;
    }
    .service_block{
        padding: 25px 10px;
    }
    .service_imgbg{
        left: 5%;
    }
    .service-icons-block{
        margin-bottom: 25px;
    }
    .menus-bg:before{
        width: 62%;
    }
    .menus-bg:after{
        right: 62%;
    }
    .com-msg-box{
        padding: 20px 15px 15px 15px;
    }
    .chair-img-block{
        left:15px;
        width: 100px;
    }
    .chair-name{
        padding-left: 115px;
        font-size: 14px;
    }
    .chair-desig{
        padding-left: 115px;
    }
    .back-to-top{
        right: 15px;
    }
    .slider-bottom-inner{
        display: inline-block;
        transform: translateY(-5px);
    }
    .home-slider-area__bottom-area__itmes{
        width: 100%;
        display: inline-block;
        margin: 10px 0px;
    }
    .items-right-content{
        width: 60%;
        float: right;
        padding-right: 0px;
    }
    .heading-05{
        font-size: 16px;
        margin-bottom: 0px;
    }
    .ride-banner-sec{
        min-height: 70vh;
        background-position: bottom;
    }
    .service-items-wrap{
        display: inline-block;
    }
    .service-items-wrap__items {
        width: 100%;
    }
    .service-section{
        padding: 25px 0px;
    }
    .pro_more_det{
        padding: 15px;
        margin-bottom: 20px;
    }
    .service-getquote{
        padding: 25px 0px 10px 0px;
    }
    .form-signup{
        margin-top: 200px;
        width: 100%;
    }
    .drive-banner-sec{
        background-position: left;
        background-size: cover;
    }
    .service-content .title{
        left: 0px;
        font-size: 18px;
    }
}

@media (min-width: 320px) and (max-width: 576px) {

}

@media (min-width: 577px) and (max-width: 767px) {

}

@media (min-width: 320px) and (max-width: 360px) {

}

@media (min-width: 768px) and (max-width: 992px) {
    .top-bar-angle:after{
        width: 82%;
    }
    .top-bar-angle:before{
        right: 82%;
    }
    .footer_social_iconbox .btn-floating{
        margin: 5px 0px;
    }
    .footer-left-subs{
        padding: 30px 15px 10px 15px
    }
    .titbits-section{
        padding: 30px 15px;
    }
    .left-subs{
        padding: 100px 15px;
    }
    .right-subs{
        padding: 100px 5px 100px 30px;
    }
    .substext-inner h3{
        font-size: 26px;
    }
    .substext-inner h3 b{
        margin-left: 10px;
        font-size: 22px;
    }
    .top-logo img {
        width: 100px;
        position: absolute;
        left: -30px;
    }
    .menus-bg:before{
        width: 82%;
    }
    .menus-bg:after{
        right: 82%;
    }
    .top-menu-ul li a{
        padding: 15px 2px !important;
        font-size: 14px;
    }
    .fixed-imgbox{
        margin-left: -25px;
    }
    .banner-text{
        width: calc(50% - 30px);
        left: 15px;
    }
    .bannermain-text {
        font-size: 46px;
    }
    .main-headline {
        font-size: 30px;
    }
    .main-headline span {
        font-size: 46px;
        line-height: 46px;
    }
    .banner-btn{
        width: 300px;
        right: 15px;
    }
    .ban-left-icon{
        left: 15px;
    }
    .ban-btn-row{
        padding-left: 30%;
    }
    .service-icons-block{
        margin-bottom: 25px;
    }
    .service_block{
        padding: 30px 20px;
    }
    .home-slider-area__bottom-area__itmes{
        display: inline-block;
    }
    .items-right-content{
        width: 100%;
        margin-top: 120px;
    }
    .heading-05{
        font-size: 16px;
    }
    .pro_more_det{
        margin-bottom: 25px;
    }
    .service-items-wrap__items{
        padding: 10px;
    }
    .service-items-wrap__items .items-content-wrap .heading-04{
        font-size: 16px;
    }
    .service-items-wrap__items .items-content-wrap p{
        font-size: 14px;
        line-height: 20px;
    }
    .padding-bottom-20{
        padding-bottom: 0px;
    }
    .service-items-wrap__items .overlay-img .service-btn{
        padding: 10px 0px;
        min-width: 135px;
    }
    .drive-banner-sec{
        background-size: cover;
    }
    .form-signup {
        width: 50%;
        margin-right: 10px;
        margin-top: 10px;
    }

}

@media (min-width: 993px) and (max-width: 1199px) {
    .top-menu-ul li a {
        padding-right: 0px !important;
    }

    .padding-around {
        padding: 10px 10px 15px 10px;
    }

    .right-subs {
        padding: 100px 0px 100px 50px;
    }

    .tit-txtblock {
        right: 20px;
        padding: 10px;
        width: 50%;
    }

    .flip-right .tit-txtblock {
        left: 0px;
    }

    .items-right-content {
        width: 60%;
        margin-left: 10%;
    }

    .drive-banner-sec {
        background-size: 55%;
        padding: 15px 10px;
    }

    .form-signup .modal-body {
        padding: 10px 15px !important;
    }

    .service-content .item-number {
        font-size: 120px;
        transform: translateX(30px);
    }
}