<div class="dialoge_header">
    <div class="left_text">{{dataa.title |translate}}</div>
    <mat-icon class="close-icon" (click)="onClose()" color="warn">close</mat-icon>
</div>
<div class="dialoge_middle_container full_height_cover">
    <ng-container *ngIf="vcMembersExisting">
        <div class="basic_details_popup_block">
            <div class="details_block">
                <b>{{"VC Name"|translate}}:</b>
                <span>{{data.vc_name}}</span>
            </div>
            <div class="details_block">
                <b>{{"Type"|translate}}</b>
                <span>{{data.type}}</span>
            </div>
            <div class="details_block">
                <b>{{"Start Date"|translate}}</b>
                <span>{{data.start_date}}</span>
            </div>
            <div class="details_block">
                <b>{{"End Date"|translate}}</b>
                <span>{{data.end_date}}</span>
            </div>
            <div class="details_block">
                <b>{{"End Amount"|translate}}</b>
                <span><span appDigits>{{data.final_amount}}</span></span>
            </div>
            <div class="details_block">
                <b>{{"Total Members"|translate}}</b>
                <span>{{data.total_member}}</span>
            </div>
        </div>
        <div class="popup_table_block">
            <div class="headwith_add">
                <div class="main_table_head">{{"Selected VC Members"|translate}} {{customerListData.length}}
                </div>
                <div class="right_addbtn_withsearch">
                    <div class="search-box">
                        <input type="text" placeholder="Search" (keyup)="searchTable($event)" class="searchtxt" />
                        <i class="mdi mdi-magnify"></i>
                    </div>
                    <button (click)="openDialogAddCustomer()" class="btn btn-success btn-sm create_header_btn"
                        mat-raised-button>
                        <i class="mdi mdi-account-plus-outline"></i>
                        <span class="btn-txt button-text">{{"Add"|translate}}</span>
                    </button>
                </div>
            </div>
            <table class="table table-bordered table-responsive popup_table bg-white more_table">
                <thead>
                    <tr>
                        <th class="col s_no text-center">{{"S. No"|translate}}</th>
                        <th class="col profile_col">{{"Profile"|translate}}</th>
                        <th>{{"Customer No."|translate}}</th>
                        <th>{{"Customer Name"|translate}}</th>
                        <th>{{"Contact"|translate}}</th>
                        <!-- <th>{{"Paid Amount"|translate}}</th>
                        <th>{{"Pending"|translate}}</th>
                        <th>{{"Instalment"|translate}}</th> -->
                        <th>{{"Status"|translate}}</th>
                        <th class="text-center">{{"Remove"|translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let customerdata of filteredDataarray; let i=index">
                        <td class="col s_no">{{i}}</td>
                        <td class="col" [attr.data-name]="'Profile' | translate">
                            <div class="list_image_block "><img src="{{customerdata.image}}"
                                    onerror="this.src='assets/imgs/default-pic.png';">
                            </div>
                        </td>
                        <td class="col" [attr.data-name]="'C.No.' | translate">{{customerdata?.customer_no}}
                        </td>
                        <td class="col" [attr.data-name]="'Customer Name' | translate">
                            {{customerdata.name}}</td>
                        <td class="col" [attr.data-name]="'Contact' | translate">
                            <a class="table_hreaf" href="tel:{{customerdata.mobile}}">{{customerdata.mobile}}</a>
                        </td>
                        <!-- <td class="text-right col" [attr.data-name]="'Paid Amount' | translate">100000.00
                        </td>
                        <td class="text-right col" [attr.data-name]="'Pending' | translate">10000.00</td>
                        <td class="text-right col" [attr.data-name]="'Instalment' | translate">10000.00
                            
                        </td> -->
                        <td class="text-center col" [attr.data-name]="'Status' | translate"><span
                                class="badge bg-success text-white"
                                *ngIf="customerdata?.status == 'active'">{{customerdata?.status}}</span>
                            <span class="badge bg-danger text-white "
                                *ngIf="customerdata?.status == 'inactive'">{{customerdata?.status}}</span>
                        </td>
                        <td class="text-center col" [attr.data-name]="'Remove' | translate"
                            (click)="openDialogVcRemove(customerdata)"><span
                                class="btn btn-sm btn-danger btn_download"><i
                                    class="mdi mdi-account-off-outline"></i></span></td>
                    </tr>
                    <tr *ngIf="filteredDataarray?.length == 0">
                        <td class="norecord_col" colspan="7">
                            <app-no-record-found type="table" notext="No member available."></app-no-record-found>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-container>
    <ng-container *ngIf="!vcMembersExisting">
        <div class="popup_table_block">
            <div class="headwith_add">
                <div class="main_table_head">{{"Members"|translate}} {{filteredDataarrayOverall.length}}
                </div>
                <div class="right_addbtn_withsearch">
                    <div class="search-box">
                        <input type="text" placeholder="Search" (keyup)="searchTable($event)" class="searchtxt" />
                        <i class="mdi mdi-magnify"></i>
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-responsive popup_table bg-white more_table">
                <thead>
                     <tr>
                        <th class="col s_no text-center">{{"S. No"|translate}}</th>
                        <th class="col profile_col">{{"Profile"|translate}}</th>
                        <th>{{"Customer No."|translate}}</th>
                        <th>{{"Customer Name"|translate}}</th>
                        <th>{{"Contact"|translate}}</th>
                         <th>{{"Total VC"|translate}}</th>
                        <th>{{"Status"|translate}}</th>
                        <th class="text-center">{{"Remove"|translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col text-center" [attr.data-name]="'S.No.' | translate">1</td>
                        <td class="col" [attr.data-name]="'Profile' | translate">
                            <div class="list_image_block "><img src="assets/imgs/default-pic.png"
                                    onerror="this.src='assets/imgs/default-pic.png';">
                            </div>
                        </td>
                        <td class="col" [attr.data-name]="'C.No.' | translate">RC -10225
                        </td>
                        <td class="col" [attr.data-name]="'Customer Name' | translate">
                            Santosh Sahu</td>
                        <td class="col" [attr.data-name]="'Contact' | translate">
                            <a href="tel:9589883533"></a>9589883533
                        </td>
                        <td class="text-center col" [attr.data-name]="'Total VC' | translate"
                            (click)="vcList('details')">
                            <div class="amount_link" [matMenuTriggerFor]="memberVcList">
                               1
                            </div>
                            <mat-menu #memberVcList="matMenu" xPosition="before" class="small_details_matmenu">
                                <div class="vc_popup_table">
                                    <table
                                        class="table table-bordered table-responsive popup_table bg-white more_table">
                                        <thead>
                                            <tr>
                                                <th>{{"Vc Name"|translate}}</th>
                                                <th>{{"Final Amount"|translate}}</th>
                                                <th>{{"Start Date"|translate}}</th>
                                                <th>{{"End Date"|translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="col" [attr.data-name]="'VC Name' | translate">
                                                    1 Lakh VC
                                                </td>
                                                <td class="col" [attr.data-name]="'Amount' | translate">
                                                  <span appDigit>10000</span>
                                                </td>
                                                <td class="col" [attr.data-name]="'Start Date' | translate">
                                                    25/12/2025
                                                </td>
                                                 <td class="col" [attr.data-name]="'End Date' | translate">
                                                    25/11/2026
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </mat-menu>
                        </td>
                        <td class="text-center col" [attr.data-name]="'Status' | translate"><span
                                class="badge bg-success text-white">Active</span>
                        </td>
                        <td class="text-center col" [attr.data-name]="'Remove' | translate"
                            (click)="openDialogVcAdd('customerdata')">
                            <span class="btn btn-sm btn-danger btn_download">
                                <i class="mdi mdi-account-check-outline"></i>
                            </span>
                        </td>
                    </tr>
                    <tr *ngFor="let customerdata of filteredDataarrayOverall; let i=index">
                        <td class="col s_no" [attr.data-name]="'S.No.' | translate">{{i+1}}"></td>
                        <td class="col" [attr.data-name]="'Profile' | translate">
                            <div class="list_image_block "><img src="{{customerdata.image}}"
                                    onerror="this.src='assets/imgs/default-pic.png';">
                            </div>
                        </td>
                        <td class="col" [attr.data-name]="'C.No.' | translate">{{customerdata?.customer_no}}
                        </td>
                        <td class="col" [attr.data-name]="'Customer Name' | translate">
                            {{customerdata.name}}</td>
                        <td class="col" [attr.data-name]="'Contact' | translate">
                            {{customerdata.mobile}}
                        </td>
                        <td class="text-right col" [attr.data-name]="'Total VC' | translate"
                            (click)="vcList(customerdata?.vcDetails)">
                            <div class="language_block" [matMenuTriggerFor]="memberVcList">
                                {{customerdata?.vcDetails?.length}}
                            </div>
                            <mat-menu #memberVcList="matMenu" xPosition="before" class="global_popup_small">
                                <div class="popup_block">
                                    <table
                                        class="table table-bordered table-responsive popup_table bg-white more_table">
                                        <thead>
                                            <tr>
                                                <th>{{"Vc Name"|translate}}</th>
                                                <th>{{"Final Amount"|translate}}</th>
                                                <th>{{"Start Date"|translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let vcdata of customerdata?.vcDetails">
                                                <td class="col" [attr.data-name]="'VC Name' | translate">
                                                    {{vcdata?.vc_name}}
                                                </td>
                                                <td class="col" [attr.data-name]="'Amount' | translate">
                                                    {{vcdata?.final_amount}}
                                                </td>
                                                <td class="col" [attr.data-name]="'Start Date' | translate">
                                                    {{vcdata?.start_date}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </mat-menu>
                        </td>
                        <td class="text-center col" [attr.data-name]="'Status' | translate"><span
                                class="badge bg-success text-white"
                                *ngIf="customerdata?.status == 'active'">{{customerdata?.status}}</span>
                            <span class="badge bg-danger text-white "
                                *ngIf="customerdata?.status == 'inactive'">{{customerdata?.status}}</span>
                        </td>
                        <td class="text-center col" [attr.data-name]="'Remove' | translate"
                            (click)="openDialogVcAdd(customerdata)">
                            <span class="btn btn-sm btn-danger btn_download">
                                <i class="mdi mdi-account-check-outline"></i>
                            </span>
                        </td>
                    </tr>
                    <tr *ngIf="filteredDataarrayOverall?.length == 0">
                        <td class="norecord_col" colspan="8">
                            <app-no-record-found type="table" notext="No member available."></app-no-record-found>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-container>

</div>
<div class="dialoge_button_container">
    <button class="global_close_btn" (click)="onClose()" mat-stroked-button>{{"Close"|translate}}</button>
    <!-- <button type="submit" class="global_submit_btn" mat-flat-button (click)="submitVcMembers()">
        <mat-icon class="submitbtn_icon" *ngIf="!loading">check</mat-icon>
        <app-button-loader *ngIf="loading"></app-button-loader>
        <span>{{"Submit"|translate}}</span>
    </button> -->
</div>