<div class="dialoge_header">
    <div class="left_text">{{dataa.title |translate}}</div>
    <mat-icon class="close-icon" [mat-dialog-close]="true" color="warn">close</mat-icon>
</div>
<div class="dialoge_middle_container view_details_small_popup full_height_coverwithout_bottom">
    <table class="table table-responsive more_table">
        <tbody>
            <tr *ngIf="!loanApply">
                <td><b>{{"Loan No."|translate}}:</b></td>
                <td>{{data.loan_no}}</td>
            </tr>
            <tr>
                <td><b>{{"Customer No."|translate}}:</b></td>
                <td>{{data.customer?.customer_no}}</td>
            </tr>
            <tr>
                <td><b>{{"Profile"|translate}} :</b></td>
                <td>
                    <div class="list_image_block float-left" *ngIf="data.customer?.image == null">
                        <img src="assets/imgs/default-pic.png">
                    </div>
                    <div class="list_image_block float-left" *ngIf="data.customer?.image != null">
                        <img src="{{data.customer.image}}">
                    </div>
                </td>
            </tr>
            <tr>
                <td><b>{{"Customer Name"|translate}} :</b></td>
                <td>{{data.customer?.name}}</td>
            </tr>
            <tr *ngIf="!loanApply">
                <td><b>{{"Assign Member"|translate}} :</b></td>
                <td>{{data.member?.name}}</td>
            </tr>
            <tr *ngIf="loanApply">
                <td><b>{{"Apply Date"|translate}} :</b></td>
                <td>{{data.apply_date}}</td>
            </tr>
            <tr *ngIf="!loanApply">
                <td><b>{{"Start Date"|translate}} :</b></td>
                <td>{{data?.start_date}}</td>
            </tr>
            <tr *ngIf="!loanApply">
                <td><b>{{"End Date"|translate}} :</b></td>
                <td>{{data?.end_date}}</td>
            </tr>
            <tr *ngIf="loanApply">
                <td><b>{{"Applied Name"|translate}} :</b></td>
                <td>{{data?.applied_user_name}}</td>
            </tr>
            <tr>
                <td><b>{{"Loan Amount"|translate}} :</b></td>
                <td><span appDigits>{{data?.loan_amount}}</span></td>
            </tr>
            <tr *ngIf="!loanApply">
                <td><b>{{"Installment Amount"|translate}} :</b></td>
                <td><span appDigits>{{data?.installment_amount}}</span></td>
            </tr>
            <tr *ngIf="!loanApply">
                <td><b>{{"Pending Amount"|translate}} :</b></td>
                <td><span appDigits>{{data?.remaining_amount}}</span></td>
            </tr>
            <tr *ngIf="!loanApply">
                <td><b>{{"Loan Status Message"|translate}} :</b></td>
                <td>{{data?.loan_status_message}}</td>
            </tr>
            <tr *ngIf="!loanApply">
                <td><b>{{"Loan Status"|translate}} :</b></td>
                <td><span class="badge bg-success text-white"
                        *ngIf="data?.loan_status == 'paid'">{{data?.loan_status}}</span>
                </td>
            </tr>
            <tr>
                <td><b>{{"Status"|translate}} :</b></td>
                <td><span class="badge bg-success text-white" *ngIf="data.status == 'active'">{{data.status}}</span>
                    <span class="badge bg-danger text-white " *ngIf="data.status == 'inactive'">{{data.status}}</span>
                </td>
            </tr>
            <tr>
                <td><b>{{"Details"|translate}} :</b></td>
                <td>{{data?.details}}</td>
            </tr>
        </tbody>
    </table>
    <div class="global_details_image_container" *ngIf="!loanApply && data?.document.length">
        <div class="image_twopart card" *ngFor="let docdata of data?.document; let i=index">
            <img [src]="docdata?.document_url" alt="Uploaded Image" />
        </div>
    </div>
</div>