<div class="dialoge_header">
    <div class="left_text">{{dataa.title}}</div>
    <mat-icon class="close-icon" [mat-dialog-close]="true" color="warn">close</mat-icon>
</div>
<div class="dialoge_middle_container">
    <table class="table table-bordered table-responsive bg-white more_table">
        <tbody>
            <tr *ngIf="!loanApply">
                <td><b>Loan No.:</b></td>
                <td>{{data.loan_no}}</td>
            </tr>
            <tr>
                <td><b>Customer No.:</b></td>
                <td>{{data.customer?.customer_no}}</td>
            </tr>
            <tr>
                <td><b>Profile Image :</b></td>
                <td>
                    <div class="list_image_block float-left" *ngIf="data.customer?.image == null">
                        <img src="assets/imgs/default-pic.png">
                    </div>
                    <div class="list_image_block float-left" *ngIf="data.customer?.image != null">
                        <img src="{{data.customer.image}}">
                    </div>
                </td>
            </tr>
            <tr>
                <td><b>Customer Name :</b></td>
                <td>{{data.customer?.name}}</td>
            </tr>
            <tr *ngIf="!loanApply">
                <td><b>Assign Member :</b></td>
                <td>{{data.member?.name}}</td>
            </tr>
            <tr *ngIf="loanApply">
                <td><b>Apply Date :</b></td>
                <td>{{data.apply_date}}</td>
            </tr>
            <tr *ngIf="!loanApply">
                <td><b>Start Date :</b></td>
                <td>{{data?.start_date}}</td>
            </tr>
            <tr *ngIf="!loanApply">
                <td><b>End Date :</b></td>
                <td>{{data?.end_date}}</td>
            </tr>
            <tr *ngIf="loanApply">
                <td><b>Applied Name :</b></td>
                <td>{{data?.applied_user_name}}</td>
            </tr>
            <tr>
                <td><b>Loan Amount :</b></td>
                <td>{{data?.loan_amount}}</td>
            </tr>
            <tr *ngIf="!loanApply">
                <td><b>Installment Amount :</b></td>
                <td>{{data?.installment_amount}}</td>
            </tr>
            <tr *ngIf="!loanApply">
                <td><b>Pending Amount :</b></td>
                <td>{{data?.remaining_amount}}</td>
            </tr>
            <tr *ngIf="!loanApply">
                <td><b>Loan Status Message :</b></td>
                <td>{{data?.loan_status_message}}</td>
            </tr>
            <tr *ngIf="!loanApply">
                <td><b>Loan Status :</b></td>
                <td><span class="badge bg-success text-white"
                        *ngIf="data?.loan_status == 'approved'">{{data?.loan_status}}</span>
                    <span class="badge bg-danger text-white "
                        *ngIf="data?.loan_status == 'cancelled'">{{data?.loan_status}}</span>
                </td>
            </tr>
            <tr>
                <td><b>Status :</b></td>
                <td><span class="badge bg-success text-white" *ngIf="data.status == 'active'">{{data.status}}</span>
                    <span class="badge bg-danger text-white " *ngIf="data.status == 'inactive'">{{data.status}}</span>
                </td>
            </tr>
            <tr>
                <td><b>Details :</b></td>
                <td>{{data?.details}}</td>
            </tr>
        </tbody>
    </table>
</div>