<div class="change_password_container">
    <mat-card appearance="outlined" class="reset_card">
        <div class="card-body">
            <form [formGroup]="changePasswordForm">
                <div class="heading">Update Your Password</div>
                <div class="form_control_row">
                    <mat-form-field class="global_input_block password_icons" appearance="outline">
                        <mat-label>Previous Password</mat-label>
                        <mat-icon class="input_right_icons" (click)="hide = !hide">{{
                            hide ? "visibility_off" : "visibility"
                            }}</mat-icon>
                        <input formControlName="previouspassword" name="previouspassword" required maxlength="32" matInput
                            [type]="hide ? 'password' : 'text'" class="placeholder" />
                        <app-input-field-validation [className]="'bottom_error_msg'" [form]="changePasswordForm"
                            [key]="'previouspassword'" [displayMsg]="'Recent Password is required'">
                        </app-input-field-validation>
                    </mat-form-field>
                </div>
                <div class="form_control_row">
                    <mat-form-field class="global_input_block password_icons" appearance="outline">
                        <mat-label>New Password</mat-label>
                        <mat-icon class="input_right_icons" (click)="newhide = !newhide">{{
                            newhide ? "visibility_off" : "visibility"
                            }}</mat-icon>
                        <input formControlName="newpassword" name="newpassword" required maxlength="32" matInput
                            [type]="newhide ? 'password' : 'text'" class="placeholder" />
                        <app-input-field-validation [className]="'bottom_error_msg'" [form]="changePasswordForm"
                            [key]="'newpassword'" [displayMsg]="'New Password is required'">
                        </app-input-field-validation>
                    </mat-form-field>
                </div>
                <div class="form_control_row">
                    <mat-form-field class="global_input_block password_icons" appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <mat-icon class="input_right_icons" (click)="confirmhide = !confirmhide">{{
                            confirmhide ? "visibility_off" : "visibility"
                            }}</mat-icon>
                        <input formControlName="confirmpassword" name="confirmpassword" required maxlength="32" matInput
                            [type]="confirmhide ? 'password' : 'text'" class="placeholder" />
                        <app-input-field-validation [className]="'bottom_error_msg'" [form]="changePasswordForm"
                            [key]="'confirmpassword'" [displayMsg]="'Confirm Password is required'">
                        </app-input-field-validation>
                    </mat-form-field>
                </div>
                <div class="login-btnblock text-center mt-3">
                    <button type="submit" mat-stroked-button class="btn btn_theme bg-primary"
                        (click)="changePassword()">
                        <app-button-loader *ngIf="loading"></app-button-loader>
                        <mat-icon *ngIf="!loading" class="submitbtn_icon">check</mat-icon>
                        <span>Update</span>
                    </button>
                </div>
            </form>
        </div>
    </mat-card>
</div>