<div class="change_password_container">
    <mat-card appearance="outlined" class="reset_card">
        <div class="card-body">
            <form [formGroup]="changePasswordForm">
                <div class="heading">Update Your Password</div>
                <div class="form_control_row">
                    <mat-form-field class="global_input_block password_icons" appearance="outline">
                        <mat-label>Recent Password</mat-label>
                        <mat-icon class="input_right_icons" (click)="hide = !hide">{{
                            hide ? "visibility_off" : "visibility"
                            }}</mat-icon>
                        <input formControlName="previous_password" name="previous_password" required maxlength="32"
                            minlength="5" matInput [type]="hide ? 'password' : 'text'" class="placeholder" />
                        <app-input-field-validation [className]="'bottom_error_msg'" [form]="changePasswordForm"
                            [maxLength]="'Minimum length should be 5'" [key]="'previous_password'"
                            [displayMsg]="'Recent Password is required'">
                        </app-input-field-validation>
                    </mat-form-field>
                </div>
                <div class="form_control_row">
                    <mat-form-field class="global_input_block password_icons" appearance="outline">
                        <mat-label>New Password</mat-label>
                        <mat-icon class="input_right_icons" (click)="newhide = !newhide">{{
                            newhide ? "visibility_off" : "visibility"
                            }}</mat-icon>
                        <input formControlName="new_password" name="new_password" required maxlength="32" minlength="8"
                            matInput [type]="newhide ? 'password' : 'text'" class="placeholder" />
                        <app-input-field-validation [className]="'bottom_error_msg'" [form]="changePasswordForm"
                            [maxLength]="'Minimum length should be 5'" [key]="'new_password'"
                            [displayMsg]="'New Password is required'">
                        </app-input-field-validation>
                    </mat-form-field>
                </div>
                <div class="form_control_row">
                    <mat-form-field class="global_input_block password_icons" appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <mat-icon class="input_right_icons" (click)="confirmhide = !confirmhide">{{
                            confirmhide ? "visibility_off" : "visibility"
                            }}</mat-icon>
                        <input formControlName="new_password_confirmation" name="new_password_confirmation" required
                            maxlength="32" minlength="5" matInput [type]="confirmhide ? 'password' : 'text'"
                            class="placeholder" />
                        <app-input-field-validation [className]="'bottom_error_msg'" [form]="changePasswordForm"
                            [maxLength]="'Minimum length should be 5'" [key]="'new_password_confirmation'"
                            [displayMsg]="'Confirm Password is required'">
                        </app-input-field-validation>
                        <mat-error class="bottom_error_msg"
                            *ngIf="changePasswordForm.get('new_password_confirmation')?.hasError('passwordMismatch')">
                            Passwords do not match
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="login-btnblock text-center mt-3">
                    <button type="submit" mat-stroked-button class="btn btn_theme bg-primary"
                        (click)="changePassword()">
                        <mat-icon class="submitbtn_icon" *ngIf="!loading">check</mat-icon>
                        <app-button-loader *ngIf="loading"></app-button-loader>
                        <span>Update</span>
                    </button>
                </div>
            </form>
        </div>
    </mat-card>
</div>