<div class="dialoge_header">
    <div class="left_text">{{dataa.title}}</div>
    <mat-icon class="close-icon" [mat-dialog-close]="true" color="warn">close</mat-icon>
</div>
<div class="dialoge_middle_container full_height_cover small_popup">
    <table class="table table-bordered table-responsive bg-white more_table mb-30">
        <tbody>
            <tr>
                <td><b>Fixed Deposit Name:</b></td>
                <td>RK-101</td>
            </tr>
            <tr>
                <td><b>Start Date :</b></td>
                <td>RK-101</td>
            </tr>
            <tr>
                <td><b>End Date :</b></td>
                <td>10</td>
            </tr>
            <tr>
                <td><b>Days / Time Slot :</b></td>
                <td>2</td>
            </tr>
            <tr>
                <td><b>Start Amount :</b></td>
                <td>2</td>
            </tr>
            <tr>
                <td><b>End Amount :</b></td>
                <td>2</td>
            </tr>

        </tbody>
    </table>
    <app-dropdwon key="status" field="Status"></app-dropdwon>
    <mat-form-field class="global_textarea_block" appearance="outline">
        <mat-label>Details</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>
</div>
<div class="dialoge_button_container">
    <button class="global_close_btn" [mat-dialog-close]="true" mat-stroked-button>Close</button>
    <button class="global_submit_btn" mat-flat-button (click)="save()">Update</button>
</div>