<div class="dialoge_header">
    <div class="left_text">{{dataa.title |translate}}</div>
    <mat-icon class="close-icon" (click)="onClose()" color="warn">close</mat-icon>
</div>
<div class="dialoge_middle_container full_height_cover ">
    <table class="table table-bordered table-responsive bg-white more_table mb-30">
        <tbody>
            <tr>
                <td><b>{{"Fixed Deposit Name"|translate}}:</b></td>
                <td>{{data.name}}</td>
            </tr>
            <tr>
                <td><b>{{"Start Date"|translate}} :</b></td>
                <td>{{data.start_date}}</td>
            </tr>
            <tr>
                <td><b>{{"End Date"|translate}} :</b></td>
                <td>{{data.end_date}}</td>
            </tr>

            <tr>
                <td><b>{{"Start Amount"|translate}} :</b></td>
                <td>{{data.deposit_amount}}</td>
            </tr>
            <tr>
                <td><b>{{"End Amount"|translate}} :</b></td>
                <td>{{data.refund_amount}}</td>
            </tr>

        </tbody>
    </table>
    <form focusInvalidInput [formGroup]="changeStatusForm">
        <div class="modal_insert">
            <app-dropdwon [optionArray]="dropdownService.deposit_status" [form]="changeStatusForm" [key]="'status'"
                [className]="'bottom_error_msg'" formControlName="deposit_status" field="Status"></app-dropdwon>

            <app-textarea [disabled]="true" label="Reason" [(value)]="reason" [isRequired]="true"
                [className]="'bottom_error_msg'" [form]="changeStatusForm" [key]="'reason'"
                [displayMsg]="'Reason is required'"></app-textarea>
        </div>
    </form>

</div>
<div class="dialoge_button_container">
    <button class="global_close_btn" (click)="onClose()" mat-stroked-button>Close</button>
    <button type="submit" class="global_submit_btn" mat-flat-button (click)="submitStatus()">
        <mat-icon class="submitbtn_icon" *ngIf="!loading">check</mat-icon>
        <app-button-loader *ngIf="loading"></app-button-loader>
        <span>Submit</span>

    </button>
</div>