<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white navleft-siderbar no-print"
    id="sidenav-main">
    <div class="container-fluid">
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main"
            aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <a class="navbar-brand p-0 text-left">
            <img src="./assets/imgs/rk-group-logo-inner.png" class="navbar-brand-img" />
        </a>
        <div class="collapse navbar-collapse mainmenu_collapse" id="sidenav-collapse-main">
            <!-- <div class="navbar-collapse-header d-md-none">
                <div class="row">
                    <div class="col-6 collapse-brand">

                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse"
                            data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false"
                            aria-label="Toggle sidenav">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div> -->
            <ul class="navbar-nav left-menu" (click)="onLetfMenuClick($event)">
                <!-- *ngIf="user_type == 0" -->
                <li class="nav-item">
                    <a routerLink="/dashboard" class="nav-link active"> <i class="mdi mdi-home-outline"></i>
                        Dashboard
                    </a>
                </li>
                <!-- <li class="nav-item" *ngIf="user_type == 1">
                    <a routerLink="/dashboard" class="nav-link active"> <i class="mdi mdi-home-outline"></i>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item" *ngIf="user_type == 2">
                    <a routerLink="/dashboard" class="nav-link active"> <i class="mdi mdi-home-outline"></i>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item" *ngIf="user_type == 3">
                    <a routerLink="/dashboard" class="nav-link active"> <i class="mdi mdi-home-outline"></i>
                        Dashboard
                    </a>
                </li> -->
                <li class="nav-item" *ngIf="user_type == 0">
                    <a routerLink="/company_list" class="nav-link "> <i class="mdi mdi-account-group-outline"></i>
                        Company List
                    </a>
                </li>
                <li class="nav-item" *ngIf="user_type == 1">
                    <a routerLink="/member_list" class="nav-link"> <i class="mdi mdi-account-tie"></i> Members List
                    </a>
                </li>
                <li class="nav-item" *ngIf="user_type == 1 || user_type == 2">
                    <a routerLink="/customer_list" class="nav-link"> <i class="mdi mdi-account-group-outline"></i>
                        Customer List
                    </a>
                </li>
                <li class="nav-item" *ngIf="user_type == 3">
                    <a routerLink="/loan_list" class="nav-link"> <i class="mdi mdi-account-switch-outline"></i> Loan
                        List
                    </a>
                </li>
                <li class="nav-item" *ngIf="user_type == 2 || user_type == 3">
                    <a routerLink="/daily_collection" class="nav-link"> <i class="mdi mdi-account-alert-outline"></i>
                        Daily Collection
                    </a>
                </li>
                <li class="nav-item" *ngIf="user_type == 1">
                    <a routerLink="/daily_collect_list" class="nav-link"> <i class="mdi mdi-account-alert-outline"></i>
                        Daily Collect List
                    </a>
                </li>                
                <li class="nav-item" *ngIf="user_type == 1">
                    <a routerLink="/money_received" class="nav-link"> <i class="mdi mdi-account-cash-outline"></i>
                        Money Receive
                    </a>
                </li>
                <li class="nav-item" *ngIf="usertype == 2 || usertype == 3">
                    <a routerLink="/collect_money" class="nav-link"> <i class="mdi mdi-account-cash-outline"></i>
                        Collect Money
                    </a>
                </li>
                <li class="nav-item" *ngIf="user_type != 0">
                    <a routerLink="/offers" class="nav-link"> <i class="mdi mdi-tag-multiple-outline"></i>Offers
                        List</a>
                </li>
                <li class="nav-item" *ngIf="user_type == 1">
                    <a routerLink="/fixed_deposit" class="nav-link"> <i
                            class="mdi mdi-card-account-details-star-outline"></i> Fixed Deposit
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/reports" class="nav-link"> <i class="mdi mdi-card-account-details-star-outline"></i>
                        Reports
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/change_password" class="nav-link"> <i
                            class="mdi mdi-card-account-details-star-outline"></i>
                        Change Password
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>