<nav [class.hideSidebar]="isVisible" class="{{menuActionClass}} navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white navleft-siderbar no-print"
    id="sidenav-main">
    <div class="container-fluid">
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main"
            aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <a class="navbar-brand p-0 text-left" routerLink="/dashboard">
            <img *ngIf="currentLogingImage == null && currentLogingImage == ''"
                src="./assets/imgs/rk-group-logo-inner.png" class="navbar-brand-img" />
            <img *ngIf="currentLogingImage" src="{{currentLogingImage}}" class="navbar-brand-img" />
        </a>
        <div class="collapse navbar-collapse mainmenu_collapse" id="sidenav-collapse-main">
            <!-- <div class="navbar-collapse-header d-md-none">
                <div class="row">
                    <div class="col-6 collapse-brand">

                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse"
                            data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false"
                            aria-label="Toggle sidenav">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div> (click)="onLeftMenuClick($event)"-->
            <ul class="navbar-nav left-menu">
                <!-- *ngIf="user_type == 0" -->
                <li class="nav-item">
                    <a routerLink="/dashboard" routerLinkActive="active" class="nav-link"> <i
                            class="mdi mdi-home-outline"></i>
                        {{"Dashboard"|translate}}
                    </a>
                </li>
                <!-- <li class="nav-item" *ngIf="user_type == 1">
                    <a routerLink="/dashboard" class="nav-link active"> <i class="mdi mdi-home-outline"></i>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item" *ngIf="user_type == 2">
                    <a routerLink="/dashboard" class="nav-link active"> <i class="mdi mdi-home-outline"></i>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item" *ngIf="user_type == 3">
                    <a routerLink="/dashboard" class="nav-link active"> <i class="mdi mdi-home-outline"></i>
                        Dashboard
                    </a>
                </li> -->
                <li class="nav-item" *ngIf="user_type == 0">
                    <a (click)="ngOnChanges()" routerLink="/company_list" routerLinkActive="active" class="nav-link ">
                        <i class="mdi mdi-account-group-outline"></i>
                        {{"Company List"|translate}}
                    </a>
                </li>
                <li class="nav-item" *ngIf="user_type == 1">
                    <a routerLink="/member_list" routerLinkActive="active" class="nav-link"> <i
                            class="mdi mdi-account-tie"></i> {{"Members List"|translate}}
                    </a>
                </li>
                <li class="nav-item" *ngIf="user_type == 1 || user_type == 2">
                    <a (click)="ngOnChanges()" routerLink="/customer_list" routerLinkActive="active" class="nav-link">
                        <i class="mdi mdi-account-group-outline"></i>
                        {{"Customer List"|translate}}
                    </a>
                </li>
                <li class="nav-item" *ngIf="user_type == 1">
                    <a routerLink="/loan_list" routerLinkActive="active" class="nav-link"> <i
                            class="mdi mdi-account-switch-outline"></i>
                        {{"Loan List"|translate}}
                    </a>
                </li>
                <li class="nav-item" *ngIf="user_type == 3">
                    <a routerLink="/my_loan_list" routerLinkActive="active" class="nav-link"> <i
                            class="mdi mdi-account-switch-outline"></i>
                        {{"My Loan List"|translate}}
                    </a>
                </li>
                <li class="nav-item" *ngIf="user_type == 2 || user_type == 3">
                    <a routerLink="/daily_collection" routerLinkActive="active" class="nav-link"> <i
                            class="mdi mdi-account-alert-outline"></i>
                        {{"Daily Collection"|translate}}
                    </a>
                </li>
                <li class="nav-item" *ngIf="user_type == 1">
                    <a routerLink="/daily_collect_list" routerLinkActive="active" class="nav-link"> <i
                            class="mdi mdi-account-alert-outline"></i>
                        {{"Deposit List"|translate}}
                    </a>
                </li>
                <li class="nav-item" *ngIf="user_type == 1">
                    <a routerLink="/money_received" routerLinkActive="active" class="nav-link"> <i
                            class="mdi mdi-account-cash-outline"></i>
                        {{"Money Receive"|translate}}
                    </a>
                </li>
                <!-- <li class="nav-item" *ngIf="user_type == 2 || user_type == 3">
                    <a routerLink="/collect_money" routerLinkActive="active" class="nav-link"> <i
                            class="mdi mdi-account-cash-outline"></i>
                        {{"Collect Money"|translate}}
                    </a>
                </li> -->
                <li class="nav-item" *ngIf="user_type != 0">
                    <a routerLink="/offers" routerLinkActive="active" class="nav-link"> <i
                            class="mdi mdi-tag-multiple-outline"></i>
                        {{"Offers List"|translate}}</a>
                </li>
                <li class="nav-item" *ngIf="user_type == 1">
                    <a routerLink="/fixed_deposit" routerLinkActive="active" class="nav-link"> <i
                            class="mdi mdi-card-account-details-star-outline"></i>
                        {{"Fixed Deposit"|translate}}
                    </a>
                </li>
                <!-- <li class="nav-item" *ngIf="user_type == 1">
                    <a routerLink="/vc_management" routerLinkActive="active" class="nav-link"> <i
                            class="mdi mdi-cash-multiple"></i>
                        {{"VC Management"|translate}}
                    </a>
                </li> -->
                <li class="nav-item" *ngIf="user_type == 1">
                    <a routerLink="/reports" routerLinkActive="active" class="nav-link"> <i
                            class="mdi mdi-chart-bar"></i>
                        {{"Reports"|translate}}
                    </a>
                </li>
                <li class="nav-item" *ngIf="user_type == 3 || user_type == 1">
                    <a routerLink="/request_money" routerLinkActive="active" class="nav-link"> <i
                            class="mdi mdi-currency-inr"></i>
                        {{"Request Money"|translate}}
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/profile_details" routerLinkActive="active" class="nav-link"> <i
                            class="mdi mdi-account-edit-outline"></i>
                        {{"Edit Profile"|translate}}
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/change_password" routerLinkActive="active" class="nav-link"> <i
                            class="mdi mdi-textbox-password"></i>
                        {{"Change Password"|translate}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- <div class="overlay_popup_block" *ngIf="menuActionClass != ''" (click)="onOverlayClick()"></div> -->
<div class="overlay_popup_block" *ngIf="isVisible" (click)="onOverlayClick2()"></div>