<div class="card shadow dash-cardbox">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col col-sm-4 pl-1">
                <h3 class="mb-0">{{"Request Amount List"|translate}}</h3>
            </div>
            <div class="col text-right pr-1 datewith_search_block calender_withsearch" *ngIf="user_type == 1">
                <form focusInvalidInput [formGroup]="filterDateForm">
                    <div class="list_calender_filter date_ddl_reset_block">
                        <app-input class="date_block" [isDateField]="true" label="Filter Date" [(value)]="date"
                            [className]="'bottom_error_msg'" formControlName="date" [key]="'date'"
                            [form]="filterDateForm" (valueChange)="getRequestClick($event ,'date')"></app-input>
                        <div class="listsearch-topblock search_withaddbtn pr-0">
                            <mat-form-field class="global_dropdown global_ddl_m_p_0" appearance="outline">
                                <mat-label>Request by Customer</mat-label>
                                <mat-icon class="arrow_icon">keyboard_arrow_down</mat-icon>
                                <mat-select [formControl]="selectControl"
                                    (valueChange)="getRequestClick($event, 'customer')">
                                    <mat-option *ngFor="let unassigndata of getCustomerData; let i =index"
                                        [value]="unassigndata.id">
                                        {{unassigndata.name}} {{unassigndata.id}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <button class="global_reset_btn" mat-flat-button (click)="resetTable()">
                            <mat-icon>refresh</mat-icon>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <table class="table align-items-center table-flush mydata-table">
        <thead class="thead-light" *ngIf="user_type == 1">
            <tr>
                <th class="col id_col">{{"Request No."|translate}}</th>
                <th class="col">{{"Request Date"|translate}}</th>
                <th class="col">{{"Request By"|translate}}</th>
                <th class="col">{{"Customer Name"|translate}}</th>
                <th class="col amount_col">{{"Amount"|translate}}</th>
                <th class="col status_col">{{"Status"|translate}}</th>
                <th class="col action_col">{{"Action"|translate}}</th>
            </tr>
        </thead>
        <tbody *ngIf="user_type == 1">
            <tr *ngIf="loader">
                <td class="norecord_col" colspan="7">
                    <app-page-loader></app-page-loader>
                </td>
            </tr>
            <tr *ngIf="requestList?.length == 0 && !loader">
                <td class="norecord_col" colspan="7">
                    <app-no-record-found type="table" notext="No Request Found."></app-no-record-found>
                </td>
            </tr>
            <ng-container *ngIf="requestList?.length != 0 && !loader">
                <tr *ngFor="let request of requestList">
                    <td class="col" data-name="Request No.">{{request.deposit_no}}</td>
                    <td class="col" data-name="Request Date">{{request.request_date}}</td>
                    <td class="col capatalise_col" data-name="Request By">{{request.requested_by}}</td>
                    <td class="col" data-name="Customer Name">{{request.customer_name}}</td>
                    <td class="col text-right" data-name="Amount"><i
                            class="mdi mdi-currency-inr mr-1"></i>{{request.request_amount}}
                    </td>
                    <td class="col text-center" data-name="Status">
                        <div class="badge text-white"
                            [ngClass]="request.status == 'pending' ? 'bg-warning' : 'bg-success'">{{request.status}}
                        </div>
                    </td>
                    <td class="action_col" data-name="Action">
                        <div placement="bottom-right">
                            <button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <div class="table_actionmenu">
                                    <button mat-menu-item (click)="openDialogActionForDeposit(request)"
                                        *ngIf="user_type == 1">
                                        <i class="mdi mdi-message-outline mr-2"></i>
                                        <span>{{"Action For Request"|translate}}</span>
                                    </button>
                                    <button mat-menu-item (click)="openDialogViewDetail(request)">
                                        <i class="mdi mdi-eye mr-2"></i> <span>{{"View Details"|translate}}</span>
                                    </button>
                                </div>
                            </mat-menu>
                        </div>
                    </td>
                </tr>
            </ng-container>
        </tbody>

        <thead class="thead-light" *ngIf="user_type == 3">
            <tr>
                <th class="col id_col">{{"Request Date"|translate}}</th>
                <th class="col action_colbtn">{{"Request By"|translate}}</th>
                <th class="col ">{{"Reason"|translate}}</th>
                <th class="col id_col">{{"Request Type"|translate}}</th>
                <th class="col amount_col">{{"Amount"|translate}}</th>
                <th class="col status_col">{{"Status"|translate}}</th>
                <th class="col action_col">{{"Action"|translate}}</th>
            </tr>
        </thead>
        <tbody *ngIf="user_type == 3">
            <tr *ngIf="loader">
                <td class="norecord_col" colspan="7">
                    <app-page-loader></app-page-loader>
                </td>
            </tr>
            <tr *ngIf="customerRequestList?.length == 0 && !loader">
                <td class="norecord_col" colspan="7">
                    <app-no-record-found type="table" notext="No Request Found."></app-no-record-found>
                </td>
            </tr>
            <ng-container *ngIf="customerRequestList?.length != 0 && !loader">
                <tr *ngFor="let request of customerRequestList">
                    <td class="col" data-name="Request Date">{{request.request_date}}</td>
                    <td class="col capatalise_col" data-name="Request By">{{request.requested_by}}</td>
                    <td class="col" data-name="Reason">{{request.reason}}</td>
                    <td class="col capatalise_col text-center" data-name="Request Type">{{request.request_type}}</td>
                    <td class="col" data-name="Amount"><i class="mdi mdi-currency-inr mr-1"></i>{{request.amount}}
                    </td>
                    <td class="col text-center" data-name="Status">
                        <div *ngIf="request.status == 'approved'" class="badge bg-success text-white">{{request.status}}
                        </div>
                        <div *ngIf="request.status == 'pending'" class="badge bg-warning text-white">{{request.status}}
                        </div>
                    </td>
                    <td class="action_col" data-name="Action">
                        <div placement="bottom-right">
                            <button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <div class="table_actionmenu">

                                    <button mat-menu-item (click)="openDialogViewDetail(request)">
                                        <i class="mdi mdi-eye mr-2"></i> <span>{{"View Details"|translate}}</span>
                                    </button>
                                </div>
                            </mat-menu>
                        </div>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>