<div class="dialoge_header">
    <div class="left_text" *ngIf="!member_id">{{dataa.title}}</div>
    <div class="left_text" *ngIf="member_id">{{dataa.title}}</div>
    <mat-icon class="close-icon" [mat-dialog-close]="true" color="warn">close</mat-icon>
</div>
<div class="dialoge_middle_container full_height_cover">
    <form focusInvalidInput [formGroup]="memberForm">
        <div class="modal_insert">
            <div class="row">
                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <app-input [isDateField]="false" label="Name" [(value)]="name" [isRequired]="true"
                        [className]="'bottom_error_msg'" [form]="memberForm" [key]="'name'"
                        [displayMsg]="'Name is required'"></app-input>
                </div>

                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <app-input [isDateField]="false" label="Mobile" [(value)]="mobile" [isRequired]="true"
                        [className]="'bottom_error_msg'" [form]="memberForm" [key]="'mobile'"
                        [displayMsg]="'Mobile is required'"></app-input>
                </div>
                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <app-input [isDateField]="false" label="Email" [(value)]="email" [isRequired]="true"
                        [className]="'bottom_error_msg'" [form]="memberForm" [key]="'email'"
                        [displayMsg]="'Email is required'"></app-input>
                </div>
                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <app-input [isDateField]="false" label="Aadhar No." [(value)]="aadhar_no" [isRequired]="true"
                        [className]="'bottom_error_msg'" [form]="memberForm" [key]="'aadhar_no'"
                        [displayMsg]="'Aadhar number is required'"></app-input>
                </div>

                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <app-input [isDateField]="true" label="Join Date" [(value)]="join_date" [isRequired]="true"
                        [className]="'bottom_error_msg'" [form]="memberForm" [key]="'join_date'"
                        [displayMsg]="'Join date is required'"></app-input>
                </div>
                <ng-container *ngIf="!member_id">
                    <div class="col-sm-4 col-lg-4 col-xs-12">
                        <app-input [isDateField]="false" label="Member Login Id" [(value)]="member_login_id"
                            [className]="'bottom_error_msg'" [form]="memberForm" [key]="'member_login_id'"
                            [displayMsg]="'Login id is required'"></app-input>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-xs-12">
                        <app-input [isDateField]="false" label="Password" [(value)]="password"
                            [className]="'bottom_error_msg'" [form]="memberForm" [key]="'password'"
                            [displayMsg]="'Password is required'"></app-input>
                    </div>
                </ng-container>

                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <app-dropdwon key="status" field="Status" formControlName="status" name="status"></app-dropdwon>
                </div>


                <div class="col-sm-6 col-lg-6 col-xs-12">
                    <app-input [isDateField]="false" label="Address" [(value)]="address" [isRequired]="true"
                        [className]="'bottom_error_msg'" [form]="memberForm" [key]="'address'"
                        [displayMsg]="'Address is required'"></app-input>
                </div>

                <div class="col-sm-6 col-lg-6 col-xs-12">
                    <div class="file_upload_block global_textbox_block">
                        <label class="m-0">Member Image</label>
                        <app-fileupload class="fileupload" formControlName="image" name="image"
                            (fileChange)="onFileChange($event)"></app-fileupload>
                    </div>
                </div>



            </div>
        </div>





    </form>
</div>
<div class="dialoge_button_container">
    <button class="global_close_btn" [mat-dialog-close]="true" mat-stroked-button>Close</button>
    <button type="submit" class="global_submit_btn" *ngIf="!member_id" mat-flat-button (click)="save()">
        <mat-icon class="submitbtn_icon" *ngIf="!loading">check</mat-icon>
        <app-button-loader *ngIf="loading"></app-button-loader>
        <span>Submit</span>
    </button>
    <button type="submit" class="global_submit_btn" *ngIf="member_id" mat-flat-button (click)="save()">
        <mat-icon class="submitbtn_icon" *ngIf="!loading">check</mat-icon>
        <app-button-loader *ngIf="loading"></app-button-loader>
        <span>Update</span>
    </button>
</div>