<div class="main_block">
    <!-- <app-edit-details></app-edit-details> -->
    <!-- <form focusInvalidInput [formGroup]="editForm">
        <div class="profile_with_block">
            <div class="image_upload">
                <app-fileupload class="fileupload_image" [imageSize]="'120'" [uploadType]="'profile'"
                    formControlName="image" name="image" (fileChange)="onFileChange($event)"></app-fileupload>
            </div>
            <div class="row">
                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <app-input [isDateField]="false" label="Name" [(value)]="name" [isRequired]="true"
                        [className]="'bottom_error_msg'" [form]="memberForm" [key]="'name'"
                        [displayMsg]="'Name is required'"></app-input>
                </div>
                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <app-input [isDateField]="false" label="Mobile" [(value)]="mobile" [isRequired]="true"
                        [className]="'bottom_error_msg'" [form]="memberForm" [key]="'mobile'"
                        [displayMsg]="'Mobile is required'"></app-input>
                </div>
                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <app-input [isDateField]="false" label="Email" [(value)]="email" [isRequired]="true"
                        [className]="'bottom_error_msg'" [form]="memberForm" [key]="'email'"
                        [displayMsg]="'Email is required'"></app-input>
                </div>
                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <app-input [isDateField]="false" label="Aadhar No." [(value)]="aadhar_no" [isRequired]="true"
                        [className]="'bottom_error_msg'" [form]="memberForm" [key]="'aadhar_no'"
                        [displayMsg]="'Aadhar number is required'"></app-input>
                </div>
                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <app-input [isDateField]="true" label="Join Date" [(value)]="join_date" [isRequired]="true"
                        [className]="'bottom_error_msg'" [form]="memberForm" [key]="'join_date'"
                        [displayMsg]="'Join date is required'"></app-input>
                </div>
                <ng-container *ngIf="!member_id">
                    <div class="col-sm-4 col-lg-4 col-xs-12">
                        <app-input [isDateField]="false" label="Member Login Id" [(value)]="member_login_id"
                            [className]="'bottom_error_msg'" [form]="memberForm" [key]="'member_login_id'"
                            [displayMsg]="'Login id is required'"></app-input>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-xs-12">
                        <app-input [isDateField]="false" label="Password" [(value)]="password"
                            [className]="'bottom_error_msg'" [form]="memberForm" [key]="'password'"
                            [displayMsg]="'Password is required'"></app-input>
                    </div>
                </ng-container>
                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <app-dropdwon key="status" field="Status" formControlName="status" name="status"></app-dropdwon>
                </div>
                <div class="col-sm-12 col-lg-6 col-xs-12">
                    <app-input [isDateField]="false" label="Address" [(value)]="address" [isRequired]="true"
                        [className]="'bottom_error_msg'" [form]="memberForm" [key]="'address'"
                        [displayMsg]="'Address is required'"></app-input>
                </div>
            </div>
        </div>
    </form> -->
</div>