<!-- edit profile for company login -->
<app-edit-company *ngIf="user_type == 1"></app-edit-company>

<!-- edit profile for customer login -->
<app-edit-details *ngIf="user_type == 3"></app-edit-details>

<!-- edit profile for member login -->
<div class="list-containner profile_edit_container" *ngIf="user_type == 2">
    <form focusInvalidInput [formGroup]="editForm">
        <div class="card shadow dash-cardbox radius_none_bottom">
            <div class="card_inner_block">
                <div class="profile_with_block">
                    <div class="image_upload">
                        <app-fileupload [form]="editForm" class="fileupload_image"
                            [accept]="'image/png, image/gif, image/jpeg'" [imageUrl]="editForm.value['image']"
                            [imageSize]="'120'" [uploadType]="'profile'" formControlName="image"
                            [formcontrolname]="'image'" name="image"
                            (fileChange)="profileChange($event)"></app-fileupload>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <app-input [disabled]='true' [isDateField]="false" label="Name" [(value)]="name"
                                [isRequired]="true" [className]="'bottom_error_msg'" [form]="editForm" [key]="'name'"
                                [displayMsg]="'Name is required'"></app-input>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <app-input [isDateField]="false" label="Email Id" [(value)]="email" [isRequired]="true"
                                [className]="'bottom_error_msg'" [form]="editForm" [key]="'email'"
                                [displayMsg]="'Email id is required'"></app-input>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <app-input [disabled]='true' [isDateField]="false" label="Mobile" [(value)]="mobile"
                                [isRequired]="true" [className]="'bottom_error_msg'" [form]="editForm" [key]="'mobile'"
                                [displayMsg]="'Mobile is required'"></app-input>
                        </div>
                        <div class="col-sm-12">
                            <app-input [isDateField]="false" label="Address" [(value)]="address" [isRequired]="true"
                                [className]="'bottom_error_msg'" [form]="editForm" [key]="'address'"
                                [displayMsg]="'Address is required'"></app-input>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dialoge_button_container page_button">
            <button type="submit" class="global_submit_btn" mat-flat-button (click)="updateDetails()">
                <mat-icon class="submitbtn_icon" *ngIf="!loading">check</mat-icon>
                <app-button-loader *ngIf="loading"></app-button-loader>
                <span>Update</span>
            </button>
        </div>
    </form>
</div>