<nav class="navbar navbar-expand-md fixed-top top-navigation no-print" id="navbar-main">
    <div class="container-fluid search-topblock">
        <form class="navbar-search navbar-search-light form-inline mr-sm-3">
            <div class="search-box">
                <input type="text" class="searchtxt" placeholder="Search">
                <i class="mdi mdi-magnify"></i>
            </div>
            <div class="subscription_block" *ngIf="usertype == 1">
                <div class="subscription_row"><b>Subscription Date :</b><span>{{expiredDate}}</span></div>
                <div class="subscription_row"><b>Plan Type :</b><span>{{planType}}</span></div>
            </div>
        </form>
        <ul class="navbar-nav align-items-center d-md-flex">
            <li class="nav-item dropdown notification-liblock">
                <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <div class="notiblock">
                        <i class="mdi mdi-bell"></i>
                        <div class="noticounter">5</div>
                    </div>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link pr-0" (click)="showhideMenu()">
                    <div class="media align-items-center profile_navblock">
                        <span class="avatar avatar-sm rounded-circle">
                            <img alt="User" src="{{userImage}}" />
                        </span>
                        <!-- <div class="media-body ml-2  d-lg-block">
                            <span class="mb-0 text-sm  font-weight-bold "
                                style="text-transform: uppercase;">{{staff_name}}</span>
                        </div> -->
                        <div class="arrowblock">
                            <i class="mdi mdi-chevron-down"></i>
                        </div>
                    </div>
                </a>

            </li>
        </ul>
        <div class="dropdown-menu" [ngClass]="{'showMenu': showMenuAction }">
            <a routerLink="/root/profiledetails" class="dropdown-item">
                <i class="mdi mdi-account-outline mdi-18px"></i>
                <span>My Profile</span>
            </a>
            <a routerLink="/root/changepassword" class="dropdown-item">
                <i class="mdi mdi-lock-alert mdi-18px"></i>
                <span>Change Password</span>
            </a>
            <div class="dropdown-divider"></div>
            <a (click)="logout()" class="dropdown-item">
                <i class="mdi mdi-logout mdi-18px"></i>
                <span>Logout</span>
            </a>
        </div>
    </div>
</nav>