<nav class="navbar navbar-expand-md fixed-top top-navigation no-print" id="navbar-main">
    <div class="overlay_popup_block" (click)="onMenuClick()"></div>
    <div class="container-fluid search-topblock">
        <form class="navbar-search navbar-search-light form-inline mr-sm-3">
            <div class="menu_icons" (click)="onMenuClick()">
                <mat-icon>menu</mat-icon>
            </div>
            <div class="res_display_show header_mainlogo">
                <img *ngIf="currentLogingImage == null && currentLogingImage == ''"
                    src="./assets/imgs/rk-group-logo-inner.png" class="navbar-brand-img" />
                <img *ngIf="currentLogingImage" src="{{currentLogingImage}}" class="navbar-brand-img" />
                <!-- <img src="../../../assets/imgs/rk-group-logo-inner.png"> -->
            </div>
            <div class="search-box" *ngIf="userType == 0">
                <input type="text" class="searchtxt" placeholder="Search">
                <i class="mdi mdi-magnify"></i>
            </div>
            <div class="subscription_block res_display_none" *ngIf="userType == 1">
                <div class="subscription_row"><b>{{"Subscription Date"|translate}} :</b><span>{{expiredDate}}</span>
                </div>
                <div class="subscription_row"><b>{{"Plan Type"|translate}} :</b><span>{{planType}}</span></div>
            </div>
        </form>
        <ul class="navbar-nav align-items-center d-md-flex">
            <li class="">
                <div class="language_container">
                    <div class="language_block" [matMenuTriggerFor]="languageMenu">
                        <img src="{{baseUrl}}/assets/imgs/hindi-english.png" class="hindi_english_ing" />
                        <span class="res_display_none" *ngIf="language=='en'">English</span>
                        <span class="res_display_none" *ngIf="language=='hn'">हिन्दी</span>
                        <mat-icon class="res_display_none">keyboard_arrow_down</mat-icon>
                    </div>
                    <mat-menu #languageMenu="matMenu" xPosition="before" class="global_popup_small">
                        <button (click)="changeLanguage('en')" mat-menu-item>English</button>
                        <button (click)="changeLanguage('hn')" mat-menu-item>हिन्दी</button>
                    </mat-menu>
                </div>
            </li>
            <li class="nav-item dropdown notification-liblock res_display_none">
                <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <div class="notiblock">
                        <i class="mdi mdi-bell"></i>
                        <div class="noticounter">5</div>
                    </div>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link pr-0" (click)="showhideMenu()">
                    <div class="media align-items-center profile_navblock">
                        <span class="avatar avatar-sm rounded-circle">
                            <img alt="User" src="{{userImage}}" />
                        </span>
                        <!-- <div class="media-body ml-2  d-lg-block">
                            <span class="mb-0 text-sm  font-weight-bold "
                                style="text-transform: uppercase;">{{staff_name}}</span>
                        </div> -->
                        <div class="arrowblock">
                            <i class="mdi mdi-chevron-down"></i>
                        </div>
                    </div>
                </a>

            </li>
        </ul>
        <div class="dropdown-menu" [ngClass]="{'showMenu': showMenuAction }">
            <span class="login_email">{{login_emailid}}</span>
            <a (click)="editProfile()" class="dropdown-item">
                <i class="mdi mdi-account-outline mdi-18px"></i>
                <span>{{"My Profile"|translate}}</span>
            </a>
            <a routerLink="/change_password" (click)="changePassword()" class="dropdown-item">
                <i class="mdi mdi-lock-alert mdi-18px"></i>
                <span>{{"Change Password"|translate}}</span>
            </a>
            <div class="dropdown-divider"></div>
            <a (click)="logout()" class="dropdown-item">
                <i class="mdi mdi-logout mdi-18px"></i>
                <span>{{"Logout"|translate}}</span>
            </a>
        </div>
        <div class="outline_block" (click)="showhideMenu()" [ngClass]="{'showMenu_outline': showMenuAction }"></div>
    </div>
</nav>
<ng-container *ngIf="offerShow == 1">
    <div class="offer_main_section" [ngClass]="{'showOffer': offerShow == 1}">
        <div class="close_row"><mat-icon class="close-icon" (click)="onClose()" color="warn">close</mat-icon></div>
        <table class="table table-bordered table-responsive bg-white more_table">
            <tbody>
                <tr>
                    <td>
                        <div class="offer_image" *ngIf="offerData.image == null ">
                            <img src="assets/imgs/default-pic.png">
                        </div>
                        <div class="offer_image" *ngIf="offerData.image != null ">
                            <img src="{{offerData.image}}">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>{{offerData.name}}</td>
                </tr>
                <tr>
                    <td>{{offerData.type}}</td>
                </tr>
                <tr>
                    <td>{{offerData.details}}</td>
                </tr>
            </tbody>
        </table>
        <div class="bottom_default_block">
            <mat-checkbox class="left_checkbox"><span class="check_text">{{"Not Show
                    Again"|translate}}</span></mat-checkbox>
            <div class="right_action">
                <button type="submit" class="global_submit_btn" mat-flat-button (click)="checkDefaultOffer()">
                    <mat-icon class="submitbtn_icon" *ngIf="!loading">check</mat-icon>
                    <app-button-loader *ngIf="loading"></app-button-loader>
                    <span>Submit</span>
                </button>
            </div>
        </div>
    </div>
</ng-container>