.profile_navblock {
    display: inline-flex;
    align-items: center;
    margin: 0px 15px 0px 20px;
    .avatar {
        height: 40px;
        width: 40px;
        overflow: hidden;
        display: flex;
        align-items: center;
        border-radius: 50%;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
.offer_main_section {
    position: fixed;
    background: #ffffff;
    box-shadow: var(--app-brand-card-shadow);
    z-index: 15;
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
    margin: 10px;
    transition: 0.5s all;
    transform: scale(0);
    transform-origin: 100% 99%;
    max-width: 400px;
    right: 0px;
    border-radius: 10px;
    overflow: hidden;
    border: solid thin #e1e1e1;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    .close_row {
        display: flex;
        align-items: flex-end;
        width: 100%;
        justify-content: end;
        padding: 5px 5px 0px 0px;
        opacity: .8;
        transition: .5s all;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
    }
    .more_table {
        border: none;
        overflow: auto;
        max-height: calc(100% - 100px);
    }
    .bottom_default_block {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        background: #f5f5ff;
        border-top: solid thin #e1e1e1;
    }
}
.showOffer {
    transform: scale(1);
}
.subscription_row {
    display: flex;
    align-items: center;
    line-height: 20px;
    color: #858585;
    font-size: 12px;
    b {
        margin-right: 10px;
        font-weight: 600;
        display: flex;
    }
}
.dropdown-menu {
    display: flex;
    flex-flow: column;
    position: absolute;
    background: #ffffff;
    font-size: 12px;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
    z-index: 11;
    border-radius: 0px 0px 10px 10px;
    right: 20px;
    top: 60px;
    transition: .5s all;
    transform: scale(0);
    overflow: hidden;
    .dropdown-item {
        list-style: none;
        text-decoration: none;
        font-size: 13px;
        padding: 5px 15px 5px 15px;
        display: flex;
        align-items: center;
        cursor: pointer;
        color: #666666;
        transition: .5s all;
        i {
            margin-right: 10px;
        }
        &:hover {
            background: #f5f5ff;
            padding-left: 20px;
        }
    }
}

.showMenu {
    transform: scale(1);
}

// 