<div class="dialoge_header">
    <div class="left_text">{{dataa.title}}</div>
    <mat-icon class="close-icon" [mat-dialog-close]="true" color="warn">close</mat-icon>
</div>
<div class="dialoge_middle_container">
    <table class="table table-bordered table-responsive bg-white more_table">
        <tbody>

            <tr>
                <td><b>Fixed Deposit Name :</b></td>
                <td>RK-101</td>
            </tr>
            <tr>
                <td><b>Customer Name : </b></td>
                <td>RK-101</td>
            </tr>
            <tr>
                <td><b>Customer Mobile :</b></td>
                <td>RK-101</td>
            </tr>
            <tr>
                <td><b>Customer Email :</b></td>
                <td>RK-101</td>
            </tr>
            <tr>
                <td><b>Customer Mobile :</b></td>
                <td>RK-101</td>
            </tr>
            <tr>
                <td><b>Start Date :</b></td>
                <td>RK-101</td>
            </tr>
            <tr>
                <td><b>End Date:</b></td>
                <td>RK-101</td>
            </tr>
            <tr>
                <td><b>Days / Time Slot :</b></td>
                <td>RK-101</td>
            </tr>

            <tr>
                <td><b>Start Amount :</b></td>
                <td>RK-101</td>
            </tr>

            <tr>
                <td><b>End Amount :</b></td>
                <td>RK-101</td>
            </tr>



            <tr>
                <td><b>Status :</b></td>
                <td><span class="badge bg-success text-white">Active</span></td>
            </tr>
            <tr>
                <td><b>Details :</b></td>
                <td>Home no. 72, bajrang nagar jabalpur </td>
            </tr>
        </tbody>
    </table>
</div>