<div class="dialoge_header">
    <div class="left_text">{{dataa.title |translate}}</div>
    <mat-icon class="close-icon" [mat-dialog-close]="true" color="warn">close</mat-icon>
</div>
<div class="dialoge_middle_container view_details_small_popup">
    <table class="table mydata-table">
        <thead>
            <tr>
                <th class="text-center"><b>{{"S.No." |translate}} </b></th>
                <th><b>{{"Date" |translate}} </b></th>
                <th class="text-center"><b>{{"Type" |translate}} </b></th>
                <th><b>{{"Amount" |translate}} </b></th>
                <th><b>{{"Details" |translate}} </b></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="data?.length == 0">
                <td class="norecord_col" colspan="5">
                    <app-no-record-found type="table" notext="No deposit paid history found."></app-no-record-found>
                </td>
            </tr>
            <ng-container *ngIf="data?.length != 0">
                <tr class="received_row" *ngFor="let datainner of data; let i=index">
                    <td class="col text-center" [attr.data-name]="'S. No.' | translate">{{i+1}}</td>
                    <td class="col" [attr.data-name]="'Date' | translate">{{datainner?.action_date}}</td>
                    <td class="col text-center capatalise_col" [attr.data-name]="'Type' | translate">
                        {{datainner?.debit_type}}</td>
                    <td class="col text-right" [attr.data-name]="'Amount' | translate">{{datainner?.amount}}</td>
                    <td class="col" [attr.data-name]="'Details' | translate">{{datainner?.details}}</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>