<div class="list-containner">
    <div class="card shadow dash-cardbox">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col pl-0">
                    <h3 class="mb-0">{{"Collect Money List"|translate}}</h3>
                </div>
                
                <div class="col text-right pr-1 datewith_search_block calender_withsearch">
                    <div class="list_calender_filter">
                        <form [formGroup]="filterDateForm">
                            <app-input [isDateField]="true" label="Filter Date" [(value)]="date"
                                [className]="'bottom_error_msg'" [key]="'date'" [form]="filterDateForm"
                                (valueChange)="getCollectionList()"></app-input>
                        </form>
                    </div>
                    <div class="listsearch-topblock search_withaddbtn pr-0">
                        <div class="search-box">
                            <input type="text" placeholder="Search" id="search_textbox" (keyup)="searchTable($event)"
                                class="searchtxt" />
                            <i class="mdi mdi-magnify"></i>
                        </div>
                    </div>
                    <button class="global_reset_btn" mat-flat-button (click)="resetTable()">
                        <mat-icon>refresh</mat-icon>
                    </button>
                </div>
            </div>
            <div class="head_details three_block_count" *ngIf="filteredDataarray?.length != 0">
                <div class="total_block bg-warning mr-2">
                    <span>{{"Deposit Debit"
                        |translate}}</span><b>{{collectionCount?.total_deposit_debit}}</b>
                </div>
                <div class="total_block bg-primary mr-2">
                    <span>{{"Deposit Credit"
                        |translate}}</span><b><span>{{collectionCount?.total_deposit_credit}}</span></b>
                </div>
                <div class="total_block bg-success">
                    <span>{{"Loan Credit" |translate}}</span><b>{{collectionCount?.total_loan_credit}}</b>
                </div>
                <div class="total_block bg-warning mr-2">
                    <span>{{"Member Pending Amount"
                        |translate}}</span><b>{{collectionCount?.total_member_pending}}</b>
                </div>
                <div class="total_block bg-primary mr-2">
                    <span>{{"Member Received Amount"
                        |translate}}</span><b><span>{{collectionCount?.total_member_received}}</span></b>
                </div>
            </div>
        </div>
        <table class="table align-items-center table-flush mydata-table">
            <thead class="thead-light">
                <tr>
                    <th class="col profile_col">{{"Profile"|translate}}</th>
                    <th class="col sorting_apply">
                        <span>{{"Member Name"|translate}}</span>
                        <div class="sorting_arrow">
                            <mat-icon (click)="sortTableData('name');">{{ isAsc ?
                                'north' : 'south'
                                }}</mat-icon>
                        </div>
                    </th>
                    <th class="col sorting_apply date_col">
                        <span>{{"Collect Date"|translate}}</span>
                        <div class="sorting_arrow">
                            <mat-icon (click)="sortTableData('collect_date');">{{ isAsc ?
                                'north' : 'south'
                                }}</mat-icon>
                        </div>
                    </th>
                    <th class="col status_col">{{"Customer Meet"|translate}}</th>
                    <th class="col amount_col">{{"Collect Amount"|translate}}</th>
                    <th class="col status_col sorting_apply">
                        <span>{{"Receive Status"|translate}}</span>
                        <div class="sorting_arrow">
                            <mat-icon (click)="sortTableData('payment_status');">{{ isAsc ?
                                'north' : 'south'
                                }}</mat-icon>
                        </div>
                    </th>
                    <th class="col action_col">{{"Action"|translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="loader">
                    <td class="norecord_col" colspan="7">
                        <app-page-loader></app-page-loader>
                    </td>
                </tr>
                <tr *ngIf="filteredDataarray?.length == 0 && !loader">
                    <td class="norecord_col" colspan="7">
                        <app-no-record-found type="table" notext="No member collection found."></app-no-record-found>
                    </td>
                </tr>
                <ng-container *ngIf="filteredDataarray?.length != 0 && !loader">
                    <tr class="received_row" *ngFor="let item of filteredDataarray">
                        <td class="col " data-name="Image">
                            <div class="list_image_block" *ngIf="item.member.image == null">
                                <img src="assets/imgs/default-pic.png" />
                            </div>
                            <div class="list_image_block" *ngIf="item.member.image != null">
                                <img src="{{item.member.image}}" />
                            </div>
                        </td>
                        <td class="col" data-name="Member Name"> {{item.member.name}}</td>
                        <td class="col" data-name="Collect Date">
                            {{item.collect_date}}
                        </td>
                        <td class="col text-center" data-name="Customer Meet">{{item.customer_count}}</td>
                        <td class="col text-right" data-name="Collect Amount"><span appDigits>{{item.balance}}</span>
                        </td>
                        <td class="col text-center" data-name="Receive Status">
                            <span class="badge bg-warning text-white"
                                *ngIf="item.payment_status == 'working'">{{item.payment_status}}</span>
                            <span class="badge bg-danger text-white "
                                *ngIf="item.payment_status == 'unpaid'">{{item.payment_status}}</span>
                            <span class="badge bg-success text-white "
                                *ngIf="item.payment_status == 'paid'">{{item.payment_status}}</span>
                        </td>
                        <td class="action_col" data-name="Action">
                            <div placement="bottom-right">
                                <button mat-icon-button [matMenuTriggerFor]="menu"
                                    aria-label="Example icon-button with a menu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <div class="table_actionmenu">
                                        <button mat-menu-item (click)="openDialogViewDetail(item)">
                                            <i class="mdi mdi-eye mr-2"></i> <span>{{"View Details"|translate}}</span>
                                        </button>
                                        <button mat-menu-item (click)="openDialogChangeStatus(item)">
                                            <i class="mdi mdi-currency-inr mr-2"></i>
                                            <span>{{"Received Money"|translate}}</span>
                                        </button>
                                        <button mat-menu-item (click)="openDialogAdvanceMoney(item)">
                                            <i class="mdi mdi-currency-inr mr-2"></i>
                                            <span>{{"Advance Money"|translate}}</span>
                                        </button>
                                    </div>
                                </mat-menu>
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>