<div class="dialoge_header">
    <div class="left_text" *ngIf="!company_id">{{dataa.title}}</div>
    <div class="left_text" *ngIf="company_id">{{dataa.title}}</div>
    <mat-icon class="close-icon" [mat-dialog-close]="true" color="warn">close</mat-icon>
</div>
<div class="dialoge_middle_container full_height_cover">
    <form focusInvalidInput [formGroup]="companyForm">
        <div class="modal_insert">
            <div class="row">
                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <app-input [isDateField]="false" label="Company Name" [(value)]="company_name" [isRequired]="true"
                        [className]="'bottom_error_msg'" [form]="companyForm" [key]="'company_name'"
                        [displayMsg]="'Company name is required'"></app-input>
                </div>
                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <app-input [isDateField]="false" label="Owner Name" [(value)]="owner_name" [isRequired]="true"
                        [className]="'bottom_error_msg'" [form]="companyForm" [key]="'owner_name'"
                        [displayMsg]="'Owner name is required'"></app-input>
                </div>
                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <app-input [isDateField]="false" label="Mobile" [(value)]="mobile" [isRequired]="true"
                        [className]="'bottom_error_msg'" [form]="companyForm" [key]="'mobile'"
                        [displayMsg]="'Mobile is required'"></app-input>
                </div>
                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <app-input [isDateField]="false" label="Primary Color" [(value)]="primaryColor" [isRequired]="true"
                        [className]="'bottom_error_msg'" [form]="companyForm" [key]="'primaryColor'"
                        [displayMsg]="'Primary color is required'"></app-input>
                </div>
                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <app-input [isDateField]="false" label="Secondary Color" [(value)]="secondaryColor"
                        [isRequired]="true" [className]="'bottom_error_msg'" [form]="companyForm"
                        [key]="'secondaryColor'" [displayMsg]="'Secondary color is required'"></app-input>
                </div>
                <ng-container *ngIf="!company_id">
                    <div class="col-sm-4 col-lg-4 col-xs-12">
                        <!-- <app-dropdwon key="plan" field="Plan" formControlName="plan" name="plan"></app-dropdwon> -->
                        <app-dropdwon [optionArray]="dropdownService.plan" *ngIf="companyForm" [form]="companyForm"
                            formControlName="plan" name="plan" [key]="'plan'" field="Plan"></app-dropdwon>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-xs-12">
                        <app-input [isDateField]="true" label="Start Date" [(value)]="start_date" [isRequired]="true"
                            [className]="'bottom_error_msg'" [form]="companyForm" [key]="'start_date'"
                            [displayMsg]="'Start date is required'"></app-input>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-xs-12">
                        <app-input [isDateField]="true" label="End Date" [(value)]="end_date" [isRequired]="true"
                            [className]="'bottom_error_msg'" [form]="companyForm" [key]="'end_date'"
                            [displayMsg]="'End date is required'"></app-input>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-xs-12">
                        <app-input [isDateField]="false" label="Total Amount" [(value)]="total_amount"
                            [isRequired]="true" [className]="'bottom_error_msg'" [form]="companyForm"
                            [key]="'total_amount'" [displayMsg]="'Total amount is required'"></app-input>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-xs-12">
                        <app-input [isDateField]="false" label="Advance Amount" [(value)]="advance_amount"
                            [isRequired]="true" [className]="'bottom_error_msg'" [form]="companyForm"
                            [key]="'advance_amount'" [displayMsg]="'Advance amount is required'"></app-input>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-xs-12">
                        <app-input [isDateField]="false" label="Company Login Id" [(value)]="company_login_id"
                            [isRequired]="true" [className]="'bottom_error_msg'" [form]="companyForm"
                            [key]="'company_login_id'" [displayMsg]="'Login id is required'"></app-input>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-xs-12">
                        <app-input [isDateField]="false" label="Password" [(value)]="password" [isRequired]="true"
                            [className]="'bottom_error_msg'" [form]="companyForm" [key]="'password'"
                            [displayMsg]="'Password is required'"></app-input>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-xs-12">
                        <app-dropdwon key="status" field="Status" formControlName="status" name="status"></app-dropdwon>
                    </div>
                </ng-container>
                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <app-input [isDateField]="false" label="Aadhar No." [(value)]="aadhar_no" [isRequired]="true"
                        [className]="'bottom_error_msg'" [form]="companyForm" [key]="'aadhar_no'"
                        [displayMsg]="'Aadhar number is required'"></app-input>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12">
                    <app-input [isDateField]="false" label="Address" [(value)]="address" [isRequired]="true"
                        [className]="'bottom_error_msg'" [form]="companyForm" [key]="'address'"
                        [displayMsg]="'Address is required'"></app-input>
                </div>
                <div class="col-sm-12">
                    <app-input [isDateField]="false" label="Details" [(value)]="details" [isRequired]="true"
                        [className]="'bottom_error_msg'" [form]="companyForm" [key]="'details'"
                        [displayMsg]="'Details is required'"></app-input>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12">
                    <div class="file_upload_block global_textbox_block">
                        <label class="m-0">Company Main Logo</label>
                        <app-fileupload class="fileupload" formControlName="main_logo" name="main_logo"
                            (fileChange)="onFileChange($event)"></app-fileupload>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12">
                    <div class="file_upload_block global_textbox_block">
                        <label class="m-0">Company Sidebar Logo</label>
                        <app-fileupload class="fileupload" formControlName="sidebar_logo" name="sidebar_logo"
                            (fileChange)="onFileChange2($event)"></app-fileupload>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12">
                    <div class="file_upload_block global_textbox_block">
                        <label class="m-0">Company Favicon Icon</label>
                        <app-fileupload class="fileupload" formControlName="favicon_icon" name="favicon_icon"
                            (fileChange)="onFileChange3($event)"></app-fileupload>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-xs-12">
                    <div class="file_upload_block global_textbox_block">
                        <label class="m-0">Company Owner Image</label>
                        <app-fileupload class="fileupload" formControlName="owner_image" name="owner_image"
                            (fileChange)="onFileChange4($event)"></app-fileupload>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="dialoge_button_container">
    <button class="global_close_btn" [mat-dialog-close]="true" mat-stroked-button>Close</button>
    <button type="submit" class="global_submit_btn" *ngIf="!company_id" mat-flat-button (click)="save()">
        <mat-icon class="submitbtn_icon" *ngIf="!loading">check</mat-icon>
        <app-button-loader *ngIf="loading"></app-button-loader>
        <span>Submit</span>
    </button>
    <button type="submit" class="global_submit_btn" *ngIf="company_id" mat-flat-button (click)="save()">
        <mat-icon class="submitbtn_icon" *ngIf="!loading">check</mat-icon>
        <app-button-loader *ngIf="loading"></app-button-loader>
        <span>Update</span>
    </button>
</div>