<div [formGroup]="form">
    <mat-form-field class="global_dropdown" appearance="outline">
        <mat-label>{{field}}</mat-label>
        <mat-icon class="arrow_icon">keyboard_arrow_down</mat-icon>
        <mat-select formControlName="{{key}}" (selectionChange)="onChange($event.value)">
            <ng-container *ngIf="arrayType=='STRING_TYPE'">
                <mat-option *ngFor="let option of optionArray" [value]="option">
                    <span class="dropdown_text_caps">{{ option }}</span>
                </mat-option>
            </ng-container>
            <ng-container *ngIf="arrayType=='KEY_TYPE'">
                <mat-option *ngFor="let option of optionArray" [value]="option?.id">
                    <span class="dropdown_text_caps">{{ option[jsonKey] }}</span>
                </mat-option>
            </ng-container>
        </mat-select>
    </mat-form-field>
</div>