<div class="dialoge_header">
    <div class="left_text">{{dataa.title}}</div>
    <mat-icon class="close-icon" [mat-dialog-close]="true" color="warn">close</mat-icon>
</div>
<div class="dialoge_middle_container full_height_cover">
    <div class="row mt-2">
        <div class="col-sm-9">
            <div class="global_form_row">
                <mat-form-field class="global_dropdown" appearance="outline">
                    <mat-label>Not Assign Loan List - 02</mat-label>
                    <mat-icon class="arrow_icon">keyboard_arrow_down</mat-icon>
                    <mat-select>
                        <mat-option value="Sanjeev Sahu - 6263626505 - 12-Mar-2021 - 12000 - 200">
                            Sanjeev Sahu - 6263626505 - 12-Mar-2021 - 12000 - 200</mat-option>
                        <mat-option value="Sandeep Kanojiya - 6263626505 - 15-Mar-2021 - 12000 - 200">
                            Sandeep Kanojiya - 6263626505 - 12-Mar-2021 - 12000 - 200</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="col-sm-3">
            <h5 class="text-right m-0">Total Assign : 02</h5>
        </div>
    </div>
    <table class="table table-bordered table-responsive popup_table bg-white more_table">
        <thead>
            <tr>
                <th>#Cno.</th>
                <th>Customer Name</th>
                <th>Contact</th>
                <th>Amount</th>
                <th>Pending</th>
                <th>Instalment</th>
                <th>Status</th>
                <th class="text-center">Remove</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col" data-name="Cno.">RK-101</td>
                <td class="col" data-name="Customer Name">Sachin Mahra</td>
                <td class="col" data-name="Contact">6263626505</td>
                <td class="text-right col" data-name="Amount">12000</td>
                <td class="text-right col" data-name="Pending">7000</td>
                <td class="text-right col" data-name="Instalment">200</td>
                <td class="text-center col" data-name="Status"><span class="badge bg-warning text-white">Running</span>
                </td>
                <td class="text-center col" data-name="Remove"><span class="btn btn-sm btn-danger btn_download"><i
                            class="mdi mdi-account-off-outline"></i></span></td>
            </tr>
            <tr>
                <td>RK-103</td>
                <td>Rajesh Sahu</td>
                <td>6263626505</td>
                <td class="text-right">12000</td>
                <td class="text-right">0.00</td>
                <td class="text-right">200</td>
                <td class="text-center"><span class="badge bg-success text-white">Completed</span>
                </td>
                <td class="text-center"><span class="btn btn-sm btn-danger btn_download"><i
                            class="mdi mdi-account-off-outline"></i></span></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="dialoge_button_container">
    <button class="global_close_btn" [mat-dialog-close]="true" mat-stroked-button>Close</button>
</div>