<div class="dialoge_header">
    <div class="left_text">{{dataa.title |translate}}</div>
    <mat-icon class="close-icon" [mat-dialog-close]="true" color="warn">close</mat-icon>
</div>
<div class="dialoge_middle_container full_height_coverwithout_bottom">
    <div class="flex_header res_flex_colum">
        <div class="assign_text res_full_width">{{"Total Assign"|translate}} : {{total_assignlength}}</div>
        <div class="global_form_row res_full_width load_list_ddl" *ngIf="getUnassignedData?.length">
            <form form="unassignedForm" class="main_form">
                <mat-form-field class="global_dropdown" appearance="outline">
                    <mat-label>Not Assign Loan List - {{getUnassignedData.length}}</mat-label>
                    <mat-icon class="arrow_icon">keyboard_arrow_down</mat-icon>
                    <mat-select [formControl]="selectControl">
                        <mat-option *ngFor="let unassigndata of getUnassignedData; let i =index"
                            [value]="unassigndata.id">
                            {{unassigndata?.loan_no}} - {{unassigndata?.start_date}} -
                            {{unassigndata?.loan_amount}} - {{unassigndata?.installment_amount}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
            <button type="submit" class="global_submit_btn" mat-flat-button (click)="assignLoan()">
                <mat-icon class="submitbtn_icon" *ngIf="!loading">check</mat-icon>
                <app-button-loader *ngIf="loading"></app-button-loader>
                <span>{{"Submit"|translate}}</span>
            </button>
        </div>
    </div>
    <div class="page_center_loader" *ngIf="loading">
        <app-page-loader></app-page-loader>
    </div>
    <ng-container *ngIf="loanList && loanList.length > 0 && !loading">
        <!-- <p>{{loanList | json}} {{loanList?.length}}</p> -->
        <div class="main_table_head">{{"Assign Loan"|translate}}</div>
        <table class="table table-bordered table-responsive popup_table bg-white more_table">
            <thead>
                <tr>
                    <th>{{"Customer No."|translate}}</th>
                    <th>{{"Customer Name"|translate}}</th>
                    <th>{{"Contact"|translate}}</th>
                    <th>{{"Amount"|translate}}</th>
                    <th>{{"Pending"|translate}}</th>
                    <th>{{"Instalment"|translate}}</th>
                    <th>{{"Status"|translate}}</th>
                    <th class="text-center">{{"Remove"|translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let loan of loanList">
                    <td class="col" data-name="Cno.">{{loan.customer.customer_no}}</td>
                    <td class="col" data-name="Customer Name">{{loan.customer.name}}</td>
                    <td class="col" data-name="Contact">{{loan.customer.mobile}}</td>
                    <td class="text-right col" data-name="Amount">-</td>
                    <td class="text-right col" data-name="Pending"><span appDigits>{{loan.remaining_amount}}</span></td>
                    <td class="text-right col" data-name="Instalment"><span appDigits>{{loan.installment_amount}}</span>
                    </td>
                    <td class="text-center col" data-name="Status"><span class="badge bg-success text-white"
                            *ngIf="loan.status == 'active'">{{loan.status}}</span>
                        <span class="badge bg-danger text-white "
                            *ngIf="loan.status == 'inactive'">{{loan.status}}</span>
                    </td>
                    <td class="text-center col" data-name="Remove" (click)="openDialogLoanRemove(loan)"><span
                            class="btn btn-sm btn-danger btn_download"><i
                                class="mdi mdi-account-off-outline"></i></span></td>
                </tr>
            </tbody>
        </table>
        <br>
    </ng-container>
    <ng-container *ngIf="assignDepositData && assignDepositData.length > 0 && !loading">
        <div class="main_table_head">{{"Assign Deposit"|translate}}</div>
        <table class="table table-bordered table-responsive popup_table bg-white more_table">
            <thead>
                <tr>
                    <th>{{"Customer No."|translate}}</th>
                    <th>{{"Customer Name"|translate}}</th>
                    <th>{{"Contact"|translate}}</th>
                    <th>{{"Balance"|translate}}</th>

                    <th>{{"Status"|translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let deposit of assignDepositData">
                    <td class="col" data-name="Cno.">{{deposit.customer.customer_no}}</td>
                    <td class="col" data-name="Customer Name">{{deposit.customer.name}}</td>
                    <td class="col" data-name="Contact">{{deposit.customer.mobile}}</td>
                    <td class="text-right col" data-name="Amount">{{deposit.remaining_amount}}</td>

                    <td class="text-center col" data-name="Status">
                        <span class="badge bg-success text-white"
                            *ngIf="deposit.status == 'active'">{{deposit.status}}</span>
                        <span class="badge bg-danger text-white "
                            *ngIf="deposit.status == 'inactive'">{{deposit.status}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-container>
    <ng-container *ngIf="total_assignlength == 0 && !loading">
        <app-no-record-found type="page" notext="This Member not assign any Deposit and Loan."></app-no-record-found>
    </ng-container>

</div>