<div class="overall_block_container">
    <div class="login-form-box">
        <div class="zoom main_logoblock">
            <!-- <img *ngIf="currentLoingImage"src="./assets/imgs/rk-group-logo-inner.png" class="login_logo fade_animation" /> -->
            <img src="{{lastLoginImagePath}}" class="login_logo fade_animation" />

            <!-- <img src="assets/imgs/rk-group-logo.png" class="login_logo fade_animation" /> -->
        </div>
        <mat-card appearance="outlined" class="login_card" *ngIf="showlogo">
            <div class="card-body">
                <form [formGroup]="loginForm">
                    <div class="form_control_row">
                        <mat-form-field class="global_input_block password_icons" appearance="outline">
                            <mat-label>User Name</mat-label>
                            <mat-icon class="input_right_icons">perm_identity</mat-icon>
                            <input type="text" formControlName="email" name="email" required
                                placeholder="Enter Username" matInput autocomplete="new-password" />
                            <app-input-field-validation [className]="'bottom_error_msg'" [form]="loginForm"
                                [key]="'email'" [displayMsg]="'User name is required'">
                            </app-input-field-validation>
                        </mat-form-field>
                    </div>
                    <div class="form_control_row">
                        <mat-form-field class="global_input_block password_icons" appearance="outline">
                            <mat-label>Password</mat-label>
                            <mat-icon class="input_right_icons" (click)="hide = !hide">{{
                                hide ? "visibility_off" : "visibility"
                                }}</mat-icon>
                            <input formControlName="password" name="password" required maxlength="32" matInput
                                [type]="hide ? 'password' : 'text'" class="placeholder" />
                            <app-input-field-validation [className]="'bottom_error_msg'" [form]="loginForm"
                                [key]="'password'" [displayMsg]="'Password is required'">
                            </app-input-field-validation>
                        </mat-form-field>
                    </div>
                    <div class="login-btnblock text-center mt-3">
                        <button type="submit" mat-stroked-button class="btn btn_theme bg-primary"
                            (click)="check_authorizartion()">
                            <app-button-loader *ngIf="loading"></app-button-loader>
                            <mat-icon *ngIf="!loading" class="submitbtn_icon">check</mat-icon>
                            <span>Login</span>
                        </button>
                    </div>

                </form>
            </div>
        </mat-card>
        <!-- <div class="text-center form-group pr-4 mt-1 bottom" *ngIf="showlogo">
        <a routerLink="/forgot" class="text-gray"><small>Forgot password?</small></a>
    </div> -->
    </div>
</div>