<div class="dialoge_header">
    <div class="left_text">{{dataa.title |translate}}</div>
    <mat-icon class="close-icon" [mat-dialog-close]="true" color="warn">close</mat-icon>
</div>
<div class="dialoge_middle_container full_height_coverwithout_bottom">
    <!-- <h5>{{data | json}}</h5> -->
    <table class="table table-bordered table-responsive bg-white more_table">
        <tbody>
            <tr>
                <td><b>{{"Customer No."|translate}}:</b></td>
                <td>{{data.customer?.customer_no}}</td>
            </tr>
            <tr>
                <td><b>{{"Profile"|translate}} :</b></td>
                <td>
                    <div class="list_image_block float-left">
                        <img *ngIf="data.customer.image == null && data.customer.image == ''"
                            src="assets/imgs/default-pic.png">
                        <img *ngIf="data.customer.image != null" src="{{data.customer.image}}">
                    </div>
                </td>
            </tr>
            <tr>
                <td><b>{{"Customer Name"|translate}} :</b></td>
                <td>{{data.customer?.name}}</td>
            </tr>

            <tr>
                <td><b>{{"Mobile"|translate}} :</b></td>
                <td>{{data.customer?.mobile}}</td>
            </tr>
            <tr>
                <td><b>Creation Date :</b></td>
                <td>{{data.created_at}}</td>
            </tr>
            <tr>
                <td><b>{{"Assign Member"|translate}} :</b></td>
                <td>{{data.member?.name}}</td>
            </tr>

            <tr>
                <td><b>{{"Available Amount"|translate}} :</b></td>
                <td><span appDigits>{{data.remaining_amount}}</span></td>
            </tr>

            <tr>
                <td><b>{{"Status"|translate}} :</b></td>
                <td>
                    <span class="badge bg-success text-white" *ngIf="data.status=='active'">{{data.status}}</span>
                    <span class="badge bg-warning text-white" *ngIf="data.status=='inactive'">{{data.status}}</span>
                </td>
            </tr>
            <tr>
                <td><b>{{"Details"|translate}} :</b></td>
                <td>{{data.details}}</td>
            </tr>
        </tbody>
    </table>
</div>