<div class="dialoge_header">
    <div class="left_text">{{dataa.title}}</div>
    <mat-icon class="close-icon" [mat-dialog-close]="true" color="warn">close</mat-icon>
</div>
<div class="dialoge_middle_container">
    <table class="table table-bordered table-responsive bg-white more_table">
        <tbody>

            <tr>
                <td><b>Customer No.:</b></td>
                <td>{{data.customer?.customer_no}}</td>
            </tr>
            <tr>
                <td><b>Profile Image :</b></td>
                <td>
                    <div class="list_image_block float-left">
                        <img *ngIf="data.customer.image == null && data.customer.image == ''"
                            src="assets/imgs/default-pic.png">
                        <img *ngIf="data.customer.image != null" src="{{data.customer.image}}">
                    </div>
                </td>
            </tr>
            <tr>
                <td><b>Customer Name :</b></td>
                <td>{{data.customer?.name}}</td>
            </tr>

            <tr>
                <td><b>Mobile :</b></td>
                <td>{{data.customer?.mobile}}</td>
            </tr>

            <tr>
                <td><b>Aadhar No. :</b></td>
                <td>{{data.customer?.adhar_no}}</td>
            </tr>
            <tr>
                <td><b>Assign Member :</b></td>
                <td>{{data.member?.name}}</td>
            </tr>

            <tr>
                <td><b>Available Amount :</b></td>
                <td>{{data.total_paid}}</td>
            </tr>

            <tr>
                <td><b>Status :</b></td>
                <td>
                    <span class="badge bg-success text-white" *ngIf="data.status=='active'">{{data.status}}</span>
                    <span class="badge bg-warning text-white" *ngIf="data.status=='inactive'">{{data.status}}</span>
                </td>
            </tr>
            <tr>
                <td><b>Address :</b></td>
                <td>{{data.customer?.address}}</td>
            </tr>
        </tbody>
    </table>
</div>