<div class="dialoge_header">
    <div class="left_text">{{dataa.title |translate}}</div>
    <mat-icon class="close-icon" (click)="onClose()" color="warn">close</mat-icon>
</div>
<div class="dialoge_middle_container full_height_cover small_popup">
    <div class="row">
        <!-- <div class="left_text">Customer Number: </div> -->
        <div class="col-sm-12">
            <!-- <app-dropdwon formControlName="status" name="status" key="status" field="Status"
                (selectionChange)="onStatusChange($event)"></app-dropdwon> -->
            <app-dropdwon [optionArray]="dropdownService.actionForLoanStatus" (selectionChange)="onStatusChange($event)"
                [form]="providerLoanForm" [key]="'loan_status'" field="Status"></app-dropdwon>
        </div>

        <div class="col-sm-12" *ngIf="selectedStatus == 'cancelled' || selectedStatus == 'pending'">
            <form focusInvalidInput [formGroup]="providerLoanFormForCancelled">
                <div class="modal_insert">
                    <mat-form-field class="global_textarea_block" appearance="outline">
                        <mat-label>Message For Loan</mat-label>
                        <textarea matInput formControlName="reason" required> </textarea>
                    </mat-form-field>
                </div>
            </form>
        </div>
        <div class="col-sm-12" *ngIf="selectedStatus == 'approved' || selectedStatus == 'paid'">
            <form focusInvalidInput [formGroup]="providerLoanForm">
                <div class="modal_insert">
                    <!-- <app-input [isDateField]="false" label="Customer Name" [(value)]="customername" [isRequired]="true"
                        [className]="'bottom_error_msg'" [form]="providerLoanForm" [key]="'customername'"
                        [displayMsg]="'Customer Name is required'"></app-input> -->
                    <app-input [isDateField]="false" [disabled]=true label="Loan Amount" [(value)]="loan_amount"
                        [isRequired]="true" [className]="'bottom_error_msg'" [form]="providerLoanForm"
                        [key]="'loan_amount'" [displayMsg]="'Loan amount is required'"></app-input>
                    <app-input [isDateField]="false" label="Installment Amount" [(value)]="installment_amount"
                        [isRequired]="true" [className]="'bottom_error_msg'" [form]="providerLoanForm"
                        [key]="'installment_amount'" [displayMsg]="'Installment is required'"></app-input>

                    <app-input [isDateField]="true" label="Start Date" [(value)]="start_date" [isRequired]="true"
                        (valueChange)="onDateChange()" [className]="'bottom_error_msg'" [form]="providerLoanForm"
                        [key]="'start_date'" [displayMsg]="'Start date is required'"></app-input>
                    <app-input [isDateField]="true" label="End date" [(value)]="end_date" [isRequired]="true"
                        (valueChange)="onDateChange()" [className]="'bottom_error_msg'" [form]="providerLoanForm"
                        [key]="'end_date'" [displayMsg]="'End date is required'"></app-input>
                    <app-input [isDateField]="false" [disabled]=true label="No. Of Days" [(value)]="no_of_days"
                        [isRequired]="true" [className]="'bottom_error_msg'" [form]="providerLoanForm"
                        [key]="'no_of_days'" [displayMsg]="'No. of days is required'"></app-input>
                    <app-dropdwon [jsonKey]="'name'" [arrayType]="'KEY_TYPE'" [form]="providerLoanForm"
                        [key]="'assigned_member_id'" [optionArray]="memberdata"
                        *ngIf="memberdata?.length && providerLoanForm" field="Assign Member"></app-dropdwon>
                    <app-dropdwon [optionArray]="dropdownService.status" *ngIf="providerLoanForm" field="Loan Status"
                        [form]="providerLoanForm" [key]="'status'"></app-dropdwon>

                    <app-textarea [disabled]="true" label="Details" [(value)]="details" [isRequired]="false"
                        [className]="'bottom_error_msg'" [form]="providerLoanForm" [key]="'details'"></app-textarea>
                    <div class="fileupload file_upload_block">
                        <input type="file" maxlength="6" multiple (change)="onFileSelected($event)" />
                    </div>
                    <div class="global_details_image_container" *ngIf="base64Images.length > 0">
                        <div class="image_fourpart card" *ngFor="let image of base64Images">
                            <img [src]="'data:image/png;base64,' + image" alt="Uploaded Image" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="dialoge_button_container">
    <button class="global_close_btn" (click)="onClose()" mat-stroked-button>Close</button>
    <button class="global_submit_btn" mat-flat-button (click)="submit()">
        <mat-icon class="submitbtn_icon" *ngIf="!loading">check</mat-icon>
        <app-button-loader *ngIf="loading"></app-button-loader>
        <span>Submit</span>
    </button>
</div>