<div class="dialoge_header">
    <div class="left_text">{{dataa.title |translate}}</div>
    <mat-icon class="close-icon" [mat-dialog-close]="true" color="warn">close</mat-icon>
</div>
<div class="dialoge_middle_container full_height_coverwithout_bottom">

    <div class="flex_header res_flex_colum">
        <div class="assign_text res_full_width">{{"Name: "|translate}} : {{data.name}}</div>

    </div>
    <div class="page_center_loader" *ngIf="loading">
        <app-page-loader></app-page-loader>
    </div>
    <div class="main_table_head">{{"Customers: "|translate}} - {{total_assignlength}}</div>
    <form>
        <div class="page_center_loader" *ngIf="loading">
            <app-page-loader></app-page-loader>
        </div>

        <table class="table table-bordered table-responsive popup_table bg-white more_table">
            <thead>
                <tr>
                    <th>Select Customer</th>
                    <th>{{"Customer No."|translate}}</th>
                    <th>{{"Customer Name"|translate}}</th>
                    <th>{{"Contact"|translate}}</th>

                    <th>{{"Status"|translate}}</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let loan of loanList">
                    <td class="col" data-name="Cno.">
                        <button mat-menu-item>
                            <i class="mdi mdi-checkbox-marked-circle-outline mr-2"></i>
                            <span>{{"Set Default"|translate}}</span>
                        </button>
                    </td>
                    <td class="col" data-name="Cno.">{{loan.customer.customer_no}}</td>
                    <td class="col" data-name="Customer Name">{{loan.customer.name}}</td>
                    <td class="col" data-name="Contact">{{loan.customer.mobile}}</td>

                    <td class="text-center col" data-name="Status"><span class="badge bg-success text-white"
                            *ngIf="loan.status == 'active'">{{loan.status}}</span>
                        <span class="badge bg-danger text-white "
                            *ngIf="loan.status == 'inactive'">{{loan.status}}</span>
                    </td>

                </tr>
                <tr *ngFor="let deposit of assignDepositData">
                    <td class="col" data-name="Cno.">
                        <mat-checkbox class="left_checkbox"><span class="check_text"></span></mat-checkbox>
                    </td>
                    <td class="col" data-name="Cno.">{{deposit.customer.customer_no}}</td>
                    <td class="col" data-name="Customer Name">{{deposit.customer.name}}</td>
                    <td class="col" data-name="Contact">{{deposit.customer.mobile}}</td>

                    <td class="text-center col" data-name="Status">
                        <span class="badge bg-success text-white"
                            *ngIf="deposit.status == 'active'">{{deposit.status}}</span>
                        <span class="badge bg-danger text-white "
                            *ngIf="deposit.status == 'inactive'">{{deposit.status}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <ng-container *ngIf="total_assignlength == 0 && !loading">
            <app-no-record-found type="page"
                notext="This Member not assign any Deposit and Loan."></app-no-record-found>
        </ng-container>
        <div class="flex_header res_flex_colum pt-5">
            <div class="col-sm-6 col-lg-6 col-xs-12">
                <app-input [isDateField]="true" label="Date" [(value)]="date" [isRequired]="true"
                    [className]="'bottom_error_msg'" [form]="memberForm" [key]="'date'"
                    [displayMsg]="'Date is required'"></app-input>
            </div>
            <div class="col-sm-6 col-lg-6 col-xs-12">
                <app-dropdwon [jsonKey]="'name'" [arrayType]="'KEY_TYPE'" [form]="memberForm"
                    [key]="'assigned_member_id'" [optionArray]="memberdata" *ngIf="memberdata?.length && memberForm"
                    field="Assign Member"></app-dropdwon>
            </div>

        </div>
    </form>


</div>


<div class="dialoge_button_container">
    <button class="global_close_btn" (click)="onClose()" mat-stroked-button>Close</button>
    <button type="submit" class="global_submit_btn" mat-flat-button (click)="submit()">
        <mat-icon class="submitbtn_icon" *ngIf="!loading">check</mat-icon>
        <app-button-loader *ngIf="loading"></app-button-loader>
        <span *ngIf="!member_id">Submit</span>
        <span *ngIf="member_id">Update</span>
    </button>
</div>