<div class="dialoge_header">
    <div class="left_text">{{dataa.title |translate}}</div>
    <mat-icon class="close-icon" [mat-dialog-close]="true" color="warn">close</mat-icon>
</div>
<div class="dialoge_middle_container full_height_cover">
    <div class="flex_header res_flex_colum">
        <div class="assign_text res_full_width">{{data.name}}</div>
        <div class="main_table_head" *ngIf="loading">{{"Assign Customers: "|translate}}{{total_assignlength}}</div>
    </div>
    <div class="page_center_loader" *ngIf="loading">
        <app-page-loader></app-page-loader>
    </div>
    <form *ngIf="!loading">
        <table class="table mydata-table popup_table bg-white">
            <thead>
                <tr>
                    <th class="col s_no">{{"Select"|translate}}</th>
                    <th class="col">{{"C.No."|translate}}</th>
                    <th class="col">{{"Customer Name"|translate}}</th>
                    <th class="col">{{"Contact"|translate}}</th>
                    <th class="col">{{"Address"|translate}}</th>
                    <th class="col">{{"Type"|translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let loan of loanList">
                    <td class="col" [attr.data-name]="'C.No.' | translate">
                        <button mat-menu-item>
                            <i class="mdi mdi-checkbox-marked-circle-outline mr-2"></i>
                            <span>{{"Set Default"|translate}}</span>
                        </button>
                    </td>
                    <td class="col" [attr.data-name]="'C.No.' | translate">{{loan.customer.customer_no}}</td>
                    <td class="col" [attr.data-name]="'Customer Name' | translate">{{loan.customer.name}}</td>
                    <td class="col" [attr.data-name]="'Contact' | translate">{{loan.customer.mobile}}</td>
                    <td class="col" [attr.data-name]="'Contact' | translate">{{loan.customer.address}}</td>
                    <td class="text-center col" [attr.data-name]="'Type' | translate"><span
                            class="badge bg-primary text-white">Loan</span>
                    </td>
                </tr>
                <tr *ngFor="let deposit of assignDepositData">
                    <td class="col" [attr.data-name]="'C.No.' | translate">
                        <mat-checkbox class="left_checkbox"><span class="check_text"></span></mat-checkbox>
                    </td>
                    <td class="col" [attr.data-name]="'C.No.' | translate">{{deposit.customer.customer_no}}</td>
                    <td class="col" [attr.data-name]="'Customer Name' | translate">{{deposit.customer.name}}</td>
                    <td class="col" [attr.data-name]="'Contact' | translate">{{deposit.customer.mobile}}</td>
                    <td class="col" [attr.data-name]="'Contact' | translate">{{deposit.customer.address}}</td>
                    <td class="text-center col" [attr.data-name]="'Type' | translate">
                        <span class="badge bg-primary text-white">Deposit</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <ng-container *ngIf="total_assignlength == 0 && !loading">
            <app-no-record-found type="page" notext="This Member not assign any Deposit or Loan."></app-no-record-found>
        </ng-container>
        <div class="flex_header res_flex_colum">
            <div class="date_block">
                <app-input [isDateField]="true" label="Date" [(value)]="date" [isRequired]="true"
                    [className]="'bottom_error_msg'" [form]="memberForm" [key]="'date'"
                    [displayMsg]="'Date is required'"></app-input>
            </div>
            <div class="member_block">
                <app-dropdwon [jsonKey]="'name'" [arrayType]="'KEY_TYPE'" [form]="memberForm"
                    [key]="'assigned_member_id'" [optionArray]="memberdata" *ngIf="memberdata?.length && memberForm"
                    field="Assign Member"></app-dropdwon>
            </div>
        </div>
    </form>
</div>
<div class="dialoge_button_container">
    <button class="global_close_btn" (click)="onClose()" mat-stroked-button>{{"Close"|translate}}</button>
    <button type="submit" class="global_submit_btn" mat-flat-button (click)="submitAssignCustomer()">
        <mat-icon class="submitbtn_icon" *ngIf="!btnloading">check</mat-icon>
        <app-button-loader *ngIf="btnloading"></app-button-loader>
        <span>{{"Assing Member"|translate}}</span>
    </button>
</div>