<div class="list-containner" *ngIf='userType == 3'>
    <div class="card shadow dash-cardbox collect_money_card">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col col-sm-4 pl-1">
                    <h3 class="mb-0">{{"Running Loan / Deposit Account List"|translate}}</h3>
                </div>
            </div>
        </div>
        <div class="assign_customer_container justify-center" *ngIf="loading">
            <div class="page_laoder_collection">
                <app-page-loader></app-page-loader>
            </div>
        </div>
        <div class="assign_customer_container" *ngIf="!loading">
            <ng-container *ngIf="loanData?.length">
                <div class="assign_customer_block" *ngFor="let loan of loanData">
                    <ul class="list-unstyled dynamic_card_data">
                        <li class="data_head">{{"Loan No."|translate}}</li>
                        <li class="data_val">{{loan.loan_no}}</li>
                        <li class="data_head">{{"Loan Days"|translate}}</li>
                        <li class="data_val">{{loan.no_of_days}}</li>
                        <li class="data_head">{{"Loan Status"|translate}}</li>
                        <li class="data_val">{{loan.loan_status}}</li>
                        <li class="data_head">{{"Loan Date"|translate}}</li>
                        <li class="data_val">{{loan.loan_status_change_date}}</li>
                        <li class="data_head">{{"Collect Member"|translate}}</li>
                        <li class="data_val">{{loan.member.name}}</li>
                        <li class="data_head">{{"Total Amt"|translate}}</li>
                        <li class="data_val">{{loan.loan_amount}}</li>
                        <li class="data_head">{{"Total Paid"|translate}}</li>
                        <li class="data_val">{{loan.total_paid}}</li>
                        <li class="data_head">{{"Pending Amt"|translate}}</li>
                        <li class="data_val">{{loan.remaining_amount}}</li>
                    </ul>
                    <div class="action_block">
                        <button mat-raised-button (click)="openDialogInstallmentHistory(loan)"
                            class="btn btn-sm btn-success global_submit_btn">Paid History</button>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="customerDepositData?.length">
                <div class="assign_customer_block" *ngFor="let deposit of customerDepositData">
                    <ul class="list-unstyled dynamic_card_data">
                        <li class="data_head">{{"Deposit No."|translate}}</li>
                        <li class="data_val">{{deposit.deposit_no}}</li>
                        <li class="data_head">{{"Status"|translate}}</li>
                        <li class="data_val">{{deposit.status}}</li>
                        <li class="data_head">{{"Available Amt"|translate}}</li>
                        <li class="data_val">{{deposit.remaining_amount}}</li>
                        <li class="data_head">{{"Collector Image"|translate}}</li>
                        <li class="data_val">
                            <div class="list_image_block">
                                <img *ngIf="deposit.member.image != null" src="{{deposit.member.image}}" />
                                <img *ngIf="deposit.member.image == null" src="assets/imgs/default-pic.png" />
                            </div>
                        </li>
                        <li class="data_head">{{"Collect Member"|translate}}</li>
                        <li class="data_val">{{deposit.member.name}}</li>
                    </ul>
                    <div class="action_block">
                        <button mat-raised-button class="btn btn-sm btn-success global_submit_btn"
                            (click)="viewDetails(deposit,'deposit')">View Details</button>
                    </div>
                </div>
            </ng-container>
            <div class="assign_customer_block" *ngIf="!customerDepositData.length && !loanData.length">
                <app-no-record-found type="page" notext="No Deposit and Loan account available."></app-no-record-found>
            </div>
        </div>
    </div>
</div>
<div class="list-containner" *ngIf='userType == 2'>
    <div class="card shadow dash-cardbox collect_money_card">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col col-sm-4 pl-1">
                    <h3 class="mb-0">{{"Assigned Customer"|translate}}</h3>
                </div>
                <div class="col text-right pr-1 datewith_search_block">
                    <div class="listsearch-topblock search_withaddbtn pr-0">
                        <div class="search-box">
                            <input type="text" placeholder="Search" class="searchtxt" />
                            <i class="mdi mdi-magnify"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="assign_customer_container justify-center" *ngIf="loading">
            <div class="page_laoder_collection">
                <app-page-loader></app-page-loader>
            </div>
        </div>
        <!-- <app-no-record-found [type]="'page'" [notext]="'Admin not assign any loan & collection...'"></app-no-record-found> -->
        <div class="assign_customer_container" *ngIf="!loading">
            <ng-container
                *ngIf="!filteredDataarray.length && !memberDepositData.length || filteredDataarray == undefined">
                <app-no-record-found [type]="'page'"
                    [notext]="'Admin not assign any loan & collection...'"></app-no-record-found>
            </ng-container>
            <ng-container *ngIf="filteredDataarray.length">
                <div class="assign_customer_block" *ngFor="let loan of filteredDataarray">
                    <ul class="list-unstyled dynamic_card_data">
                        <li class="data_head">{{"Loan No."|translate}}</li>
                        <li class="data_val">{{loan.loan_no}}</li>
                        <li class="data_head">{{"Name"|translate}}</li>
                        <li class="data_val">{{loan.customer.name}}</li>
                        <li class="data_head">{{"Profile"|translate}}</li>
                        <li class="data_val">
                            <div class="list_image_block">
                                <img *ngIf="loan.customer.image != null" src="{{loan.customer.image}}" />
                                <img *ngIf="loan.customer.image == null" src="assets/imgs/default-pic.png" />
                            </div>
                        </li>
                        <li class="data_head">{{"Mobile"|translate}}</li>
                        <li class="data_val">{{loan.customer.mobile}}</li>
                        <li class="data_head">{{"Collection Type"|translate}}</li>
                        <li class="data_val">Loan</li>
                        <li class="data_head">{{"Total Amt"|translate}}</li>
                        <li class="data_val">{{loan.loan_amount}}</li>
                        <li class="data_head">{{"Pending Amt"|translate}}</li>
                        <li class="data_val">{{loan.remaining_amount}}</li>
                        <li class="data_head">{{"Instalment"|translate}}</li>
                        <li class="data_val">{{loan.installment_amount}}</li>
                    </ul>
                    <div class="action_block">
                        <button mat-raised-button (click)="actionAssignItems(loan, 'loan')"
                            class="btn btn-sm btn-success global_submit_btn">
                            <i class="mdi mdi-currency-inr"></i>Collect Money</button>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="memberDepositData.length">
                <div class="assign_customer_block" *ngFor="let deposit of memberDepositData">
                    <ul class="list-unstyled dynamic_card_data">
                        <li class="data_head">{{"Deposit No."|translate}}</li>
                        <li class="data_val">{{deposit.deposit_no}}</li>
                        <li class="data_head">{{"Name"|translate}}</li>
                        <li class="data_val">{{deposit.customer.name}}</li>
                        <li class="data_head">{{"Profile"|translate}}</li>
                        <li class="data_val">
                            <div class="list_image_block">
                                <img *ngIf="deposit.customer.image != null" src="{{deposit.customer.image}}" />
                                <img *ngIf="deposit.customer.image == null" src="assets/imgs/default-pic.png" />
                            </div>
                        </li>
                        <li class="data_head">{{"Mobile"|translate}}</li>
                        <li class="data_val">{{deposit.customer.mobile}}</li>
                        <li class="data_head">{{"Collection Type"|translate}}</li>
                        <li class="data_val">Deposit</li>
                        <li class="data_head">{{"Available Amt"|translate}}</li>
                        <li class="data_val">{{deposit.remaining_amount}}</li>
                    </ul>
                    <div class="action_block">
                        <button mat-raised-button (click)="actionAssignItems(deposit, 'deposit')"
                            class="btn btn-sm btn-success global_submit_btn">
                            <i class="mdi mdi-currency-inr"></i>Collect Money</button>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>