<div class="list-containner">
    <div class="row">
        <div class="col-xl-12 mb-xl-0">
            <div class="card shadow dash-cardbox">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col pl-1">
                            <h3 class="mb-0">Company List</h3>
                        </div>
                        <div class="col text-right pr-1 datewith_search_block">
                            <div class="listsearch-topblock">
                                <div class="search-box">
                                    <input type="search" placeholder="Search" class="searchtxt" />
                                    <i class="mdi mdi-magnify"></i>
                                </div>
                                <div class="right_addbtn">
                                    <button data-toggle="modal" (click)="addMember(1)"
                                        data-target="#actionCompany_modal"
                                        class="btn btn-success btn-sm create_header_btn" mat-raised-button>
                                        <i class="mdi mdi-account"></i>
                                        <span class="btn-txt button-text">Add Company</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table align-items-center table-flush mydata-table">
                    <thead class="thead-light">
                        <tr>
                            <th class="col">Name</th>
                            <th class="col text-center">Logo</th>
                            <th class="col">Owner Name</th>
                            <th class="col">Mobile</th>
                            <th class="col">Start Date</th>
                            <th class="col">End Date</th>
                            <th class="col">Plan</th>
                            <th class="col">Amount</th>
                            <th class="col">Pending</th>
                            <th class="col text-center">Status</th>
                            <th class="col action_col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col" data-name="Name">RK Group</td>
                            <td class="col" data-name="Logo">
                                <div class="list_image_block">
                                    <img src="assets/imgs/rk-group-logo.png" />
                                </div>
                            </td>
                            <td class="col" data-name="Owner Name">Roshan Kanojiya</td>
                            <td class="col" data-name="Mobile">6263626505</td>
                            <td class="col" data-name="Start Date">12-02-2022</td>
                            <td class="col" data-name="End Date">11-02-2023</td>
                            <td class="col" data-name="Plan">Monthly</td>
                            <td class="col text-right" data-name="Amount">1999.00</td>
                            <td class="col text-right" data-name="Pending">1999.00</td>
                            <td class="col text-center" data-name="Status"><span
                                    class="badge bg-success text-white">Active</span></td>
                            <td class="action_col" data-name="Action">

                                <div placement="bottom-right">

                                    <button mat-icon-button [matMenuTriggerFor]="menu"
                                        aria-label="Example icon-button with a menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)="openDialog()">
                                            <mat-icon>dialpad</mat-icon>
                                            <span>Company History</span>
                                        </button>


                                        <button mat-menu-item (click)="openDialog2()">
                                            <mat-icon>notifications_off</mat-icon>
                                            <span>View Details</span>
                                        </button>
                                        <button mat-menu-item (click)="openDialog3()">
                                            <mat-icon>notifications_off</mat-icon>
                                            <span>Edit Customer</span>
                                        </button>
                                        <button mat-menu-item (click)="openDialog4()">
                                            <mat-icon>notifications_off</mat-icon>
                                            <span>Received Amount</span>
                                        </button>
                                        <button mat-menu-item (click)="openDialog5('0ms', '0ms')">
                                            <mat-icon>notifications_off</mat-icon>
                                            <span>Status</span>
                                        </button>
                                    </mat-menu>

                                </div>



                            </td>
                        </tr>
                        <tr>
                            <td class="col">Sudarshan Group</td>
                            <td class="col">
                                <div class="list_image_block">
                                    <img src="assets/imgs/rk-group-logo2.png" />
                                </div>
                            </td>
                            <td class="col">Sudharshan Yadav</td>
                            <td class="col">6263626505</td>
                            <td class="col">12-02-2022</td>
                            <td class="col">11-02-2023</td>
                            <td class="col">Yearly</td>
                            <td class="col text-right">15000.00</td>
                            <td class="col text-right">0.00</td>
                            <td class="col text-center"><span class="badge bg-warning text-white">Inactive</span></td>
                            <td class="action_col">
                                <div ngbDropdown placement="bottom-right">
                                    <a class="btn btn-sm btn-icon-only text-light no_before_after" ngbDropdownToggle>
                                        <i class="mdi mdi-dots-vertical"></i>
                                    </a>
                                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                                        <a class="dropdown-item" data-target="#history_modal" data-toggle="modal">
                                            <i class="mdi mdi-history mr-2"></i>Company History</a>

                                        <a class="dropdown-item" data-target="#view_modal" data-toggle="modal">
                                            <i class="mdi mdi-eye mr-2"></i>View Details</a>
                                        <a class="dropdown-item" data-toggle="modal" (click)="addMember(0)"
                                            data-target="#actionCompany_modal">
                                            <i class="mdi mdi-pencil mr-2"></i>Edit Company</a>
                                        <a class="dropdown-item" data-toggle="modal"
                                            data-target="#planreceived_amount_modal">
                                            <i class="mdi mdi-cash-100 mr-2"></i>Received Amount</a>
                                        <a class="dropdown-item" (click)="statusActive()">
                                            <i class="mdi mdi-account-off-outline mr-2"></i>Active</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="11" class="norecord_col">
                                <div class="no_found">
                                    <h1><i class="mdi mdi-alert-outline"></i></h1><b> No record found </b>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>