<div class="list-containner">
    <div class="card shadow dash-cardbox">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col col-sm-4 pl-1">
                    <h3 class="mb-0">{{"Member List"|translate}}</h3>
                </div>
                <div class="col text-right pr-1 datewith_search_block">
                    <div class="listsearch-topblock search_withaddbtn">
                        <div class="search-box">
                            <input type="text" placeholder="Search" (keyup)="searchTable($event)" class="searchtxt" />

                            <i class="mdi mdi-magnify"></i>
                        </div>
                        <div class="right_addbtn">
                            <button data-toggle="modal" (click)="openDialogAddMember()"
                                data-target="#actionCustomer_modal" class="btn btn-success btn-sm create_header_btn"
                                mat-raised-button>
                                <i class="mdi mdi-account-plus-outline"></i>
                                <span class="btn-txt button-text">{{"Add"|translate}}</span>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table align-items-center table-flush mydata-table">
            <thead class="thead-light">
                <tr>
                    <th class="col sorting_apply id_col">
                        <span>{{"Member No."|translate}}</span>
                        <div class="sorting_arrow">
                            <mat-icon (click)="sortTableData('member_no');">{{ isAsc ?
                                'north' : 'south'
                                }}</mat-icon>
                        </div>
                    </th>
                    <th class="col profile_col">{{"Profile"|translate}}</th>

                    <th class="col sorting_apply">
                        <span>{{"Name"|translate}}</span>
                        <div class="sorting_arrow">
                            <mat-icon (click)="sortTableData('name');">{{ isAsc ?
                                'north' : 'south'
                                }}</mat-icon>
                        </div>
                    </th>
                    <th class="col sorting_apply email_col">
                        <span>{{"Email"|translate}}</span>
                        <div class="sorting_arrow">
                            <mat-icon (click)="sortTableData('email');">{{ isAsc ?
                                'north' : 'south'
                                }}</mat-icon>
                        </div>
                    </th>
                    <th class="col mobile_col">{{"Mobile"|translate}}</th>
                    <th class="col aadhar_col">{{"Aadhar No."|translate}}</th>
                    <th class="col date_col">{{"Join Date"|translate}}</th>
                    <th class="col status_col">{{"Status"|translate}}</th>
                    <th class="col action_col">{{"Action"|translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="loader">
                    <td class="norecord_col" colspan="9">
                        <app-page-loader></app-page-loader>
                    </td>
                </tr>
                <tr *ngIf="filteredDataarray?.length == 0 && !loader">
                    <td class="norecord_col" colspan="9">
                        <app-no-record-found type="table" notext="No member found"></app-no-record-found>
                    </td>
                </tr>
                <ng-container *ngIf="filteredDataarray?.length != 0 && !loader">
                    <tr class="received_row" *ngFor="let item of filteredDataarray">
                        <td class="col" data-name="Member No.">{{item.member_no}}</td>
                        <td class="col " data-name="Image">
                            <div class="list_image_block" *ngIf="item.image == null">
                                <img src="assets/imgs/default-pic.png" />
                            </div>
                            <div class="list_image_block" *ngIf="item.image != null">
                                <img src="{{item.image}}" />
                            </div>
                        </td>
                        <td class="col" data-name="Name">{{item.name}}</td>
                        <td class="col " data-name="Email">{{item.email}}</td>
                        <td class="col " data-name="Mobile">{{item.mobile}}</td>
                        <td class="col " data-name="Adhar No.">{{item.aadhar_no}}</td>
                        <td class="col " data-name="Join Date">{{item.join_date}}</td>
                        <td class="col " data-name="Status">
                            <span class="badge bg-success text-white"
                                *ngIf="item.status == 'active'">{{item.status}}</span>
                            <span class="badge bg-danger text-white "
                                *ngIf="item.status == 'inactive'">{{item.status}}</span>
                        </td>
                        <td class="col " data-name="Action">
                            <div placement="bottom-right">
                                <button class="table_actionbtn_block" mat-icon-button [matMenuTriggerFor]="menu"
                                    aria-label="Example icon-button with a menu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <div class="table_actionmenu">

                                        <button mat-menu-item (click)="openDialogMemberDetails(item)">
                                            <i class="mdi mdi-eye mr-2"></i> <span>{{"View Details"|translate}}</span>
                                        </button>
                                        <button mat-menu-item (click)="openDialogAssignLoan(item)">
                                            <i class="mdi mdi-account-check-outline mr-2"></i> <span>{{"Assign
                                                Loan"|translate}}</span>
                                        </button>
                                        <button mat-menu-item (click)="openDialogEditMember(item)">
                                            <i class="mdi mdi-pencil mr-2"></i> <span>
                                                {{"Edit Member"|translate}}</span>
                                        </button>
                                        <button mat-menu-item (click)="openDialogLeaveMember(item)">
                                            <i class="mdi mdi-calendar mr-2"></i> <span>
                                                {{"Manage Leave"|translate}}</span>
                                        </button>
                                        <button mat-menu-item (click)="openDialogStatus('1ms', '5ms',item)">
                                            <i class="mdi mdi-account-off-outline mr-2"></i>
                                            <span>{{"Status"|translate}}</span>
                                        </button>
                                    </div>
                                </mat-menu>

                            </div>



                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>